[2018-01-15 19:09] #362 closed, assigned to nobody

[2018-01-19 13:05] RedNesto commented on #365
Seems I can't reproduce this with the same version (SpongeVanilla 1.12.2-7.1.0-BETA-3)

[2018-01-19 14:02] ryantheleach commented on #365
@nihiluis Thanks for the report, but there seems to be something missing in the reproduction steps. ( in addition I took a look in my checked out repo and was unable to pinpoint why or how it could be null in SpongeCommon)

If you (or anyone else) is able to reproduce this with more detail as to what steps need to be taken, feel free to create a new issue or comment on this one.

[2018-01-19 14:02] #365 closed, assigned to nobody

[2018-01-30 14:00] ryantheleach commented on #271
Going over old issues I'd like to advocate for keeping the experience the same between SpongeForge and SpongeVanilla.

Currently you can *not* load mixins from plugins on SpongeForge (but can from mods), and not many plugins on Ore have opted to use mixins, but some do.
see: https://github.com/SpongePowered/SpongeForge/issues/1977

I would like to opt for closing this issue, not making it artifici

[2018-01-31 05:58] ryantheleach commented on #326
@codeHusky Have you seen this recently on SV?

[2018-01-31 10:27] ryantheleach opened #367 "It's impossible to respawn on Sponge Vanilla."
SpongeVanilla-1.12.2-7.1.0-BETA-14.jar

This is SV HIGHEST priority currently.

[code]

[2018-01-31 10:31] XakepSDK commented on #367
Meh, as i said, semi-fixes are bad. Just copy 2 fields with spawnpoints from old player instance to new player instance.

[2018-01-31 11:28] ryantheleach commented on #367
People had troubles understanding you, and I'm not sure what you mean by semi-fix.

[2018-01-31 11:40] XakepSDK commented on #367
https://github.com/SpongePowered/SpongeVanilla/blob/bleeding/src/main/java/org/spongepowered/server/mixin/core/entity/player/MixinEntityPlayer.java#L75-L76
These 2 fields present in SpongeVanilla and SpongeForge only.
When player respawns, copy these fields to new instance.
Current fix copies bedpos from target dimension only.

[2018-01-31 11:41] Faithcaio commented on #367
nah I just missed bloods commit in bleeding:
https://github.com/SpongePowered/SpongeVanilla/commit/311f42fe6055726c4049c3909f2c9ab8231aefb6
 ^ needs to go into stable

[2018-01-31 11:48] Faithcaio commented on #367
@XakepSDK no they are already copied:

https://github.com/SpongePowered/SpongeVanilla/blob/e5bce9a752a03a8b583aa086afb46de62097ac87/src/main/java/org/spongepowered/server/mixin/core/entity/player/MixinEntityPlayerMP.java

similar in Forge.

[2018-01-31 11:50] XakepSDK commented on #367
Meh, mixins...

[2018-01-31 11:52] Faithcaio commented on #367
It just mirrored the way forge does it.

[2018-01-31 15:51] #367 closed, assigned to Faithcaio

[2018-01-31 18:56] codeHusky commented on #326
Seems mostly to have to do with worlds initally created with old API versions.

[2018-02-02 07:11] pmbarrett314 commented on #324
I'm not super familiar with this codebase or Minecraft modding, but I'm having this issue on SpongeForge 1.12, and I've been doing some digging. I think the issue with not being able to set a default overworld for portals is [in this if statement.](https://github.com/SpongePowered/SpongeCommon/blob/d67635478d8108b34f86b427be3ae290af8dab30/src/main/java/org/spongepowered/common/entity/EntityUtil.ja

[2018-02-02 09:35] ryantheleach commented on #324
@pmbarrett314 Can you post the relevant part of the configuration, as well as what you expect to happen? How many worlds do you have, and how are they configured?

What do you expect to happen in SV by default, compared to the behavior you are observing?

(as for your comment on the code, I'd need to have another look when I've got time to poke around with it, sorry for not addressing it directly,

[2018-02-02 23:31] pmbarrett314 commented on #324
I honestly just looked at exactly what repo I'm commenting on. I'm running SF, but the issue shouldn't have anything to do with Forge, and does seem to be related to one of @aWitch-Doctor 's issues.

I've got the default three worlds/dimensions, `world`, `DIM-1`, `DIM1`, and I want to add a second set of worlds set up differently, we'll call them `other`, `other_nether`, and `other_end`. When you

[2018-02-02 23:58] #326 closed, assigned to stephan-gh

[2018-05-09 17:10] wuming123 opened #368 "Can sponge operate World asynchronously?"
Bukkit does not recommend or prohibit the asynchronous operation of BukkitAPI after 1.8.
Is sponge able to perform asynchronous operations on the main thread?

[2018-05-09 19:12] Zidane commented on #368
No

[2018-05-09 19:12] #368 closed, assigned to nobody

[2018-05-17 19:28] TGeneDavis commented on #324
I'm trying to get portals connecting to the correct world based off the world.conf configurations, and after a lot of frustration I finally looked at the code. It appears in 'stable-7' that the portalAgents.put() values are hardcoded. Instead of using the world.conf file.

Am I misunderstanding the code? (WorldCategory.java ln 125-126)

If this is still an outstanding bug, I don't mind taking a cr

[2018-05-18 02:11] TGeneDavis commented on #324
I added some logging and found the values are loading properly from the *.conf file. However, it's still sending to the wrong world when going through a nether portal. I'll poke around some more.

[2018-05-18 02:46] TGeneDavis commented on #324
Looks like DimensionType is being used to find the world keys in the portalAgents map in EntityUtil. However, the global.conf and world.conf files all have a different name than included in DimensionType. So the key is coming in for nether as 'minecraft:default_nether', but internally EntityUtil is looking for the key 'minecraft:default_the_nether'.

This is SpongeVanilla. I haven't checked to see

[2018-05-18 04:01] TGeneDavis commented on #324
Just another note, when coming back through the portal after changing all code and configurations to use minecraft:default_the_nether, the server is confused and thinks you are interacting with 'world' instead of the 2nd world. That means making clicks result in the 'world' block appearing in the place of the block that should be in the 2nd world, if one exist in the main 'world'.

Also, when you

[2018-05-19 18:17] tomlangs opened #370 "Java version out of date"
When running the spongevanilla jar (spongevanilla-1.12.2-7.1.0-BETA-33) using jre10.0.1 , I get the following false error telling me that I would be using a too old version of java:
![image](https://user-images.githubusercontent.com/20524089/40271714-64e317dc-5ba1-11e8-8cda-69e297e1478c.png)

[2018-05-19 18:50] phit commented on #370
https://github.com/SpongePowered/SpongeVanilla/issues/355#issuecomment-335770593

[2018-05-19 18:50] #370 closed, assigned to nobody

[2018-05-19 18:51] Aaron1011 commented on #370
While you're correct that Java 10 isn't 'out of date', it still isn't compatible with Sponge. Java 9 introduced a new 'modules' system that the entire Minecraft ecosystem has yet to be compatible with. For now, you'll need to use Java 8.

[2018-05-26 15:59] bloodmc commented on #344
@Aaron1011 please take a look at this.

[2018-05-26 16:17] bloodmc commented on #344
OK the issue is caused by the mob ticking after the player respawns far away. In vanilla, the mob does NOT tick after respawn. However if you TP between same locations then the mob does indeed despawn which also happens in vanilla.
Just to clarify, Death is a `REQUIREMENT` as the player MUST `respawn` further than 400 blocks away in order for the mobs to stay in vanilla.

[2018-05-26 16:20] bloodmc commented on #344
The issue is due to how we delay unloading chunks based on player activity. In vanilla the chunk is unloaded IMMEDIATELY but in Sponge we delay this to avoid constant load/unloads when players move in and out of an area. The fix should simply be not to tick any mobs if the chunk unload timer has started.

[2018-05-26 16:47] #344 closed, assigned to Aaron1011, bloodmc

[2018-05-27 11:38] BadWolf-i opened #371 "Can't run on Java 10"
Exeptions:
[code]
Java version:

[code]

[2018-05-27 11:47] #371 closed, assigned to nobody

[2018-05-27 13:06] Lemmmy commented on #371
Why did you close this? To help people having similar issues in the future, please share your solution here.

[2018-05-27 13:41] liach commented on #371
@lemmmy read the body of the messae. sponge needs jre version 1.8.

[2018-05-27 14:20] Cybermaxke commented on #371
Actually the message sais that you should use JRE 8 OR ABOVE, this also includes JRE 9, 10, 11, ... The version checker should be updated to warn the these versions aren't supported either, for now at least. This issue also applies to SpongeForge.

[2018-05-27 16:12] phit commented on #371
@Cybermaxke already was, op is just not using any recent version

https://github.com/SpongePowered/SpongeCommon/commit/942fccbea58a6d0822f474b7303e1d26340726af#diff-896421080e368feeabd2179e003dfbac

[2018-06-05 06:41] LXGaming opened #372 "End Credits not triggering"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.0-BETA-57
- Java version: 1.8
- Operating System: Windows 10

- Plugins/Mods:
None

**Issue Description**
Upon killing the EnderDragon a portal in the center of the End island is created, Jumping into this Portal should trigger the End Credits but this does not happen with SpongeVanilla instead the player ends up in a "ghost" state wh

[2018-07-18 20:31] kmecpp opened #373 "Avoid crashing on invalid @Plugin annotations"
Tried to launch my server after adding a Sponge plugin that depended on another Sponge plugin and the server crashed. Is this a Sponge issues?

[code]

[2018-07-18 20:33] Zidane commented on #373
@Minecrell can you look into this?

@kmecpp What plugins?

[2018-07-18 20:36] kmecpp commented on #373
Two of my own plugins. It's possible I screwed something up but there's nothing about them in the stacktrace so I wouldn't know what the issue is

[2018-07-19 07:08] stephan-gh commented on #373
@kmecpp Can you share the JAR of your plugins? For some reason, it's confused about something in the `@Plugin` annotation.

[2018-07-19 12:36] kmecpp commented on #373
Here are the jars. Note that the `@Plugin` annotation is autogenerated for the `EnjinNewsSponge` class and I'm using my own mcmod.info files.

[mods.zip](https://github.com/SpongePowered/SpongeVanilla/files/2209911/mods.zip)

[2018-07-19 12:54] stephan-gh commented on #373
That sounds suspicious.

If you generate this automatically, you should only set the plugin ID in the `@Plugin` annotation. Everything else can be loaded from the generated `mcmod.info` file and will override the `@Plugin` annotation at runtime. There is no need to set plugin name, authors, version or dependencies in the plugin annotation.

To be exact however, the problem here is that you generat

[2018-07-19 12:58] kmecpp commented on #373
Ahh thank you! Just saved me a lot of head banging

[2018-07-19 13:02] stephan-gh commented on #373
Additional suggestion: Consider using https://github.com/SpongePowered/plugin-meta to generate the `mcmod.info` file. It's already a dependency of SpongeAPI or you can depend on `org.spongepowered:plugin-meta:0.4.1`. Then create a new instance of `PluginMetadata` and use one of the methods in `McModInfo` to write it.

That way you don't need to know how the `mcmod.info` file looks like.

[2018-07-19 13:04] kmecpp commented on #373
Thanks for the suggestion! I will take a look

[2018-07-19 13:51] ryantheleach commented on #372
Able to replicate on spongevanilla-1.12.2-7.1.0-BETA-86.jar

Once in ghost mode, chat is unable to be opened, you can not travel through the portal, and the kill command from console fails to work.

Marking as High Priority, as it blocks Vanilla gameplay from reaching completion.

[2018-07-19 14:11] ryantheleach commented on #373
Should an invalid dependencies specification in a plugin crash the server?

Can we add a sanity check + error message?

[2018-07-19 19:02] obr-09 opened #374 ""IllegalStateException: null" when loading a world that has just been copied"
I'm running spongevanilla-1.22.2-7.1.0-BETA-59.jar.
I registered a custom event after I copy a given world ; when trying to load the world when the event happens, I run into the following error : https://gist.github.com/zessirb/1ad84983cdc367faa3a21dac26fe22e6
Shortly after, the server crash (https://gist.github.com/zessirb/70d147cdb6fddc00efd9f8a61cbee02d)
Note : I'm able to join the new world by

[2018-07-19 19:15] XakepSDK commented on #374
Try with latest

[2018-07-19 19:22] obr-09 commented on #374
Same issue goes with 1.12.2-7.1.0-BETA-87

[2018-07-20 02:31] JBYoshi commented on #372
*opens chat window*

Can repr-

*chat window closes*
*reopens chat window*

I can repro-

*chat window closes*
*reopens chat window*

Chat's brok-

*chat window closes*
*ragequits with ⌘Q*

[2018-07-20 04:04] JBYoshi commented on #372
I think I have a fix. There was an overwrite that was moved from SpongeCommon to SpongeForge and SpongeVanilla because of Forge changes - but it never actually made it into SpongeVanilla.

[2018-07-20 04:04] #372 closed, assigned to nobody

[2018-07-20 06:57] ryantheleach commented on #374
@Cybermaxke This seems related to advancements.

@zessirb I need more detailed reproduction steps.

Where is the world being copied from? Was it previously a SpongeVanilla world? a SpongeForge world? a Bukkit/Spigot world? a Vanilla Minecraft world?

How are you copying it? Where are you coping it to etc.

What do you use to load the world, + a list of world management plugins.

Whilst it's somewh

[2018-07-20 13:47] Cybermaxke commented on #374
Is the source of the EpicBoundaries plugin somewhere available?
If not, are you trying to load a world async (because this isn't supported)? I am assuming this because of the `ForkJoinPool`.

[2018-07-20 15:04] obr-09 commented on #374
I tried with sponge-forge (forge 14.23.4.2705, sponge-forge 7.1.0-BETA-3323) and the same error happens, so I suppose this is a sponge common issue.
The world was created with vanilla minecraft first ; when trying with Sponge-forge I just copied the nether world of a newly created world.
I don't use any plugin except mine, the source code is available on [Github here](https://github.com/OnapleRPG/

[2018-07-20 15:37] phit commented on #374
you are doing event stuff not on the main thread please take a look at https://docs.spongepowered.org/stable/en/plugin/scheduler.html#completablefuture-java-8

[2018-07-20 17:04] obr-09 commented on #374
You are right, it looks like I misunderstood how to use the completablefutures, I managed to solve the problem now by triggering the event on the minecraft thread. Thank you for your help !

[2018-07-20 17:05] #374 closed, assigned to nobody

[2018-07-22 05:44] clucky opened #375 "InteractBlockEvent.Secondary Fires Twice"
A listener that I have for InteractBlockEvent.Secondary appears to be triggered twice consecutively when right clicking a block with an item in hand that isn't a block (ie. Sword, fist, stick, etc.). I've tested this using both the recommended Sponge Vanilla build 1.12.2-7.1.0-BETA 59, as well as 1.12.2-7.1.0-BETA93. I'm not certain if this is intentional, but it doesn't seem as though it would be

[2018-07-22 07:14] gabizou commented on #375
Primary and offhand are fired one after another with secondary clicks. Check the hand available, or the string class of the event ;) This is and implementation requirement due to mechanics/mods. @bloodmc I think can explain a little better.

[2018-07-22 07:14] #375 closed, assigned to nobody

[2018-07-22 15:36] clucky commented on #375
@gabizou Further down in my code, I do check the hand type, and when my "tool" is being used, that also has double output every time I use a non-block item. I've also tried listening to the InteractBlockEvent.Secondary.MainHand, and that also fires two times. Am I doing something wrong?

https://pastebin.com/0uwJGtxg

[2018-07-22 15:48] clucky commented on #375
Becuase of uncertainty, I went ahead and double-checked by changing the listener event to InteractBlockEvent.Secondary.MainHand, and it is still giving double output when secondary clicking on blocks with a non-block item in hand. Do note, I also have an event for primary interactions, which behaves as expected, only outputting one message (unless of course primary click is held down).

[2018-07-22 15:55] clucky commented on #375
@gabizou Nevermind. I built an updated jar after changing the listener event to InteractBlockEvent.Secondary.MainHand, but then dragged the wrong Jar into my server. That was the cause of the 'issue', the two different sub-events.

I appreciate all of your help.

[2018-07-27 06:32] codeHusky opened #376 "Crash on Start"
Only occurs in builds after spongevanilla-1.12.2-7.1.0-BETA-93

[code]

[2018-07-27 06:32] ryantheleach opened #377 "SpongeVanilla failing to boot."
Version Tested: spongevanilla-1.12.2-7.1.0-BETA-96.jar

- "Only occurs in builds after spongevanilla-1.12.2-7.1.0-BETA-93" @codeHusky

[code]

https://gist.github.com/ryantheleach/ea2b7331496b32c1a3c14f5d02b531d7

[2018-07-27 06:35] ryantheleach commented on #376
Closing as duplicate of https://github.com/SpongePowered/SpongeVanilla/issues/377 since I've already gone through and remapped and labelled the other one -_-

[2018-07-27 06:35] #376 closed, assigned to nobody

[2018-07-27 06:37] codeHusky commented on #376
oof

[2018-07-27 09:24] thibaulthenry opened #378 "Import 2 worlds then load them one by one causing strange issue"
Hello,

I'm actively developing a plugin which manage worlds in Sponge.
I was surprised by a strange issue that happens each time I do the following steps :
(considering that I have 2 worlds, not imported, NewA and NewB, and that I'm on the default world)

I import the first one (NewA)
I import the second one (NewB)
I load NewA
I teleport myself to NewA
I load NewB

And I don't know why but it's l

[2018-07-27 10:06] ryantheleach commented on #378
@thibaulthenry Thanks for the report. But we need further information to act effectively against it.

1. What versions are you developing against?
2. Are you running this from a production environment or in your IDE?
3. What code are you using to 'import' the worlds?
4. How are you copying / creating the worlds NewA and NewB?

[2018-07-27 12:00] thibaulthenry commented on #378
@ryantheleach

I updated my post with the informations you needed

[2018-07-27 17:38] #377 closed, assigned to nobody

[2018-08-01 21:27] Lignium opened #379 "Missing space or new line"
Missing space or perhaps "\n" after dot symbol at 306 line in file:
[code]
[code]
Please fix it! This is a matter of five minutes.

[2018-08-03 19:35] #379 closed, assigned to nobody

[2018-08-03 19:39] ryantheleach opened #380 "Ongoing Minor Issue List (SpongeVanilla Edition)"
[**SpongeAPI**](https://github.com/SpongePowered/SpongeAPI/issues/1000) | [**SpongeCommon**](https://github.com/SpongePowered/SpongeCommon/issues/23) | [**SpongeForge**](https://github.com/SpongePowered/SpongeForge/issues/263) | **SpongeVanilla**

A new and improved Minor issue list for Beta. This list will be handled a little differently in order to make it much clearer whether a reported issue h

[2018-08-03 19:42] ryantheleach commented on #379
I've created a minor issue tracker to follow the trend of the other repositories, and moved this issue to that.

https://github.com/SpongePowered/SpongeVanilla/issues/380

[2018-08-03 22:33] ghost opened #381 "NPE on Block Break, related to async lighting"
SpongeVanilla version: 7.1.0-BETA-99.

On the server there are no plugins.

Breaking blocks randomly throws NPE. I was just building something, then looked to the console and saw this exception.

Block that caused this error will not be saved. Restarting server will load that block normally like it was never broken.

[code]

Remapped:
[code]

[2018-08-04 07:20] ryantheleach commented on #381
This looks like it's related to async lighting to me.

[2018-08-04 09:33] ghost commented on #381
@ryantheleach, I think I found a way to reproduce this error.

When I was trying to break around 3-4+ blocks very fast - this error occurred.
But when I was trying to break blocks very slow, or just slower than normally (like 1 block per second or 2) - this error didn't happen at all.

[2018-08-07 12:50] ryantheleach opened #382 "Migrate away from hard coded server version url's for download"
https://twitter.com/Dinnerbone/status/993773511469686784

https://github.com/SpongePowered/SpongeVanilla/blob/stable-7/src/main/java/org/spongepowered/server/launch/VanillaServerMain.java#L56-L66

[2018-08-07 19:09] #382 closed, assigned to nobody

[2018-08-08 13:36] ghost commented on #381
Issue also occurs on both BETA-100 and BETA-101.

@ryantheleach, disabling async lighting doesn't seem to fix it.

[2018-08-17 15:19] #381 closed, assigned to nobody

[2018-08-25 01:07] Zidane opened #386 "Cancelling ChangeBlockEvent.Break still performs block drops"
Using latest stable-7.

[2018-08-25 01:11] phit commented on #386
maybe related to https://github.com/SpongePowered/SpongeCommon/issues/2066

[2018-09-05 23:30] gabizou commented on #386
Is this still relevant with my fixes?

[2018-09-07 04:23] #386 closed, assigned to nobody

[2018-09-10 16:31] mosemister opened #387 "Crash on fresh start"
Just created a new SpongeVanilla using version 59 (latest recommended) and it loaded fine, I put 1 plugin in and from there it can not start, get this error (does not show the error on version 116 which I initially tried)

    `java.lang.IllegalArgumentException: null
	at org.objectweb.asm.ClassReader.<init>(Unknown Source) ~[sponge.jar:1.12.2-7.1.0-BETA-59]
	at org.objectweb.asm.ClassReader.<init

[2018-09-10 16:35] ImMorpheus commented on #387
@mosemister What version of Java are you using ?

(Also, post the entire stacktrace please.)

[2018-09-10 16:37] mosemister commented on #387
Java 8 Update 181

here is full stacktrace: https://gist.github.com/mosemister/8bdd44af13b9343cf9d6a99b3f7ec84c

Just installed Java 8 update 171 and that also didnt work

[2018-09-10 17:19] stephan-gh commented on #387
It looks like something is weird with your plugin. Could you upload the plugin JAR somewhere?

[2018-09-10 17:20] mosemister commented on #387
@Minecrell
https://github.com/mosemister/MinigameLaucher/blob/interface1/src/main/java/org/minigame/plugin/MinigamePlugin.java

[2018-09-10 17:25] stephan-gh commented on #387
@mosemister Since you don't seem to use a build system, could you share the actual built JAR file? I doubt it is specific to something in your code, it seems like something is weird with the actual compiled classes.

[2018-09-10 17:30] mosemister commented on #387
I am using gradle just didnt upload the gradle files, just the code to the repository. Ill share the file anyway.
https://drive.google.com/open?id=1bepcgxfjwuCM8r_vX7dn72crnkJ6BA_f

[2018-09-10 17:32] mosemister commented on #387
just decompiled the jar, its saying null. Ill take a look at whats happening with the building of the jar. Thanks everyone

[2018-09-10 17:32] #387 closed, assigned to nobody

[2018-09-18 13:15] 5aihx opened #388 "[help me]Use spongeforge to set up a server to enter and find a high latency request resolution thanks"
I like spongeforge very much but it's going to be a very bad game experience and I'm going to turn off the spongeforge server and I'm going to make it better and I'm going to make it better and I'm not going to make it better and you're going to do it

[2018-09-18 13:35] 5aihx commented on #388
status: help wanted

[2018-09-18 13:41] 5aihx commented on #388
#status: help wanted

[2018-09-18 13:43] 5aihx commented on #388
`status: help wanted`

[2018-09-18 13:44] dualspiral commented on #388
**Github isn’t a support forum.** It is for reporting bugs in the software. Besides, your issue makes no sense to me, it’s not clear what you want, why things are bad, what you’re looking for etc. You also posted in SpongeVanilla, when you talk about SpongeForge.

The [Sponge Docs](https://docs.spongepowered.org) are a very good place to start. If they don’t help resolve your problem, please use t

[2018-09-18 13:44] #388 closed, assigned to nobody

[2018-09-28 05:40] SimonFlash opened #389 "InteractItemEvent is not fired when a target location does not exist."
Version: 1.12.2-7.1.0-BETA-121

The `InteractItemEvent` is not fired when a target location does not exist, aka the player is not looking at a block (or one is far away). This event is functional on SpongeForge 3465.

[2018-09-28 12:55] Lignium commented on #389
Related to: https://github.com/SpongePowered/SpongeCommon/issues/2013

[2018-10-08 20:06] pie-flavor opened #390 "Custom data gets heisenberged on dropped items"
Using 1.12.2-7.1.0-BETA-121, an item with custom data can be dropped and the item will retain the data, but when it is picked up, it no longer has the data according both to toContainer() and get().
HOWEVER
if the server is restarted, the item magically gains the data again.
Example plugin:
https://gist.github.com/pie-flavor/9fcdd63a93e3aae5a345378b81685229
This behavior is not observable on Spong

[2018-10-09 07:05] ryantheleach commented on #390
@Faithcaio I know you have encountered something similar previously, maybe you have some tips.

[2018-10-12 16:55] ImMorpheus commented on #390
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1353

[2018-10-15 07:47] pie-flavor commented on #390
If anything, that issue should be closed in favor of this one since it's an issue on SpongeVanilla only.

[2018-10-31 14:27] desdeasr opened #393 "Sponge crashes on startup (7.1.4)"
So a quick explanation: I got a clean install of spongevanilla spongevanilla-1.12.2-7.1.4.jar renamed it to sponge.jar and launched it without any plugins or whatever and it just crashes. It seems it has to do with launchwrapper for some reason but I do not know how to fix it myself or if there is an easy fix for this problem. And since I only installed sponge this seemed like the best place.

I c

[2018-10-31 14:51] Aaron1011 commented on #393
I can't reproduce this issue. Can you try running SpongeVanilla from a fresh directory?

[2018-11-01 08:17] desdeasr commented on #393
I ran it in a new directory and got the same issue:

java -Xmx3072M -Xms3072m -jar sponge.jar nogui
Downloading the versions manifest...
Downloading minecraft_server.1.12.2.jar... This can take a while.
https://launcher.mojang.com/v1/objects/886945bfb2b978778c3a0288fd7fab09d315b25f/server.jar
Successfully downloaded minecraft_server.1.12.2.jar and verified checksum!
Downloading launchwrapper-1.12.

[2018-11-01 09:03] desdeasr commented on #393
Ok I did fix it let me tell yu the problem:
the launchwrapper didn't like openjdk on linux so I needed to install oracle jdk which fixed the problem I had. Anyways thanks for the attempt to help this issue can be closed.

[2018-11-01 14:02] #393 closed, assigned to nobody

[2018-11-02 23:25] JBYoshi commented on #393
Just to clarify, it seems that the root of the problem is that Sponge needs Java 8 to work. Minecraft mods don't yet support Java 9 and newer versions. (When you see lines in the stack trace start with `at java.base`, that indicates you're using Java 9 or later.) If you want, you can switch back to OpenJDK, as long as you use version 8.

[2018-11-11 12:40] Hbeau opened #394 "ObjectMappingException getMessage() return null"
Hello,
I'm a runnig on spongevanilla 7.1.0-BETA-120 and I'm facing a problem.
Maybe it's an error in my code but when I catch `ObjectMappingException` and i try to display the message with `getMessage()` it return `null`

[2018-11-11 23:50] gabizou commented on #394
Need some more details, what is throwing an error? What is your code? What is the stack trace? What are you trying to do?

[2018-11-12 21:04] Hbeau commented on #394
I'm sorry,
I posted my problem too early.
the error is on my side.

thank you for your support.

[2018-11-12 21:04] #394 closed, assigned to nobody

[2018-12-06 00:11] ghost opened #395 "Canceled water placement can still destroy rails and causes an error when the rail is replaced."
SpongeVanilla 7.1.5 (RC139 with MySQL PR merged).

[code]

Use a water bucket on a rail and it will get destroyed which can be used to bypass regional protections. Replacing the rail returns this: https://paste.md-5.net/pupetobelu.tex

It will also destroy buttons and other blocks where water may be placed at the same coordinate.

Edit: https://cdn.discordapp.com/attachments/142425412096491520/520

[2018-12-06 04:21] ItsDoot commented on #395
Is the bug reproduce-able in SpongeForge, or is this vanilla only?

[2018-12-06 05:33] ghost commented on #395
I only use SpongeVanilla; I would have to merge my MySQL PR into a SpongeForge workspace to test it.

[2018-12-06 20:14] DrZoddiak commented on #395
Tested with 1.12.2-2768-7.1.5-RC3507 Rails appear to still get blocked placing with no errors, so the rail issue appears to be SV specific. Water blocks appear to actually still place entirely with no issue.

I however tested using Griefprevention to block placement of blocks.
https://griefprevention.github.io/debug/?ITy2xjXXJg

With this report you can see that in the beginning I did have permiss

[2018-12-06 21:56] DrZoddiak commented on #395
Alright upon being given a plugin from @brjcarbone
Using similar code he posted I get this error on SV and SF.

https://gist.github.com/DrZoddiak/e43e18e447bef447ed70019b45b488c9

This issue should probably be moved to SC because of this.

[2018-12-07 03:23] ryantheleach commented on #395
~move to sc

[2018-12-07 03:23] #395 closed, assigned to nobody

[2018-12-07 03:23] limbo-app commented on #395
Hey @brjcarbone! I've moved your issue to [SpongePowered/SpongeCommon#2158](https://github.com/SpongePowered/SpongeCommon/issues/2158).

[2018-12-12 08:49] ryantheleach opened #396 "SpongeVanilla fails to allow you to overwrite vanilla recipes, vs SpongeForge"
**Using:**
Minecraft: 1.12.2
    SpongeAPI: 7.1.0-4f54ce0d
    Sponge: 1.12.2-7.1.5-SNAPSHOT
    SpongeVanilla: 1.12.2-7.1.5-RC135

While using vanilla it seems the Minecraft ID cannot be "overwritten", in this case "minecraft:arrow" which can be done using SpongeForge.
Server crashes logging this: https://hastebin.com/cenumefave.rb

_Originally posted by @Mariomm-marti in https://github.com/Spong

[2019-01-01 16:36] seema84 opened #397 "demo server launcher error"
my launcher log show this error on every serverlist refresh

https://pastebin.com/fpuNraKc

[2019-01-04 18:45] ImMorpheus commented on #397
Sponge has nothing to do with this.

`demo.spongepowered.org` is the address for Block19 (Sponge community server), there's nothing here for us to handle.

[2019-01-04 18:45] #397 closed, assigned to nobody

[2019-01-04 19:21] seema84 commented on #397
this error refers to icon not the adress

[2019-01-16 21:53] ghost opened #398 "Error during startup: "Critical injection failure""
Version Tested: spongevanilla-1.12.2-7.1.5-RC146
Logs: https://pastebin.com/raw/qE9Lf3Ad

Everything works fine on previous versions.

[2019-01-16 22:34] #398 closed, assigned to nobody

[2019-01-19 03:10] DanMcgraw opened #399 "Chunk loading farmland generation crashes server"
When I try generating natural wheat patches during worldgen it spams the following error then crashes :

[23:21:27] [Server thread/INFO]: [tincopper2: Teleported tincopper2 to 100.5, 100.0, 100.5]
[23:21:27] [Server thread/ERROR] [Sponge]: /***************************************************************************************************************************************************************

[2019-01-19 04:33] DanMcgraw commented on #399
[2019-01-17-3.log.gz](https://github.com/SpongePowered/SpongeVanilla/files/2775160/2019-01-17-3.log.gz)

[2019-01-19 05:01] gabizou commented on #399
There's a form when submitting an issue, please fill in the necessary information to that form. Likewise, will need a world seed to recreate the desired chunk possibly being generated.

[2019-01-20 16:46] #389 closed, assigned to nobody

[2019-01-20 19:03] ghost opened #401 "Error while loading worlds: "Encountered an unexpected exception""
SpongeVanilla version: 1.12.2-7.1.5-RC148
Java version: 1.8.0_191
Operating System: Ubuntu 16.04.5 LTS x64

Logs: https://pastebin.com/raw/iDnGg6ut
Crash report: https://pastebin.com/raw/ihFUTtYb

[2019-01-20 20:19] ImMorpheus commented on #332
As stated above, this is only happening with a JAR application (which is still the case).
I'm not sure the docs was updated at the time, but I'm not able to reproduce this by following https://docs.spongepowered.org/stable/en/plugin/debugging.html (or using SpongeStart).

I think we can close this as it's not the supported way to debug your plugin.
(If you really want to use this, then add `-Dterm

[2019-01-20 20:34] ImMorpheus commented on #373
[code]
This is a compile-time error. IMO the `invalid` label was the right solution. @ryantheleach

[2019-01-20 20:41] stephan-gh commented on #373
@ImMorpheus Yes, it was caused by generating bytecode directly in an invalid way. Nevertheless, SV should do more validation here and specifically say that plugin X is invalid, instead of crashing the whole server.

[2019-01-24 19:23] codeHusky commented on #332
The fact that it's happening specifically in IntelliJ's Java environment is silly. Really, there's no good reason for it to do that. I think this should be kept open.

[2019-02-01 15:18] #373 closed, assigned to stephan-gh

[2019-03-05 11:18] StealWonders opened #403 "Placing blocks while opening GUI block (chest / furnace)"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.6-RC155
- Java version: 1.8.0_192 (quay.io/pterodactyl/core:java-glibc)
- Operating System: Ubuntu 18.04 LTS (server operates in Docker container)

- Plugins: Minecraft, Mod Coder Pack, SpongeAPI, Sponge, FastAsyncWorldEdit, LuckPerms, Nucleus, SpongeVanilla, ViaVersion, WorldEdit

**Issue Description**
If I hold an item, take cobblest

[2019-03-05 11:21] StealWonders commented on #403
Gone ahead and removed all my server plugins. The issue still persists!

[2019-03-09 12:40] ImMorpheus commented on #403
Fixed by https://github.com/SpongePowered/SpongeCommon/commit/4063674e2d3f0c2c71cbf37ac7db505ba4eeeb17

[2019-03-09 12:40] #403 closed, assigned to nobody

[2019-04-14 09:30] NeumimTo opened #404 "spongevanilla-1.12.2-7.1.6-RC157 broken block physics"
- SpongeVanilla version:  spongevanilla-1.12.2-7.1.6-RC157
- Java version: java version "1.8.0_201"

No block physic works,
- pistons
- creation water sourcblocks
- naturally spawned sand blocka wont ever fall down, when theres no block underneath

https://pastebin.com/raw/vsECVCb6

[2019-04-14 11:32] ImMorpheus commented on #404
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/2228 and other issues in SpongeCommon.

SV 7.1.6-RC157 is missing a few commits.

[2019-04-14 11:32] #404 closed, assigned to nobody

[2019-04-14 14:52] NeumimTo commented on #404
@ImMorpheus https://www.spongepowered.org/downloads/spongevanilla/stable/1.12.2
Would it be possible to update the last avalaible build on the sponge website?

[2019-04-14 14:55] phit commented on #404
CreeperHost is having issues, we are waiting on those to be resolved. New builds should show up then..

[2019-05-13 15:23] remy99c opened #405 "Furnace stops working/"
I am currently running latest sponge on an OVH tier 1 vps (1 vcore @ 2ghz and 2gig ram).

- SpongeVanilla version: 1.12.2-7.1.6-RC175
- Java version: Openjdk version "1.8.0_212"
                        OpenJDK Runtime Environment (build 1.8.0_212-b01)
                        OpenJDK 64-Bit Server VM (build 25.212-b01, mixed mode)

- Operating System: Arch Linux
                                 Ker

[2019-05-16 07:51] phit commented on #405
this should be fixed with 1.12.2-7.1.6-RC176+

[2019-05-17 07:55] pie-flavor opened #406 "TabCompleteEvent is never fired for chat"
[code]
Open chat, type anything besides a command, push tab, and `derp` does not get written to stderr.

[2019-05-29 05:56] gabizou commented on #405
No response in a little over two weeks, assuming fixed.

[2019-05-29 05:56] #405 closed, assigned to nobody

[2019-05-31 07:22] Lignium opened #407 "Critical injection failure at startup"
**I am currently running**
- SpongeVanilla version: spongevanilla-1.12.2-7.1.6-RC198
- Java version: OpenJDK 1.8.0_212
- Operating System: Kubuntu 18.04
- Plugins: None

**Issue Description**

Log: https://gist.github.com/Lignium/a3c7aeb78d05bf2cdfe08b39bee12081

[2019-05-31 11:27] Cybermaxke commented on #407
@Faithcaio This is related to the `SmeltEvent` implementation.

[2019-06-01 09:43] #407 closed, assigned to nobody

[2019-06-01 11:36] ImMorpheus commented on #406
Not able to reproduce on stable-7 (SC updated to https://github.com/SpongePowered/SpongeCommon/commit/844f214ec603255a051dec44c45065dcc60572da)

Typed `tt<tab>`, event is fired as intended.

[2019-06-01 11:36] #406 closed, assigned to nobody

[2019-06-02 21:00] doublehelix457 opened #408 "NPE on Listener ClientConnectionEvent.Disconnect when server is stopping."
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.6-RC181 (The latest ACTUALLY Stable version)
- Java version: 1.8.0_191
- Operating System: Win7

- Plugins: Just my Test plugin

**Issue Description**
Stopping the server threw an NPE on my player disconnection listener. The listener looks as follows: `public void onDisconnect(ClientConnectionEvent.Disconnect event, @Root Player playe

[2019-06-10 22:32] RageYT opened #409 "World Creation Blocks Issue"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.7-RC214
- Java version: 1.8.0_212/64-bit
- Operating System: Linux (3.10.0-957.12.2.el7.x86_64/amd64)

- Plugins:
![image](https://user-images.githubusercontent.com/17907584/59231218-e7702400-8bad-11e9-97b0-00b41574b538.png)

**Issue Description**
When creating a world with either Nucleus or ProjectWorlds, an odd issue happens where wh

[2019-06-13 19:37] ghost opened #410 "ArrayIndexOutOfBoundsException"
- SpongeVanilla version: 1.12.2-7.1.6
- Java version: openjdk 1.8.0_212
- Operating System: Ubuntu 18.04.2 LTS
- Plugins: ViaVersion 2.1.2

When the server receives pick item packet (https://wiki.vg/Protocol#Pick_Item) with slot smaller than 0 or bigger than 35 the ArrayIndexOutOfBoundsException appears in the console. If you send this packet many times the server could crash.

[2019-06-14 07:23] gabizou commented on #410
Could you include a log of the exception? I'm sure @Faithcaio knows some of this already, but I Want to make sure I can understand a bit as well.

What's expected and what's happening?

[2019-06-14 23:40] ghost commented on #410
https://pastebin.com/PMNHP4hn

[2019-06-15 15:55] Zidane commented on #408
We need to see the code of your listener.

[2019-06-15 15:56] #399 closed, assigned to nobody

[2019-06-15 17:42] doublehelix457 commented on #408
All i do is unregister the player from a database. Its all SQL from there.

It happens when i stop the server while players are still online

I think the Player object is null and the event is called, i threw in a null check but im still having issues

[2019-06-16 11:01] Faithcaio commented on #410
Thats actually vanilla code throwing the AIOOBE. `InventoryPlayer#pickItem`

[2019-06-19 02:45] Zidane commented on #401
Closing as this is corrupted world data.

[2019-06-19 02:45] #401 closed, assigned to nobody

[2019-06-19 02:46] Zidane commented on #324
The incorrect portal agents was fixed a long time ago. The issues when going to custom worlds is fixed in latest stable-7.

[2019-06-19 02:46] #324 closed, assigned to nobody

[2019-06-19 02:49] Zidane commented on #364
Give this another try but I am pretty confident they'll be called now.

[2019-06-19 02:49] #364 closed, assigned to nobody

[2019-06-19 03:00] Zidane commented on #408
Yeah I am having trouble reproducing this myself.

[2019-06-19 03:01] #239 closed

[2019-06-19 03:03] Zidane commented on #332
Closing as you were given a workaround and people are expected to run SV interactively.

[2019-06-19 03:03] #332 closed, assigned to stephan-gh

[2019-06-19 03:04] Zidane commented on #396
@Mariomm-marti Need a new log.

[2019-06-19 03:05] Zidane commented on #378
This is fixed in latest stable-7.

[2019-06-19 03:05] #378 closed, assigned to nobody

[2019-06-20 04:10] doublehelix457 opened #413 "Inventory API queries aren't reliable"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.6 (Recommended Stable)
- SpongeAPI: 7.1.0
- Java version: 1.8.0_191
- Operating System: Win7

- Plugins:
Just my test plugin.

**Issue Description**
I have a simple method which accepts ItemStacks in a List and Queries, and then removes the ItemStacks from the Inventory and returns a list of the removed Stacks, like so:

https://gist.

[2019-06-20 04:58] doublehelix457 commented on #413
An Update: The Second Gist has no problem, however the first gist still has the issue.

[2019-06-20 10:59] Faithcaio commented on #413
The query with `ITEM_STACK_EXACT` will in fact ONLY return item-stacks that exactly match.
So if you query for `ItemStack.of(ItemTypes.COBBLESTONE, 1)` you will only get slots with cobblestone with quantity 1.

Example Inventory:
![](https://imgur.com/z4ZmJmt.png)

[code]

Resulting Inventory:
![](https://i.imgur.com/y3PdvhW.png)

`poll()` without limit would only remove from the first slot in the

[2019-06-20 10:59] #413 closed, assigned to Faithcaio

[2019-06-24 23:18] eehunter opened #414 "Error loading function pack (Tempest Box)"
**I am currently running**

- SpongeVanilla version: latest (7.1.6)
- Forge version: n/a
- Java version: 1.8.0_181
- Operating System: Ubuntu

- Plugins/Mods: n/a (error occurred even with all plugins disabled)

**Issue Description**
The Tempest Box doesn't seem to work while sponge is running. Starting the server without sponge allows TTB to work correctly. This hasn't been tested with other func

[2019-06-29 13:18] NeumimTo opened #415 "Creating a Team instance throws NPE from ScorePlayerTeam class"
- SpongeVanilla version:  1.12.2-7.1.7-RC239 Stable
- Java version: 1.8

[code]

Throws expection

    net.minecraft.scoreboard.ScorePlayerTeam.func_186682_a(SourceFile:148)
    net.minecraft.scoreboard.ScorePlayerTeam.setCollisionRule(SourceFile:678)
    org.spongepowered.common.scoreboard.builder.SpongeTeamBuilder.build(SpongeTeamBuilder.java:181)

[2019-06-29 20:20] #410 closed, assigned to nobody

[2019-07-02 11:07] thibaulthenry commented on #378
I made some tests on different multi-world management plugins (Project worlds, and mine), in SpongeVanilla 7.1.6, and it still bugged.

Each block I touch is transformed into another, like grass into stone. Sometimes I'm blocked by invisible blocks (which may come from another loaded world)

There is no more link with import command, it seems buggy all the time, when I load any world

[2019-07-02 14:12] Zidane commented on #378
You are using the wrong build. This was fixed in a 7.1.7 build and not the recommended build. We have not bumped the recommended build again but will be doing so very soon.

https://repo.spongepowered.org/maven/org/spongepowered/spongevanilla/1.12.2-7.1.7-RC239/spongevanilla-1.12.2-7.1.7-RC239.jar

This is what I meant by "fixed in latest stable-7".

[2019-07-02 14:40] thibaulthenry commented on #378
Okay, sorry for this, I misunderstood. Some little tests showed that it works perfectly now, good job :) !

[2019-08-02 15:57] ImMorpheus commented on #415
Not able to reproduce on latest (SC updated to https://github.com/SpongePowered/SpongeCommon/commit/5e14cffe5bac9c358d1ef0c444d247680c9a8cb7)

This was probably fixed by https://github.com/SpongePowered/SpongeCommon/commit/daf20869cb369c2704540b91881dcdb2f77c75cc

[2019-08-02 15:57] #415 closed, assigned to nobody

[2019-08-02 16:06] ImMorpheus commented on #408
The player can't be null.
If it was, this line would throw the NPE
`LOGGER.info("{} lost connection: {}", this.player.getName(), reason.getUnformattedText());`

I can't reproduce this either. Please, post your code or a minimal code snippet to reproduce the issue. The NPE is thrown inside your method.

[2019-08-02 16:06] #408 closed, assigned to nobody

[2019-08-02 16:28] ImMorpheus commented on #168
https://github.com/SpongePowered/SpongeCommon/issues/41#issuecomment-517764256

[2019-08-02 16:28] #168 closed

[2019-08-08 05:47] #414 closed, assigned to nobody

[2019-08-08 05:48] parlough commented on #414
Got it loading on the latest SpongeVanilla, once it builds! Sorry for the delay. If there are any more issues please open a new issue. Thanks!

![2019-08-08_00 40 50](https://user-images.githubusercontent.com/18372958/62678105-1d474400-b976-11e9-9332-2d7887229847.png)

[2019-08-08 08:29] #396 closed, assigned to nobody

[2019-08-08 17:10] parlough commented on #341
I can't seem to reproduce this on the latest builds of SpongeVanilla and latest release of Git for Windows(2.22.0). Since the 1.11 builds our console handling has changed quite a bit, so was likely fixed somewhere along the line or in Git for Windows. If this issue continues or you have any other issues, please feel free to comment here or open a new issue. Thanks!

[2019-08-08 17:10] #341 closed, assigned to stephan-gh

[2019-08-08 17:12] Zidane commented on #271
Closing as I want the experience to be the same on both platforms.

[2019-08-08 17:12] #271 closed

[2019-08-16 05:12] ustc-zzzz commented on #390
It is tested that the bug is not actually fixed in the latest version of SpongeVanilla (`1.12.2-7.1.7-RC265`). The reason in my opinion is that [Forge added a patch](https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/patches/minecraft/net/minecraft/entity/player/InventoryPlayer.java.patch#L7-L9) which preserve capability when items are picked up and distributed to player inventory, while

[2019-08-16 06:30] Faithcaio commented on #390
Didn't test it in SV but the Code that fixed it was in SC anyways:
https://github.com/SpongePowered/SpongeCommon/commit/dff5d4115f1af36b580e2dc8f3786051a3b5c7bb
(Was SV bumped since that commit?)

Custom data are not forge capabilities so that should have nothing to do with it.

[2019-08-16 07:30] ustc-zzzz commented on #390
@Faithcaio I don't think so. From the patch we could conclude that what was done by vanilla code is just copying metadata and item type to the new stack firstly, and copying the nbt tag secondly. Nothing related to Sponge custom data are copied. However, the forge patch invokes the `copy` method which SpongeCommon hooks on so custom data are copied.

[2019-08-16 07:33] gabizou commented on #390
Yes, it's a different way at solving the issue. @Faithcaio added [this patch specifically targeting the method that is otherwise used](https://github.com/SpongePowered/SpongeCommon/commit/dff5d4115f1af36b580e2dc8f3786051a3b5c7bb#diff-98d786d64927fceee04f306cd379c2cbR281) to copy the data from the new tag compound (which sponge serializes when custom data is offered).

Is the bug actually an issue

[2019-08-16 08:20] ustc-zzzz commented on #390
@gabizou Yes, it does hook the `setTagCompound`, but it does not affect the behavior of `hasTagCompound`. The return value of `hasTagCompound()` would be always `false` if the count of the stack is zero (in another word, the stack is empty), therefore the nbt of an empty stack would never be copied since the conditional branch is always eliminated.

Forge use the `copy` method so that the nbt tag

[2019-08-16 18:02] #390 closed, assigned to nobody

[2019-10-02 02:38] doublehelix457 opened #420 "Offering Keys.POWERED or BlockTrait BooleanTraits.LEVER_POWERED to a lever doesnt update the block the lever is on."
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.7-RC218 (recommended/latest still?)
- Java version: 1.8.0_222/64-bit
- Operating System: Linux (4.4.0-89-generic/amd64)

- Plugins: Just my test plugin

**Issue Description**
I have attempted to change the state of a lever by trying either the methods above like so:

`if(!block.supports(Keys.POWERED)) return;
Sponge.getCauseStackManag

[2019-10-02 03:27] doublehelix457 commented on #420
Update: Doesn't work using DataManipulators

[2019-10-03 08:28] doublehelix457 commented on #420
Update: It would appear this is actually a mojang bug related to: https://bugs.mojang.com/browse/MC-120682

I was able to work around my problem using NMS World. Set Lever blockstate, notifyNeighbors, update attached block, notifyNeighbors.

A Sponge fix would be awesome though.

[2019-11-02 14:26] agsuarez34 opened #422 "Java Error: Cannot launch Invocation.target.exception"
[08:16:56] [main/INFO] [LaunchWrapper]: Loading tweak class name cpw.mods.fml.common.launcher.FMLServerTweaker
[08:16:56] [main/INFO] [LaunchWrapper]: Using primary tweak class name cpw.mods.fml.common.launcher.FMLServerTweaker
[08:16:56] [main/INFO] [LaunchWrapper]: Calling tweak class cpw.mods.fml.common.launcher.FMLServerTweaker
[08:16:58] [main/INFO] [FML]: Forge Mod Loader version 7.99.40.161

[2019-11-02 14:28] ImMorpheus commented on #422
Please use the issue template provided when opening an issue, as well as providing a full log file.

[2019-11-02 14:28] #422 closed, assigned to nobody

[2020-01-03 15:48] dualspiral opened #424 "TileEntitySignCommandSendersMixin_API not applying"
**I am currently running**

- SpongeVanilla version: 7.1.9-RC325
- Java version: 1.8.0_202
- Operating System: macOS 10.15.2

- Plugins: None

**Issue Description**

SpongePowered/SpongeCommon#2080 added a common mixin for `TileEntitySign$1` and `TileEntitySign$2` ([`TileEntitySignCommandSendersMixin_API`](https://github.com/SpongePowered/SpongeCommon/blob/78b0883e022aae3c3f22c1c6da36f83d26f39f81/

[2020-01-05 13:58] #424 closed, assigned to nobody

[2020-02-06 08:34] thibaulthenry opened #426 "Zombies can't break wooden doors in difficulty hard"
Hello there!

- SpongeVanilla version: 1.12.2-7.1.9 Stable Recommended
- Java version: 8
- Operating System: macOS
- Plugins: only my plugin in development (cosmos)

I'm currently writting a new world management plugin / per-world management.
In doing so, I'm testing a bunch of behaviors in Minecraft with Sponge Vanilla as server.

After some tests, it seems like per-world difficulty is working fi

[2020-04-23 18:19] Tran-Antoine opened #427 "InteractItemEvent not fired"
**I am currently running**
- SpongeVanilla version: 7.2.1, also tested with 7.1.8
- Java version: 1.8
- Operating System: Windows 10
- Plugins: My testing plugin exclusively

**Issue Description**
This is a bug that can be consistently reproduced. The nature of the issue is simple: `InteractItemEvent.Primary` is not fired in some specific cases, though it should be. <br>
From what I've understood

[2020-05-02 15:22] tyhdefu opened #428 "Map-optimization means that players aren't shown on maps"
**I am currently running**

- SpongeForge version: Not yet tested but i believe the problem code is in spongecommon
- SpongeVanilla version: spongevanilla-1.12.2-7.2.0
- Java version: 8
- Operating System: Windows 10

- Plugins/Mods:
None.

**Issue Description**
When map-optimization in global.conf is set to true, a player decoration (the pointer thing) showing where you are, doesn't appear. It do

[2020-05-27 13:40] Pulverizer opened #430 "Plugin breaking change to ChangeBlockEvent.Break!"
**I am currently running**

- SpongeVanilla version: stable-7 latest setupDecompWorkspace
- Java version: jdk1.8.0_241
- Operating System: Windows 10

- Plugins:

**Issue Description**
When listening to a ChangeBlockEvent.Break get the transaction BlockSnapshot and get the TileEntity via the getLocation method.
This did return the TileEntity a few months ago. When I updated today it now returns nu

[2020-05-27 13:42] Zidane commented on #430
Show some code.

[2020-05-27 14:27] Pulverizer commented on #430
Oh, oops.

[code]

[2020-06-03 11:05] Pulverizer commented on #430
Have we managed to find the issue? Nobody can use my plugin on the newer versions.

[2020-06-03 11:15] dualspiral commented on #430
Obviously not.

It would be super helpful to us if you can find out which version it changed on. If we have a narrower commit range to test, we might be able to fix it quickly.

I'm not sure what your code is meant to do. When asked to show code, give us code that **clearly** gives us some indication as to what you expect to happen, vs what does happen. I have no idea what your code is meant to do

[2020-06-03 14:34] Pulverizer commented on #430
Still no clue which version, but here is a test plugin jar as a zip [TestPlugin-0.1.zip](https://github.com/SpongePowered/SpongeVanilla/files/4724048/TestPlugin-0.1.zip).

Once you've installed it load a world and follow the steps below:
1. Place a sign.
2. Break the sign.
3. Read printout in chat or console.

Previously it would report that the BlockSnapshot had a Location and that there was a Ti

[2020-06-03 14:39] Pulverizer commented on #430
You'll need to rename the .zip back to a .jar

[2020-06-03 14:46] Pulverizer commented on #430
Wait, I forgot to register the Listener. Here's the correct one:
[TestPlugin-0.1.zip](https://github.com/SpongePowered/SpongeVanilla/files/4724147/TestPlugin-0.1.zip)

[2020-06-03 15:09] Pulverizer commented on #430
Okay, so I tried stable releases all the way back to SV 7.1.9 no luck.
SF 7.2.1 RC4011 works fine however. I am beginning to suspect that this might be a long term variation between SV and SF.

[2020-06-03 15:09] Pulverizer commented on #430
Okay, so I tried stable releases all the way back to SV 7.1.9.
SF 7.2.1 RC4011 works fine however. I am beginning to suspect that this might be a long term variation between SV and SF.

[2020-06-03 15:31] Pulverizer commented on #430
Well, I think I've managed to figure out why things don't work but should, and where they are working but shouldn't.

`blockSnapshot.getLocation().get().getTileEntity().get()` is not the correct way of doing it according to [this forum thread](https://forums.spongepowered.org/t/how-to-get-target-tileentity-from-changeblockevent-break/10252/26) but does work in SF so long as the sign is broken dire

[2020-06-03 16:41] Faithcaio commented on #430
So this https://github.com/SpongePowered/SpongeCommon/blob/1552585367d12ec04c60bf6e5501a69c0eca36aa/src/main/java/org/spongepowered/common/event/tracking/TrackingUtil.java#L876 should be `tile.getContainers()` instead? @gabizou
Currently only the nbt data (which includes the sign lines in this case) and custom manipulators from plugins are copied over to the BlockSnapshot

[2020-06-04 09:18] Pulverizer commented on #430
@Faithcaio @gabizou Have just tested the above on local copy. Changing that one line does resolve the issue.

[2020-06-04 11:40] Faithcaio commented on #430
But it causes a performance overhead if we do it every time
which is the reason why its not there.
For custom data the manipulators are present, for everything else dataprocessors have to read the data from nbt first.

You could maybe try this:
- restore the "original" BlockSnapshot
- get the data from the TileEntity that is now in world as normal
- restore the "new" BlockSnapshot

[2020-06-04 13:29] Pulverizer commented on #430
But this was clearly the intended way of doing it back in 2015. So is there a pull request, issue or something where a decision was made to change this? Because presumably, that would explain what the intended replacement is.

[2020-06-07 10:34] Pulverizer commented on #430
I have found a partial solution
[code]

It is not a good solution though, so I think this discussion should remain open in some form so that a better solution can be implemented.

[2020-06-07 16:52] gabizou commented on #430
There is already an issue opened for https://github.com/SpongePowered/SpongeCommon/issues/950 which is effectively an NBT processor, and would allow you to query block snapshots as well as archetypes for keyed data.

[2020-06-07 16:52] #430 closed, assigned to nobody

[2020-06-15 13:07] Yeregorix opened #431 "Incorrect block lighting"
I've been experiencing block lighting issues for few weeks on my servers. The issue frequently appears or disappears on block place or break. I tried with and without async light, same problem. Here is a screenshot using latest SpongeVanilla RC. On this screenshot, all the dark parts appeared simultanously after placing a single block.

![light](https://user-images.githubusercontent.com/10995968/8

[2021-02-08 09:24] Pulverizer opened #432 "Redstone Bugs"
**I am currently running**

- SpongeVanilla version: latest stable-7 in a dev environment
- Java version: 8 build 251
- Operating System: Windows 10

- Plugins:

**Issue Description**
Minecraft has a known redstone bug: https://bugs.mojang.com/browse/MC-11193

I activated the Eigen patch, however, 10 out of 12 dispensers fired and 16 TNT was dispensed.
So the patch does not function correctly.

[2021-03-24 03:51] Tommsy64 opened #433 "ExperienceHolderData totalExpereince off by 1"
**I am currently running**

[code]

- Plugins (6): Minecraft, Mod Coder Pack, SpongeAPI, Sponge, **BrokenExperience**, SpongeVanilla

# Issue Description

The Data API query `player.get(Keys.TOTAL_EXPERIENCE)` returns a value that is 1 higher than expected. However, running player.get(Keys.TOTAL_EXPERIENCE) immediatly after player.offer(\<exp key>, \<value>) returns the *correct* value. When the c

[2021-03-24 04:00] Tommsy64 commented on #433
Sigh, it's late and I have many tabs open; I opened this issue on the wrong repository.

[2021-03-24 04:00] #433 closed, assigned to nobody

[2021-06-01 19:52] ejm commented on #380
Same issue as SpongeAPI with the "Preparing For Development" link in `README.md`. Should be: https://docs.spongepowered.org/stable/en/preparing/

[2022-01-14 18:16] Elikill58 opened #434 "Server never fully stop"
**I am currently running**

- SpongeVanilla version: 8.0.0
- Java version: 16
- Operating System: Windows

- Plugins: []

When stopping the server with /stop, it says :
[code]
Then wait eternally. So, I should manually close the batch script (instead of automatically).

I checked for debug log, but it's the same:
[code]