[2014-09-10 23:24] rmarmorstein opened #19 "Bukkit Plugin Implementation"
A system where Bukkit plugins _can_ be run from Granite for backwards support to bukkit would be an interesting, and useful, thing to include.

[2014-09-16 11:38] #19 closed, assigned to nobody

[2014-09-18 09:11] oloflarsson opened #26 "Wrong website URL"
https://github.com/GraniteTeam

Visiting that page it links to: http://www.granitemc.com/
But it should link to: http://www.granitemc.org/

[2014-09-18 13:44] #26 closed, assigned to nobody

[2014-09-20 13:09] RedstoneFiend opened #27 "TestPlugin"
When running /test, it does not work in-game for me. From the console, it causes ArrayIndexOutOfBoundsException. I looked in the jar and noticed it requires one argument. Even providing the argument, I still get ArrayIndexOutOfBoundsException. Also, command does not show up in help from console or in-game. I realize it may be premature to submit an issue, but just want to give some feedback incase

[2014-09-20 13:12] #27 closed, assigned to nobody

[2014-10-06 07:38] Hellcode48 opened #37 "Website?"
I saw you guys don't have a Website yet, I am willing to offer my assistance to make you guys a Xenforo Website :D

[2014-10-06 08:05] #37 closed, assigned to nobody

[2014-10-06 18:06] bensku opened #38 "Reflection? Isn't it slow"
Well, I looked at Granite's implementation, and found that it heavily relies on reflection. Then I remembered that most Java tutorials (even the basic ones) do say that reflection is about 5x slower.

Doesn't that kill plugins performance? For example, if plugin wants to change some (10000) blocks, it would last 5x longer - and playing with large world changes was slow even with Bukkit which didn'

[2014-10-06 18:12] #38 closed, assigned to nobody

[2014-10-06 19:37] bensku opened #39 "Minecraft mappings"
I don't know, if you're already using these, but there is nearly ready to use [mappings](https://bitbucket.org/cuchaz/minecraft-mappings) created for Minecraft 1.8. I think there is no reason to do same work many times, so I decided to post that issue.

They are even now better than Bukkit's mappings in many parts. But theres still many classes which aren't even moved to packages.

[2014-10-07 03:23] Dereku opened #40 "EntityLivingBase.setHealth(float) isn't working."
When I call player.setHealth(player.getMaxHealth()), I get this - http://pastebin.com/UGuz8TSi
Sources of plugin: http://pastebin.com/xTP3SfLh
waidw?

[2014-10-08 10:40] #39 closed, assigned to nobody

[2014-10-09 21:43] GudUtenTruser opened #41 "Blockbreak and place events are not working"
I'm not sure if this is a problem caused by me or that the event is not working, but when I tried to use the Block Break and Place event, nothing triggers.

I tried to both send the blocktype that was broken and placed to the player ingame and also print to the console, with no luck. I managed to get PlayerJoin- and quit events working, so I believe my setup is correct. It might just be me doing s

[2014-10-12 05:19] hjstn opened #42 "Block Place ERROR"
When I try to place a block, it places the block and shoots a bunch of errors to the console, mainly about NPE. I know this isn't an error with my plugin as none of them binds the player block place event.
I am running Java 7_51 on OS X 10.9.4 with Granite build 106.

Error:
[10:46:40] [Server thread/INFO]: [STDERR]@.(Throwable.java:748): java.lang.NullPointerException
[10:46:40] [Server thread/IN

[2014-10-12 05:30] hjstn opened #43 "Vanilla command ERROR"
When I try to use any vanilla command (/op justin97530, /gamemode c justin97530, /difficulty peaceful), this happens.

Error:
[10:55:56] [Server thread/ERROR]: Couldn't process command: 'op justin97530'
java.lang.IllegalArgumentException: Can not set final java.lang.invoke.MemberName field java.lang.invoke.DirectMethodHandle.member to java.lang.invoke.MethodHandleImpl$AsVarargsCollector
    at sun

[2014-10-13 14:52] Dereku opened #44 "PlayerInteract throws NullPointerException"
[It appears](http://pastebin.com/Q38HeFcY) if the player has no item in hand, and interacts with a block.
(translate dot google dot com, i luv u).

[2014-10-14 13:02] hjstn opened #46 "Whelp! No symlink for me."
Symlink and Granite doesn't like each other. When I tried to soft symlink the plugins folder from another location to the Granite folder:

Exception in thread "Granite Startup" java.lang.NullPointerException
    at org.granitemc.granite.GraniteStartupThread.loadPlugins(GraniteStartupThread.java:105)
    at org.granitemc.granite.GraniteStartupThread.run(GraniteStartupThread.java:67)

[2014-10-15 04:06] #44 closed, assigned to nobody

[2014-10-15 04:11] #40 closed, assigned to Voltasalt

[2014-10-16 14:59] #41 closed, assigned to nobody

[2014-10-19 01:30] rbrick opened #51 "[Bug] No Such Method: org.granite.api.block.Block.getBlockType()"
I was messing around with the API, and testing the Event system. I made a EventBlockBreak listener and EventBlockPlace listener, It is supposed to simply send the player a message saying what block they broke, so i use Block#getBlockType and it throws this error.

Stacktrace: http://pastebin.com/B8MA7EPe

I should note the versions :
Server - Build #116
API - Latest build from Maven repository

Co

[2014-10-19 12:46] #51 closed, assigned to nobody

[2014-10-19 12:46] #42 closed, assigned to Voltasalt

[2014-10-19 16:09] #43 closed, assigned to nobody

[2014-10-24 18:27] Dereku opened #56 "CfgFile.addDefault("parent.first", "somevalue") throws NullPointerException"
Exception: http://pastebin.com/FE8VNR9Z
Code: http://pastebin.com/Vk17y0mH
What am I doing wrong?)

[2014-10-24 20:59] #56 closed, assigned to nobody

[2014-10-25 10:52] #46 closed, assigned to nobody

[2014-10-25 20:03] PeaceDealer opened #57 "Version number not showing correctly on startup"
On the loading screen, the version number simply shows up as @VERSION@

![screenshot_1](https://cloud.githubusercontent.com/assets/996389/4780961/fee2f122-5c81-11e4-91fa-ae0ec968b653.png)

[2014-10-25 20:15] PeaceDealer opened #58 "Torch duplication when placed on suspended blocks"
When a torch is placed on a block with air under it, a additional torch is dropped.

![2014-10-25_23 14 08](https://cloud.githubusercontent.com/assets/996389/4780995/9902b7c8-5c83-11e4-8f36-46c12e12a597.png)

This also goes for survival mode

[2014-10-25 21:56] #57 closed, assigned to nobody

[2014-10-25 22:30] #58 closed, assigned to nobody

[2014-10-26 11:33] Dereku opened #60 "CfgFile.load(File) doesn't working (?)"
If CfgFile.load(File) mean loading configuration from file with values, it's not working. After calling CfgFile.load (File) CfgFile still empty, but in the File existing values.
//© translate.google.com

[2014-10-26 19:14] tommy1019 opened #63 "No way to do teleportation"
There is currently no way to do teleportation.

Example:
Writing a /tphere command with this code:
http://pastebin.com/Era2DmEH

On the screen of the command sender, the player gets moved to your location and then immediately moved back
On the person being teleported's screen, nothing happens

[2014-10-26 20:34] matthijs2704 opened #64 "Chatcolors aren't working"
ChatColors aren't working. `new ChatComponentBuilder().text("Welcome back " + event.getPlayer().getName() + "!").color(ChatColor.BLUE).build()` gives plain white text instead of blue text.

[2014-10-27 06:03] #64 closed, assigned to nobody

[2014-10-27 19:58] #63 closed, assigned to nobody

[2014-10-28 06:29] matthijs2704 opened #65 "Pitch and Yaw should be swapped"
Now when you call getLocation or setLocation the pitch is set/got as yaw and the yaw is set/got as pitch. When you swap them the pitch and yaw are correct on teleportation

[2014-10-28 18:48] matthijs2704 opened #66 "Plugin randomly breaks"
After a few restarts (/stop and then start.sh to restart the server) the commands and/or event handlers aren't being called anymore. Even the constructor of the main class isn't being called. Switching between builds fixes it temporary

[2014-10-28 19:43] #65 closed, assigned to nobody

[2014-10-29 08:02] matthijs2704 opened #69 "Way to interact with Minecraft server class in a plugin"
Is there a way to interact with a vanilla server class in a plugin instead of in the Granite project itself?
If so, how can I do that?

[2014-10-29 13:48] #69 closed, assigned to nobody

[2014-10-30 18:52] matthijs2704 opened #70 "EventHandlers are called twice"
EventHandlers are called twice per real event. (So player joins, the EventPlayerJoin gets invoked twice)

[2014-10-31 12:01] matthijs2704 opened #72 "Server crashes on startup"
Every time i load the server now it throws:

[code]

But the Mapping.json is in the configuration directory, as it's supposed to. The file contains the data as on the repo!

[2014-10-31 16:57] #72 closed, assigned to nobody

[2014-11-01 09:25] #66 closed, assigned to nobody

[2014-11-06 15:44] hjstn opened #74 "No Chat Event?"
some plugins I'm making requires a chat even, is this planned?

[2014-11-07 06:49] matthijs2704 opened #75 "Placing slabs make a full block"
When you place a slab, it doesn't place the slab but it makes a full block (2 slabs on each other)

[2014-11-13 20:44] #74 closed, assigned to nobody

[2014-11-15 14:54] #75 closed, assigned to nobody

[2014-11-18 16:23] BrilZliaN opened #77 "Plugins are initialized twice"
Plugins' <init> method is called twice: when Granite is started and when Minecraft is started.

Server log:

[code]

Example plugin code:

[code]

[2014-11-18 18:16] #77 closed, assigned to nobody

[2014-11-20 18:57] kiwec opened #78 "EventBlockBreak is called when the block isn't broken"
In creative, it can be called multiple times (with different event IDs) even though only one block was broken.

In survival, the event keeps being called while mining the block, and the event has no way of checking its state (mining/cancel/broken...).

[2014-11-20 20:09] aikar opened #79 "Improving Reflection Performance"
Looking over the current Composite code, it appears every API call is doing lookups for mappings and method references per call.

This is quite efficient especially for hot code.

I suggest redesigning the composite layers to define a consistently named static method reference for every method it knows it needs to access, and then in a static initializer, look up to build those references.

someth

[2014-11-22 07:15] tommy1019 opened #80 "ClassCastException Adding items to a player's inventory"
[code]

This code produces the following error running on the latest release:

[code]

[2014-11-22 10:02] #70 closed, assigned to nobody

[2014-11-22 11:03] #78 closed, assigned to nobody

[2014-11-22 18:36] kiwec opened #82 "EventBlockPlace is cancelled by default"
... the event doesn't cancel itself of course, but event.isCancelled() returns true by default.

In EventBlockPlace.java :

[code]

[2014-11-23 05:53] tommy1019 opened #83 "Player.getUUID(); Returns null"
Player.getUUID(); always returns null.
Player.getUniqueID() works but it is not clearly defined what kind of uuid that is: a online player uuid, a entity uuid, or a offline player uuid.
Either way there shouldn't be a method that just returns null.

[2014-11-23 11:32] #82 closed, assigned to nobody

[2014-11-27 11:07] #83 closed, assigned to nobody

[2014-12-09 15:51] robobenklein opened #89 "Error in BytecodeModifier.java"
`CtMethod javassist.CtClass.getDeclaredMethod(String name) throws NotFoundException`

This occurs after following install and run instructions using test.sh on an Ubuntu 14.10 system.
The specific output is:

[code]

However the server continues to try to run, giving further errors:

[code]

And that's where it dies. Could this be related to have a 1.8 vs 1.8.1 Server Jar?

Although I'm nowhere ne

[2014-12-09 22:43] #89 closed, assigned to nobody

[2014-12-11 15:14] robobenklein opened #91 "Throwable.java:748: java.lang.NullPointerException"
[code]

And at that point the server crashes.
Running `test.sh` on Java version "1.7.0_65" on Ubuntu Linux.

On line 212 of Mappings.java is

[code]

When in Eclipse it shows no errors.

[2014-12-27 20:17] #91 closed, assigned to nobody

[2014-12-27 20:18] #60 closed, assigned to nobody

[2014-12-27 20:18] #79 closed, assigned to nobody

[2014-12-27 20:18] #80 closed, assigned to nobody

[2014-12-29 13:25] matthijs2704 opened #104 "Vector3d stops further code from running"
In `ItemInWorldManagerClass.java` (and others where Vector3d is used) when you initiate the Vector3d it stops there and further code will not be executed.
For example:

[code]

will create ghost blocks because `return callback.invokeParent(args);` is never reached. (block still exists but isn't shown to user)

[2014-12-29 17:44] #104 closed, assigned to nobody

[2015-01-01 23:11] matthijs2704 opened #111 "getItemInHand() throws exception"
[code]
Voltasalt: "EntityPlayer doesn't extend EntityLiving, it extends EntityLivingBase and equipment is a field on EntityLiving"

[2015-01-02 09:43] #111 closed

[2015-01-02 11:15] Voltasalt commented on #111
I also fixed this in 48e16c325d5bb36c2264944e873cf2f95de09460

[2015-01-02 11:15] matthijs2704 commented on #111
Ik thats why i closed the pr

[2015-01-02 11:47] matthijs2704 opened #113 "fieldSet$tagList throws exception"
```tagList.fieldSet$tagList(enchantmentList);``` throws
[code]

Declaration:
[code]

fieldGet$tagList() works fine but fieldSet$tagList(List tagList) doesn't

[2015-01-02 11:48] Voltasalt commented on #113
What class did you add the setter?

[2015-01-02 11:49] matthijs2704 commented on #113
MCNBTTagList, new class/interface for NBTTagList. Working on Enchanting API so had to add it

[2015-01-02 13:10] AzureusNation commented on #113
I think it maybe better if we wait for the NBT API as then we can incorporate both at the same time. @Voltasalt I'm thinking of maybe doing the same as I did before but with the sponge API? sound good?

[2015-01-02 13:11] Voltasalt commented on #113
@AzureusNation There isn't any NBT api in Sponge yet, and with the whole MCInterface things I don't think we even need a private implementation.

[2015-01-02 13:17] AzureusNation commented on #113
@Voltasalt 'Yet', there will be a pull request tonight though :P ahaha

[2015-01-02 13:18] matthijs2704 commented on #113
if you want to see what I did with the enchanting api see this https://github.com/matthijs2704/Granite/tree/enchantingAPI and https://github.com/GranitePowered/GraniteMappings

[2015-01-02 13:31] #113 closed

[2015-01-10 21:06] PeaceDealer opened #123 "No logs in #307?"
Hello

Just tried to run from your build #307 how-ever i get a "shit-ton" of error messages but there does not appear to be any log files with them...

Granite Build: 307
OS: Debian
java version "1.8.0_25"
Java(TM) SE Runtime Environment (build 1.8.0_25-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.25-b02, mixed mode)

The errors i could copy from the terminal: http://pastebin.com/WdyMTWxv

[2015-01-10 21:13] Jckf commented on #123
What are said error messages?

[2015-01-10 21:24] PeaceDealer commented on #123
I'm not sure. There are so many they go off my terminal..
Ill post the onces i can see

[2015-01-10 22:02] AzureusNation commented on #123
Just to clarify but you put Glowstone in your Issue box, do you mean Granite?

[2015-01-10 22:05] Voltasalt commented on #123
Try the newest build.

[2015-01-10 22:57] matthijs2704 commented on #123
Check your file limit. When its set below (or equal to) 1024 Granite cant load all the classes...

[2015-01-10 22:58] matthijs2704 commented on #123
Try http://stackoverflow.com/questions/34588/how-do-i-change-the-number-of-open-files-limit-in-linux

[2015-01-10 23:04] Voltasalt commented on #123
@matthijs2704 That should be fixed, newer builds close the file handles fast enough so it won't matter.

[2015-01-10 23:44] matthijs2704 commented on #123
Ah alright :)

[2015-01-11 05:32] PeaceDealer commented on #123
Yes sorry. I was working late last night and looking at different servers. Think I mixed around the names. My bad

[2015-01-11 09:42] #123 closed

[2015-01-12 03:32] lobuo opened #125 "Server crashes when killed by a skeleton"
I was testing out my granite server and I got killed by a skeleton. I was in survival mode and opped. I'm not sure if this is only an issue with skeletons or if it is an issue with other mobs too. Here is the contents of the crash report file, ask me if you need more info!:

---- Minecraft Crash Report ----
// You should try our sister game, Minceraft!

Time: 1/11/15 5:20 PM
Description: Ticking e

[2015-01-12 08:16] AzureusNation commented on #125
I see the issue, will fix tonight.

[2015-01-12 18:39] #125 closed

[2015-01-13 12:48] AzureusNation opened #127 "Rewrite of README.md"
This is now very out dated and needs to be updated to the Sponge version of Granite.
This needs to include:
   * Who we are
   * What our Goal is (To provide an almost sandbox environment of modding)
   * How to download
   * Where to download
   * How to make Git Builds
   * How you can help
   * Licence (MIT)

[2015-01-13 15:14] AzureusNation commented on #127
Can you add a little background on how we came to be and what we are doing as a group and our goal of a near sandbox environment of modding.

[2015-01-13 15:57] #127 closed

[2015-02-06 23:37] twizmwazin opened #130 "NullPointerException on server startup"
Exception in thread "Granite Startup" java.lang.NullPointerException
	at org.granitepowered.granite.Granite.error(Granite.java:159)
	at org.granitepowered.granite.GraniteStartupThread.run(GraniteStartupThread.java:212)

This was gotten with JDK 1.8 on Linux 3.18.5, Granite build 405.

[2015-02-07 00:14] boformer commented on #130
Confirmed on Windows

[2015-02-07 08:50] matthijs2704 commented on #130
I guess someone forgot to push the mappings

[2015-02-07 10:55] AzureusNation commented on #130
Can I have a full stacktrace please.

[2015-02-07 11:51] boformer commented on #130
That is the full stack-trace :(

[2015-02-07 11:58] #130 closed

[2015-02-07 11:58] Voltasalt commented on #130
@twizmwazin @boformer Fixed.

[2015-02-08 23:08] Hidendra opened #132 "Guice: Use child injector instead of scoping"
So Sponge Forge switched from using [scoping](https://github.com/GranitePowered/Granite/blob/master/src/main/java/org/granitepowered/granite/impl/guice/PluginScope.java) for plugins to child injectors. It's 10000% easier to understand and use, so should probably be changed by us as well.

If curious, basically right now Guice injects plugins kinda like this:

    pluginInstance = clazz.newInstance

[2015-02-08 23:58] mbax opened #133 "ClassCastException via GraniteEntityPlayerMP#getName"
Called event.getPlayer().getName() during a PlayerChatEvent

[code]

[2015-02-09 00:32] Hidendra commented on #133
Fixed in PR #134, rip the commit spam above from amending

[2015-02-09 08:48] #133 closed

[2015-02-09 15:07] mbax commented on #133
:heart:

[2015-02-09 17:32] Soren025 opened #135 "Events are not accessible private"
Events will throw an exception if the methods for them are private. I don't know if this is a design decision but I would rather be able to hide at least the state events in the main class from external eyes.

[2015-02-09 17:36] AzureusNation commented on #135
Can I have a stacktrace please so I can see what is happening.

[2015-02-09 17:48] Voltasalt commented on #135
@Soren025 Can you give me the stack trace?

[2015-02-09 17:50] Voltasalt commented on #132
@Hidendra Ping

[2015-02-09 17:53] Hidendra commented on #132
@Voltasalt Pong

[2015-02-09 17:54] Voltasalt commented on #132
@Hidendra Just wanted to remind you :P

[2015-02-09 17:58] Hidendra commented on #132
my memory isn't that short term! :cry:

will look at this this evening

[2015-02-09 18:00] Soren025 commented on #135
http://pastebin.com/p3WgPGF1

[2015-02-09 18:15] Voltasalt commented on #135
@Soren025 Mind sending me your plugin?

[2015-02-09 18:26] Soren025 commented on #135
I undid the changes I made to my code to see if granite was in a state to load plugins, so I don't have what I used anymore. However all you need is this in a jar to replicate the issue. (any event will do)

[code]

[2015-02-09 18:30] #135 closed

[2015-02-10 02:07] Hidendra commented on #132
super important pr created >>>> #136

[2015-02-10 09:41] #132 closed

[2015-02-14 21:06] Techy4198 opened #139 "Major error while loading server"
Loaded the prebuilt jar and this happened. I tried both the latest stable build and the latest beta, both pretty much the same thing.
Also it takes about half a minute before anything appears in the console window at all.
[code]
I thought it could be my antivirus screwing with the downloads, but it still occurs with the program completely disabled.
Before you say, I tried deleting all files create

[2015-02-14 21:09] Techy4198 commented on #139
Also it takes about half a minute before anything appears in the console window at all.

[2015-02-14 21:48] Voltasalt commented on #139
Fixed, try now.

[2015-02-15 09:13] Techy4198 commented on #139
Latest beta works, latest stable has a slightly different error. This time it can't find setPosition.
Error lines: (Idk if this is helpful)
BytecodeClass:260
BytecodeModifier:71
GraniteStartupThread:290
GraniteStartupThread:144

[2015-02-15 10:11] AzureusNation commented on #139
Please us the latest jenkins build posible please as the mappings are changing as we are chaning our code.

[2015-02-16 11:19] AzureusNation commented on #139
@Techy4198 Are you receiving this error on our latest builds?

[2015-02-16 19:15] Techy4198 commented on #139
@AzureusNation The latest 'development build' works fine, but the latest 'recommended release' build does not. I assume that the missing things in mappings.json will change almost every time that a new version of it is published to the main download.

[2015-02-16 20:53] AzureusNation commented on #139
We are still thinking on how we are going to push out these mappings and how they are controlled with updates but I think I have a solid plan that I am going to propose to the team soon.

[2015-02-16 20:53] #139 closed

[2015-02-24 22:50] Chrisbotcom opened #141 "Run Granite-v1.8.3-A1-SNAPSHOT+b437.jar clean install"
Chrisbot-2:Granite chrisbot$ java -jar Granite-v1.8.3-A1-SNAPSHOT+b437.jar
[17:49:02] [Granite Startup/INFO]: Starting Granite version 1.8.3-A1-SNAPSHOT build 437 implementing API version 1.1-SNAPSHOT
[17:49:02] [Granite Startup/INFO]: Loading Minecraft 1.8.3
[17:49:02] [Granite Startup/INFO]: Querying Granite for updates
[17:49:04] [Granite Startup/ERROR]: We did a REALLY BIG boo-boo :'(
java.lan

[2015-02-24 23:00] Voltasalt commented on #141
This is my bad, I forgot to push a mapping. If anyone else is around,add

"run()V": "run"

To the file under MinecraftServer, otherwise I'll do it some time tomorrow
(going to bed)
On 24 Feb 2015 23:50, "Chris Courson" <notifications@github.com> wrote:

[2015-02-24 23:35] Chrisbotcom opened #142 "After manually adding "run()V": "run" to MinecraftServer in mappings.json"
Chrisbot-2:Granite chrisbot$ java -jar granite-1.8.3-A1-SNAPSHOT.jar
[18:32:15] [Granite Startup/INFO]: Starting Granite version 1.8.3-A1-SNAPSHOT build 437 implementing API version 1.1-SNAPSHOT
[18:32:16] [Granite Startup/INFO]: Loading Minecraft 1.8.3
[18:32:16] [Granite Startup/INFO]: Querying Granite for updates
[18:32:18] [Granite Startup/INFO]: Found pre-modified bytecode in classes/, loadin

[2015-02-25 06:42] Voltasalt commented on #142
Was testing stack trace deobfuscation and forgot to remove the test
exception, goddamnit
On 25 Feb 2015 00:35, "Chris Courson" <notifications@github.com> wrote:

[2015-02-25 18:12] AzureusNation commented on #141
This is now fixed in latest build.

[2015-02-25 18:12] #141 closed

[2015-02-25 18:13] AzureusNation commented on #142
This is now fixed in latest build.

[2015-02-25 18:13] #142 closed

[2015-02-28 00:41] Chrisbotcom opened #143 "Image verification on granitepowered.org accepts no correct responses - cannot register"

[2015-02-28 12:08] AzureusNation commented on #143
is there a stacktrace that you have and also can you replicate the error please.

[2015-02-28 20:01] boformer commented on #143
He is talking about your forum... the captcha

[2015-02-28 21:32] AzureusNation commented on #143
ah ok thanks for that but please only use this issue tracker for bugs in Granite.

[2015-02-28 21:32] #143 closed

[2015-03-27 15:21] AzureusNation opened #144 "Game Registry"
I would like to take a different approach than Sponge Mod on the Game Registry so I will make a branch and add my bits in there, See what you guys thing but personally it looks a load cleaner than it currently is.

@Zidane
@Voltasalt
@Minecrell

[2015-03-27 15:30] Voltasalt commented on #144
Nice.

[2015-03-27 17:27] Minecrell commented on #144
I'm going to hate on the iPad a bit here, it opened the keyboard when I tried to select @AzureusNation so I assigned the wrong person :P

[2015-03-27 17:27] jamierocks commented on #144
@Minecrell ew ipad

[2015-03-27 18:22] Voltasalt commented on #144
@jamierocks +1

[2015-03-27 18:22] Minecrell commented on #144
.-.

[2015-04-01 09:44] boformer opened #146 "Error while building Granite"
I tried to build Granite with Gradle:

[code]

Seems like Mojang's maven repo is down.

[2015-04-01 12:13] nikosgram13 commented on #146
Clear the gradle download history.

``rm -rf $HOME/.gradle/caches/``

[2015-04-01 12:27] boformer commented on #146
That does not resolve the issue.

[2015-04-01 12:44] Voltasalt commented on #146
Have you tried running setupDecompWorkspace?

[2015-04-01 14:23] Minecrell commented on #146
Granite's project setup is almost identical to Sponge's, so you need to run `setupDecompWorkspace` once to let ForgeGradle decompile (and deobfuscate) the Minecraft source.

[2015-04-01 14:23] #146 closed

[2015-04-06 11:01] nikosgram13 opened #148 "Could not pass CommandEvent."
[code]

[2015-04-06 12:41] boformer commented on #148
Granite uses an old version of the SpongeAPI.

The method ``Server getServer()`` does not exist in that API version:
https://github.com/SpongePowered/SpongeAPI/blob/14035b44da5ee3f8063f6e089a434495c31f7a1c/src/main/java/org/spongepowered/api/Game.java#L54

The Sponge Forge Mod implementation uses the up-to-date API version.

[2015-04-06 12:46] nikosgram13 commented on #148
I know :smile:

[2015-04-06 13:13] Minecrell commented on #148
We're working on a major redesign of the project setup of Sponge/Granite, it is updated already and will be fixed once we have that finished and merged.

[2015-04-06 13:13] #148 closed

[2015-04-06 13:20] Minecrell commented on #144
Closing this for now, this will probably be more an issue to fix in Common than here.

[2015-04-06 13:20] #144 closed

[2015-04-07 22:39] phutzbah opened #149 "eclipse setup issues"
I have followed the instructions for setting up Granite in Eclipse as well as several other suggestions on the forum.
I am left with the following unresolved errors:
gradlew build      executes fine with no errors
right after cloning the repo i did, before building...
git submodule update --init --recursive
this resolved some of the issues but not all
there was also an error
in line 31, GraniteTex

[2015-04-07 23:06] Minecrell commented on #149
Known problem, should be fixed once we have our new project setup merged. We're working on a major restructure of the project and this was fixed together with that

[2015-04-07 23:06] #149 closed

[2015-04-21 06:56] Zidane opened #150 "gradle runServer fails"
Sponge seems to start fine but this injection is never getting called so plugins aren't loaded:

https://github.com/SpongePowered/SpongeVanilla/blob/master/src/main/java/org/spongepowered/vanilla/mixin/server/MixinDedicatedServer.java#L50

[2015-04-21 07:06] Zidane commented on #150
http://pastebin.com/tCEgXeGu

Might be a Mixin issue. @Mumfrey ?

[2015-04-21 10:50] Mumfrey commented on #150
This looks wonng: https://github.com/SpongePowered/SpongeVanilla/blob/master/src/main/java/org/spongepowered/vanilla/launch/server/VanillaServerTweaker.java#L114-L117

[2015-04-21 10:55] gabizou commented on #150
What's wrong with it @Mumfrey?

[2015-04-21 10:57] Mumfrey commented on #150
Nothing, read the edit. The tweaker is a mess so I need to take a proper look at it when I have more time.

[2015-04-21 11:06] Mumfrey commented on #150
As far as the injection goes, it looks fine, although the shift by -2 seems totally unnecessary, not sure why that's there. Output logs cropped to arbitrary 80 character limits are incredibly annoying but I suggest you turn on mixin's "dump target on failure" option and run the input bytecode through javap.

[2015-04-21 19:20] Minecrell commented on #150
The mixin issue @Zidane linked above seems to happen only when using `gradle runServer`, at least for me. This doesn't seem to be a SpongeVanilla problem, I'm getting similar errors in Sponge as well.

As for the injection problems or the mixin error, I'm neither able to reproduce this in dev (in IntelliJ IDEA) nor in production.

[2015-04-23 21:34] Zidane opened #152 "vanilla.event.* Should be moved into Common"
@Minecrell This is mostly you

If we are not deviating much or none at all from Sponge's event framework then we should migrate it to common to eliminate more code maintenance.

Excluding obvious ones like VanillaEventManager (unless it can be migrated).

[2015-04-23 21:35] Zidane opened #153 "MixinEntityMinecart, purpose?"
I know we couldn't bring this over 100% from Sponge as Sponge injects a Forge added method.

We need to either add special Vanilla support or migrate to common

[2015-04-24 15:56] Zidane commented on #150
[ant:javac] warning: [options] bootstrap class path not set in conjunction with
-source 1.6
[ant:javac] 1 warning
:runServer
2015-04-24 10:53:29,366 WARN Unable to instantiate org.fusesource.jansi.WindowsA
nsiOutputStream
[10:53:29] [main/INFO]: Extra: []
[10:53:29] [main/INFO]: GradleStart coremod searching disabled!
[10:53:29] [main/INFO]: Running with arguments: [--tweakClass, org.spongepowered

[2015-04-24 16:52] Zidane opened #155 "Mix Entity/TileEntity and place custom NBT under ForgeData tag"
(This is a reminder to me).

@bloodmc and myself agreed that, despite naming, keeping data consistent in location is very important for SpongeVanilla/Sponge's relationship. By keeping the data under ForgeData, we ensure that custom data will work between the two platforms with no issue. Keeping it under ForgeData also grants us full compatibility with Forge (if someone was to remove Sponge). Only

[2015-04-24 17:26] Mumfrey commented on #150
The fact that it's looking for `func_72945_a` would imply that it *does* have the refmap, which of course it shouldn't for testing. I would recommend not using `gradle runServer` and just running in the IDE.

Also please stop posting the 80-character-cropped logs, it means it takes 5 minutes to reconstruct the actual log so that it's readable.

Simple fix? Add a task which deletes the refmap which

[2015-04-24 17:32] Minecrell commented on #150
I think the problem here is that Gradle is running the server from the built JAR, which is [including the refmap when being built](https://github.com/SpongePowered/SpongeCommon/blob/master/gradle/minecraft.gradle#L54). We would need to patch 2 JARs to delete 2 refmaps (one for Common and one for SpongeVanilla) and the original JARs would basically be invalid then.

[2015-04-24 17:50] Mumfrey commented on #150
Why is the refmap going into the original jar at all? If you just include it only in the shaded jar then the issue will go away.

[2015-04-24 17:54] Minecrell commented on #150
For the implementation this is a mistake, but for Common there is no shaded JAR currently.

[2015-04-24 19:38] nikosgram13 opened #156 "Unable to launch (InvocationTargetException)"
This log is from latest build: 371d71fe8c7aae0ef0c464171033e389edc4db1a

Java Compiler Version: `1.8`

[code]

Full log: https://gist.github.com/nikosgram13/868cee80ba0bcdc45caf

[2015-04-24 19:48] Minecrell commented on #156
Your submodule is probably outdated. Make sure to execute `git submodule update --init --recursive` when pulling down changes

[2015-04-24 20:07] nikosgram13 commented on #156
I'll try again and will tell you.

[2015-04-24 20:14] nikosgram13 commented on #156
Ok, it works. But had upgraded the submodules before. :rabbit:

[2015-04-24 20:14] #156 closed

[2015-04-26 00:16] BlackGoat opened #157 "Patch for pre 1.8.6 exploits"
Minecraft updated to 1.8.4 to prevent an exploit involving malicious clients crashing servers. Forge has supposedly patched this issue, but SpongeVanilla may still be weak to it.

[2015-04-26 18:05] #155 closed

[2015-04-29 14:03] FireFaced opened #158 "Gradle refuses to work with SpongeVanilla"
Gradle is giving me a long string of errors when I try to follow the install instructions for SpongeVanilla.

[2015-04-29 14:05] Minecrell commented on #158
Reporting errors without actually posting the errors does not help to fix the issue. Please paste them on pastebin/gist and add the link here so we can check what's wrong.

[2015-04-29 14:15] FireFaced commented on #158
Okay. http://pastebin.com/4ZXVakHz

[2015-04-29 14:20] Minecrell commented on #158
Seems like some connection problems basically. Try again and if it continues to fail try again in like an hour, there may be problems with the server or your Internet connection

[2015-04-29 14:21] FireFaced commented on #158
I've tried it many times before submitting this issue, but I'll try again in an hour or two.

[2015-04-29 15:02] FireFaced commented on #158
Still failing.

[2015-04-29 15:03] kenzierocks commented on #158
Doesn't look like the server. http://isup.me/jcenter.bintray.com

[2015-04-29 15:59] FireFaced commented on #158
Now it's throwing a different error: http://pastebin.com/5A9zSm49

[2015-04-30 07:24] ST-DDT commented on #158
Please check your firewall. It may block downloading jars from that source or application.

[2015-04-30 13:03] FireFaced commented on #158
Git bash, and gradle worked fine compiling Pore, so I don't know what the problem is.

[2015-04-30 17:00] Seadragon91 commented on #158
I tried to compile it over gradlew.bat. This error comes on my side.
[code]

[2015-04-30 17:02] Minecrell commented on #158
@Seadragon91 You need to run `gradlew.bat setupCIWorkspace` before building.

[2015-04-30 20:46] #158 closed

[2015-05-04 16:14] Philius342 opened #159 "NoClassDefFoundError while trying to start the server"
I built SpongeVanilla successfully on Ubuntu 15.04 with openjdk 6 and gradlew, but when I tried to start it with the command "java -jar spongevanilla-1.8-2.1DEV-0.jar" I got this output:

Downloading minecraft_server.1.8.jar... This can take a while.
https://s3.amazonaws.com/Minecraft.Download/versions/1.8/minecraft_server.1.8.jar
Successfully downloaded minecraft_server.1.8.jar and verified check

[2015-05-04 16:24] Minecrell commented on #159
Does it still happen if you run the server the second time?

[2015-05-04 16:35] Philius342 commented on #159
The second time I got another error:

[18:33:12 INFO] [Sponge]: Initializing Sponge...
[18:33:12 INFO] [Sponge]: De-obfuscation mappings are provided by MCP (http://www.modcoderpack.com)
[18:33:13 INFO] [Sponge]: Initialization finished. Starting Minecraft server...
[18:33:21 ERROR] [mixin]: Critical injection failure: LVT in net/minecraft/server/management/ServerConfigurationManager::func_72355_a

[2015-05-04 16:40] Minecrell commented on #159
Yes, the second error is a known problem, however the first problem shouldn't happen. The first problem will occur if classes get loaded to early. I think that could be possibly caused by the additional `-javaagent` that was added. Can you try to start it again in an empty folder (with nothing in) but temporarily unset the `JAVA_TOOL_OPTIONS` (type `unset JAVA_TOOL_OPTIONS`) before starting?

[2015-05-04 16:50] Philius342 commented on #159
This time I got the same error as the second time, but without the first line: http://pastebin.com/qp9LQi8W

[2015-05-04 16:56] Minecrell commented on #159
Alright, so the first problem is caused by the javaagent you have installed. It seems to be [JAyatana](http://www.webupd8.org/2014/02/get-unity-global-menu-hud-support-for.html) from what I can tell. The first start when the Minecraft server isn't downloaded yet is kinda tricky, so it may fail with custom modifications to the JVM (when classes are loaded too early) - this seems to happen with this

[2015-05-04 16:56] #159 closed

[2015-05-04 18:24] Chaka15205 opened #160 "Error: Error while compiling SpongeVanilla"
The error is pasted here: http://paste.feed-the-beast.com/view/3c9110ed

What do I need to do to fix this?

[2015-05-04 18:36] Minecrell commented on #160
You need to run the `setupDecompWorkspace` or `setupCIWorkspace` task before building SpongeVanilla.

[2015-05-04 18:36] #160 closed

[2015-05-06 02:28] Zidane opened #161 "Performing stop in IntelliJ sometimes hangs IDE console"
@Minecrell

Sometimes when issuing a stop, the console won't fully close. I suspect this is an issue with jline impl but it "shouldn't" be happening as the console thread interpreter is daemon.

I can easily hit the stop button in the IDE, just an annoyance is all.

[2015-05-06 04:48] Minecrell commented on #161
I noticed this problem (sometimes!) when testing on my server in production as well. Unfortunately, when I wanted to debug this, it didn't happen anymore. When you notice this the next time, can you make a dump of the current state of the threads? You can click on the ![Dump Threads](https://www.jetbrains.com/img/webhelp/idea/threaddump.png) button even when just normally running to generate a thr

[2015-05-09 22:51] Grinch opened #162 "Cancelling Interact Events still consumes 1 of an item stack."

[2015-05-09 22:56] Grinch commented on #162
Update: This looks like it actually is a client bug. Inventory just needs to be refreshed.

[2015-05-10 11:10] #152 closed

[2015-05-12 14:02] Zidane opened #163 "Mixin issue with MixinWorld in feature/event/player-place-block"
[code]

[2015-05-12 14:10] Zidane commented on #150
@Minecrell

What is the status on this?

[2015-05-12 16:14] #163 closed

[2015-05-12 19:02] Minecrell commented on #150
@Zidane Haven't done any work on this, it requires restructuring the outputs of the implementation module which is quite a bit of work. It's generally better to run through the IDE anyway so I'll fix this once I find some additional time.

[2015-05-12 20:34] nyacat opened #164 "Building error,some pom files 403 error"
Oh~
Log:
FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all dependencies for configuration ':runtime'.

  Required by:
      org.spongepowered:SpongeVanilla:1.8-2.1DEV-0

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

Total time: 11.732 secs

[2015-05-12 20:46] Zidane commented on #164
Did you follow the instructions in the README?

[2015-05-12 20:48] nyacat commented on #164
yes,
I have run this command：
    git clone --recursive https://github.com/SpongePowered/SpongeVanilla.git
    cd SpongeVanilla
    cp scripts/pre-commit .git/hooks
 Then,I run
./gradlew
It shows that error

[2015-05-12 20:55] Zidane commented on #164
gradle setupDecompWorkspace
then
gradle

[2015-05-12 20:55] Zidane commented on #164
Which was in the README under building ;).

[2015-05-12 20:56] #164 closed

[2015-05-14 21:54] modwizcode opened #165 "SpongeVanilla Dev Builds"
Sponge has dev builds, SpongeVanilla should have them too?

[2015-05-14 22:07] Zidane commented on #165
You've not been around much the last few days and this should have just been asked in chat.

If you run SpongeVanilla, you'll realize it has corrupt world generation in The End and the Nether simply because the world changes haven't been ported from Sponge -> SpongeCommon by @bloodmc .

It also hasn't received as much testing. Until I'm comfortable with it (means past those changes and more testin

[2015-05-14 22:07] #165 closed

[2015-05-14 23:32] gratimax commented on #165
Then shouldn't we keep this issue open until we have dev builds? The issue has not been resolved except with a hypothetical...

[2015-05-14 23:34] Zidane commented on #165
@gratimax

I already had plans for dev builds and this isn't an issue lol.

[2015-05-16 21:16] Zidane commented on #161
[code]

[2015-05-18 23:00] modwizcode opened #167 "Injection for NetServerPlayHandler fails"
Running off a clean build, I am using the jar from the build to try and run the server. The server works fine except for this error when a player makes the first connection. The error happens using a standard client, a bot was just easier while trying to figure out the cause.

I haven't seen anything except perhaps that it's a Mixin or ASM error.

[code]

[2015-05-18 23:04] modwizcode commented on #167
This does not happen when using an IDE to launch

[2015-05-18 23:15] Mumfrey commented on #167
I got dis.

[2015-05-18 23:40] modwizcode commented on #157
I can only find the NBT size issue, I know two issues related to security were shown as patched on the JIRA report from mojang.com. But the other issue was made private and I cannot see any patches in forge that suggest a fix for the private issue.

[2015-05-18 23:58] simon816 opened #168 "Event Implementation Progress Tracker"
**Event Progress Trackers:** [SpongeForge](https://github.com/SpongePowered/SpongeForge/issues/274) | [SpongeCommon](https://github.com/SpongePowered/SpongeCommon/issues/41) | **SpongeVanilla**
## Progress tracker for events not implemented in SpongeCommon

**Please keep this updated Sponge devs!**

`achievement.GrantAchievementEvent.TargetPlayer`
- [ ] Fired from **all** relevant parts of the Min

[2015-05-19 04:55] Minecrell commented on #157
The plan is to update SpongeVanilla to 1.8.4 as soon as possible. As long we don't have dev builds released and it is not used in production there is no big reason to spend additional effort to fix this before updating to 1.8.4.

[2015-05-19 11:26] modwizcode commented on #157
I'm mostly using this to make sure I know Mixins well enough, in developing this fix I've already found a bug in the Mixin code itself. So I'm gonna keep working on this until the update happens or I finish.

[2015-05-19 11:47] twizmwazin commented on #157
@Minecrell Has there been any indication from the MCP team on an update?

[2015-05-19 17:47] Minecrell commented on #157
@twizmwazin We will basically only get 1.8.4 together with FML/Forge 1.8.4, as of right now.

[2015-05-19 21:34] twizmwazin commented on #157
@Minecrell I'm aware, as both depend on MCP. However, I was asking if the MCP team has made any sort of a statement on updating, as I figured there are people who probably have better connections than me, and Searge doesn't have anything on twitter.

[2015-05-19 21:39] Mumfrey commented on #157
@twizmwazin yes, we are aware of what the blocking issues on getting 1.8.4 MCP mappings are. No, there has been no public statement but that doesn't mean there is no activity.

[2015-05-20 03:36] modwizcode commented on #162
@Grinch So you still need a SpongeVanilla patch for that?

[2015-05-20 04:19] Zidane commented on #162
@modwizcode

Yes, I know where the issue is and just haven't fixed it. Porting world changes is a priority to common at this point then coming back and finishing up PlaceBlock/this issue.

[2015-05-21 02:21] modwizcode commented on #167
@Mumfrey I think I'm seeing the same error, like it didn't go away. I'll post the new log since it's probably a slightly different error.

[2015-05-21 02:22] modwizcode commented on #167
[code]

[2015-05-21 10:53] Mumfrey commented on #167
Looks like a different error as far as I can tell. I'll investigate.

[2015-05-21 11:21] modwizcode commented on #167
Thanks, I haven't changed anything except to update SpongeVanilla to get the latest Common. Nothing in my code has changed. Here's the code that's failing https://gist.github.com/modwizcode/f40a37b2a3830ef33847

[2015-05-21 11:29] modwizcode commented on #167
Oops I think I'm just doing the Inject wrong. Still would be nice if the errors were clean.

[2015-05-21 11:37] Mumfrey commented on #167
The signature is wrong, since it should have an `int` and an `NBTSizeTracker` as well, but as you say it shouldn't crash like this, and I'm not 100% certain that that's what the issue is.

[2015-05-21 11:52] Mumfrey commented on #167
Interestingly, I get a completely different crash. Continuing to investigate.

[2015-05-21 18:38] Mumfrey commented on #167
Okay I've made some changes which should make this a whole lot easier.

So firstly, just FYI, the injection you had would not have worked anyway (assuming you wanted access to the `byte` b0 because `Shift.AFTER` only shifts after the invocation, and not after the actual assignment of the return value to the local variable. So I've added a new injection point type `INVOKE_ASSIGN` which automaticall

[2015-05-21 19:43] modwizcode commented on #167
I actually just needed to run my code after that. I needed a parameter
actually. But none the less the improvements are appreciated.

On 1:38pm, Thu, May 21, 2015 Mumfrey <notifications@github.com> wrote:

[2015-05-21 20:02] Mumfrey commented on #167
You just needed a parameter? Why were you capturing locals then?

[2015-05-21 21:18] modwizcode commented on #167
My quick search for information on how to get a parameter in the injection didn't yield any results so I assumed that I had to capture locals. That's probably incorrect given your statement, but that's why I was attempting to PRINT for locals, since I didn't know what I would need to capture.

[2015-05-21 21:56] Mumfrey commented on #167
Oh, it's not mentioned because you always get the method parameters in the injection so it's not specified explicitly anywhere. It will be clearer when I get to write the real docs but at the moment it's just mentioned in the injector javadoc.

Basically as far as injectors are concerned, "locals" refers to local variables created/defined within the method body.

Closing because as far as I can te

[2015-05-21 21:56] #167 closed

[2015-05-22 21:44] kashike opened #169 "Add support for plugin dependencies"
Plugin dependencies aren't resolved when loading plugins.

[2015-05-22 22:01] Minecrell commented on #169
This will be implemented when we have https://github.com/SpongePowered/SpongeAPI/issues/624 figured out

[2015-05-22 23:18] Mumfrey commented on #169
What about dependencies specified in the manifest?

[2015-05-23 17:17] modwizcode commented on #157
Given the release of 1.8.5 which is basically all non-public issues, I think that we cannot reasonably expect to keep up with the security patches that might be found.

[2015-05-23 21:14] modwizcode opened #170 "Sign clickEvent json doesn't work properly"
When you setup a sign that has clickEvent of action run_command in one of the lines, the command will never run. This has something to do with the command never running and after that the command itself never being executed.

I'm looking into this further.

[2015-05-24 19:35] modwizcode commented on #170
Found the problem, the command executor does ((CommandSource) sender) to cast the ICommandSender to a SpongeAPI CommandSource, but the sign uses an inner class which isn't mixed in. This should be made into an outer class in later version of 1.8 but for now I will provide a mixin to fix this.

[2015-05-24 19:54] Minecrell commented on #170
Then it's probably not a SpongeVanilla bug, but actualy a bug in SpongeCommon (because Forge should also have this problem)

[2015-05-24 20:04] modwizcode commented on #170
Yes, it's an issue with SpongeCommand, this is also only one of the issues, I'm still figuring out why the command fails to be retrieved too.

[2015-05-24 20:14] zml2008 commented on #170
yeah, this should be fixed in Common. You'll just need to do the same sort of wrapping as in ExecuteAt

[2015-05-24 20:31] modwizcode commented on #170
Found it I needed to add Subjectable too, I added the inner class as a target of MixinSubject and MixinCommandBlockLogic since these should be treated similarly. That fixed both issues.

[2015-05-24 20:37] #170 closed

[2015-05-26 00:20] kashike opened #171 "Implement /sponge command"
The `/sponge` command is currently not implemented in SpongeVanilla.

[2015-05-28 04:59] zml2008 opened #172 "Add fancy text-ui with clickables"
Some terminals give us mouse events -- we can take these and use them to handle clickable text.
A PaginationCalculator would be provided to size paginations appropriately for the size of the console window -- this is way easier than with the MC client because terminal fonts are monospaced at least.

Additionally, it would be nice to have a ncurses-style gui for a richer console experience.

Howeve

[2015-05-28 06:29] boformer commented on #172
It has to be optional. Not all server hosters provide direct access to the console.

[2015-05-28 06:31] kenzierocks commented on #172
I assume this works like most terminal programs and will detect the lack of a real console. That's how it normally works.

[2015-05-28 14:31] Zidane commented on #171
This issue needs to be graduated up to common where the command will reside.

[2015-05-28 14:31] #171 closed

[2015-05-29 14:46] AzureusNation commented on #153
@Zidane Couldn't we look at the Forge method and remake that in common? and try to only use Vanilla methods only?

[2015-05-29 14:58] AzureusNation commented on #157
@Minecrell @Zidane This is one of the downfalls that we have relying on MCP. Where as when me a @Voltasalt were using our own mappings we could have had this resolved and updated in a few hours!

[2015-05-29 16:03] Voltasalt commented on #157
Couldn't you ask Grum or another Mojangsta for details about the security
issues? In #sponge-dev, ofc
On 29 May 2015 16:58, "AzureusNation" <notifications@github.com> wrote:

[2015-05-29 16:04] Mumfrey commented on #157
@Voltasalt we already have this information for the most part.

[2015-05-29 16:06] Voltasalt commented on #157
Right, I'm just out of the loop then.
On 29 May 2015 18:04, "Mumfrey" <notifications@github.com> wrote:

[2015-05-29 16:28] twizmwazin commented on #157
Out of curiosity, are there licensing issues that prevent updating MCP mappings for SpongeVanilla? I really do think that, especially for SpongeVanilla, reliance on MCP will hurt the Sponge project, as other options such as Spigot are able to update significantly quicker due to independent mappings.

[2015-05-29 16:32] Mumfrey commented on #157
The whole point of using the MCP mappings is that it's a consistent set of mappings across the whole platform, making SpongeCommon possible. Whilst it would be perfectly feasible to do it ourselves, it would utterly pointless because it would undermine this basic tenet of keeping everything compatible across the board.

[2015-05-29 16:49] ryantheleach commented on #157
I think the better question is how can Sponge's involvement assist the MCP project in having quicker releases.

[2015-05-29 16:51] Mumfrey commented on #157
I already said, we know what the blocking issues are. Please leave it at that.

[2015-05-29 17:41] Zidane commented on #157
This is getting derailed

@AzureusNation Utilizing well established tech like ForgeGradle means we must be patient. For this particular minor version bump (1.8.x -> 1.8.6), ForgeGradle needed a major release to add a number of features that will make doing development on the Sponge ecosystem a lot easier. These changes take time and I can say with confidence that @AbrarSyed is just about done.

Af

[2015-05-29 17:41] #157 closed

[2015-06-18 21:20] NeoxVip opened #174 "Gradle or Gradlew?"
On the README, all the gradle cmds are written as "gradle", but when you download the files, there is no gradlew, but only "gradlew", with the W. Its not a HUGE issue, but i always get pissed off with typos, if its not a typo, then i've fuckd up. But i beleive that that is a problem.

[2015-06-18 21:21] gabizou commented on #174
Please re-read the [Setup](https://github.com/SpongePowered/SpongeVanilla#setup) specifically the Note. It's not a typo.

[2015-06-18 21:21] #174 closed

[2015-06-18 21:22] Mumfrey commented on #174
It's not a typo. If you have gradle installed on your computer then you just need to type `gradle`, however if you don't then you can use the supplied *gradle wrapper* using the command `gradlew`

I think people are likely to know whether they have gradle installed to be honest.

[2015-06-18 21:22] NeoxVip commented on #174
Sorry mates :/

[2015-06-21 17:09] vorburger opened #175 "AbstractMethodError: net.minecraft.server.dedicated.DedicatedServer.createWorld(Lorg/spongepowered/api/world/WorldCreationSettings;)Lcom/google/common/base/Optional;"
I've stumbled upon https://github.com/SpongePowered/Cookbook/blob/master/Plugin/WorldsTest/src/main/java/org/spongepowered/cookbook/plugin/WorldsTest.java and attempted to use this in https://github.com/vorburger/SwissKnightMinecraft/commit/a6fb883cee1fe419516769131e0afb977c81d880 but it's causing this:

[code]

Is this just not implemented yet (indeed neither org.spongepowered.vanilla.mixin.serve

[2015-06-21 17:50] gabizou commented on #175
This is fixed in the [unified multi-world branch](https://github.com/SpongePowered/SpongeVanilla/tree/feature/common/multi-world). Just note that when it is merged, creating worlds will be fixed.

[2015-06-22 13:35] modwizcode opened #176 "Mixin Error - Cannot apply MixinWorld"
This seems like a bug in SpongePowered/Mixin so I'll file it there but I'll mention it here for people so it's not duplicated.

https://gist.github.com/modwizcode/2c384ed79de36a1f7c90

https://github.com/SpongePowered/SpongeVanilla/blob/master/src/main/java/org/spongepowered/vanilla/mixin/world/MixinWorld.java#L83

EDIT:
Maybe not, I'm not sure how surrogate methods work. I'll defer to @Mumfrey fo

[2015-06-22 13:42] modwizcode commented on #176
@Mumfrey take a look please

[2015-06-22 13:43] Mumfrey commented on #176
You hath summoned me, you may now request three wishes.

... *ahem* In other news, I'll take a look at it in a bit.

[2015-06-25 03:41] Zidane commented on #176
Fixed when unified world changes were merged.

[2015-06-25 03:41] #176 closed

[2015-06-25 03:41] Zidane commented on #175
Has been fixed as unified world changes were merged.

[2015-06-25 03:41] #175 closed

[2015-06-25 03:42] Zidane commented on #161
Pretty sure this was caused by the async scheduler but has been fixed with the scheduler cleanup. Will create a new issue if it manages to happen again.

[2015-06-25 03:42] #161 closed

[2015-07-03 14:48] vorburger opened #177 "AbstractMethodError: net.minecraft.world.WorldServer.getBlockSnapshot(Lcom/flowpowered/math/vector/Vector3i;)Lorg/spongepowered/api/block/BlockSnapshot;"
I'm seeing an error that looks similar to https://github.com/SpongePowered/SpongeCommon/issues/76 when using SpongeVanilla. FYI I'm API on https://github.com/SpongePowered/SpongeAPI/commit/74446aa5955e17144a625c909470014607393113, Common on https://github.com/SpongePowered/SpongeCommon/commit/319da5a537497fea0b1a64f9f00e45d803e9d606 and Vanilla 453c4a958ec72e1f40b02bfbfb49650cc5aaf3b4.

[code]

[2015-07-12 02:37] intronate67 commented on #177
I am also having this issue.

[2015-07-12 12:28] #177 closed

[2015-07-13 12:38] JBYoshi commented on #162
Will this be coming after the Inventory implementation?

[2015-07-15 00:34] intronate67 commented on #162
I would assume so since most of the methods need to cancel the even would be added when the inventory api is implemented.

[2015-07-21 18:25] tomgie opened #180 "Successful build does not output anything"
I built sponge vanilla and it succeeded and I looked into the build folder and found nothing inside of it.

[2015-07-21 18:26] #180 closed

[2015-07-21 18:37] tomgie opened #181 "Can't build SpongeVanilla with Gradle 2.5"
This is what it says

* What went wrong:
Execution failed for task ':shadowJar'.

[2015-07-21 18:43] ST-DDT commented on #181
Can you post there entire error message/stacktrace?
Which IDE are you using?
Any other details that might help us solving your issues?

Did you follow the instructions:
* https://github.com/SpongePowered/SpongeVanilla#cloning
* and https://github.com/SpongePowered/SpongeVanilla#setup

Have you ever successfully build before?

[2015-07-21 18:49] tomgie commented on #181
I will post the error message in a minute.
I am using Java 1.8 JDK

I did follow all instructions
No I have not successfully built this project I just don't know were to get it

[2015-07-21 18:50] tomgie commented on #181
Log: http://pastebin.com/rLTieUnQ

[2015-07-21 18:56] progwml6 commented on #181
Don't use gradle 2.5 the shadow plugin isn't compatible currently

[2015-07-21 19:20] #181 closed

[2015-08-02 23:35] Thefdjurt opened #182 "404 on "Contribution Guidelines in the Sponge Documentation""
The guidelines at "https://docs.spongepowered.org/en/latest/devs/guidelines/" do not exist.
EDIT: https://github.com/SpongePowered/SpongeVanilla/blob/master/CONTRIBUTING.md has the wrong link.

[2015-08-03 14:50] ryantheleach commented on #182
https://docs.spongepowered.org/en/contributing/guidelines.html

[2015-08-17 14:05] joshgarde commented on #172
I don't really see the point of having a text-gui with a server application - the entire point of a server application is that it's headless.

[2015-08-17 18:05] #182 closed

[2015-08-18 23:37] zml2008 commented on #172
Not every server is headless. A lot of smaller servers are run with the console up, and having a text GUI makes it easier to access information about the server, and even on mostly-headless servers the gui would be useful to add in clickable text to improve usability of some sponge commands.

[2015-08-19 17:00] ST-DDT commented on #172
Does Putty (via SSH) support clickables?

[2015-08-19 17:06] zml2008 commented on #172
if it passes mouse events yeah. if not there are tons of terminal emulators. can use one of those instead.

[2015-08-19 17:55] progwml6 commented on #172
If we add something like this I would think we require that the server can still be controlled via putty and the standard terminals in OS X/Ubuntu etc.

[2015-08-19 17:55] zml2008 commented on #172
ideally anything that can handle something like ncurses would work.

[2015-08-19 18:27] progwml6 commented on #172
Is this plausible to have in sponge forge as well?

[2015-08-25 15:08] OblivionNW opened #183 "Damn big creeper explosion"
Well, I hit a creeper and boom the server explodes! Here's a crash log http://pastebin.com/VE1DQYSN

[2015-09-16 08:58] Pilvinen opened #184 "Error on startup"
Ubuntu Linux, java version "1.8.0_45"

1) I downloaded 1.8-2.1DEV-21 from https://repo.spongepowered.org/maven/org/spongepowered/spongevanilla/1.8-2.1DEV-21/spongevanilla-1.8-2.1DEV-21-release.jar

2) Ran java -jar spongevanilla-1.8-2.1DEV-21-release.jar

3) It downloaded stuff and then I get this error:

Exception in thread "main" java.lang.NoClassDefFoundError: org/fusesource/jansi/AnsiConsole

[2015-09-16 09:56] Tzky commented on #184
Try the main jar instead. ``-release.jar`` won't work.

[2015-09-16 13:42] Minecrell commented on #184
@Tzky Basically explained the problem, also see https://forums.spongepowered.org/t/error-on-trying-to-run-spongevanilla-noclassdeffounderror-org-fusesource-jansi-ansiconsole/9310/2?u=minecrell

[2015-09-16 16:03] Zidane commented on #184
This is actually a problem @Minecrell

I'll address it this evening.

[2015-09-16 16:10] Pocketkid2 opened #185 "Crash on startup"
I downloaded the latest build, 1.8-2.1DEV-21.

I started it with my script and it gave this crash:
http://pastebin.com/1sGdTUHU

[2015-09-16 16:17] Zidane commented on #185
Duplicated by https://github.com/SpongePowered/SpongeVanilla/issues/184

[2015-09-16 16:18] Zidane commented on #184
Actually I misread

[2015-09-16 16:18] #184 closed

[2015-10-11 14:28] Gamefreak0 commented on #183
I experienced this crash as well. <a href="http://pastebin.com/vANyy9PJ">Here's my crash report</a> if it helps.
SpongeVanilla version is 1.8-2.1DEV-31 (The latest as of this post)

[2015-10-11 16:31] Zidane commented on #183
SpongeVanilla is a bit on the backburner as I help @bloodmc prep SpongeForge for a beta release. I'll get to this as soon as I can.

[2015-10-12 07:28] Tzky commented on #183
I recommend using SpongeForge for now until Zidane gets back to SpongeVanilla. As of Forge 1.8 Vanilla Clients can connect to a Forge based server without any client-side mods installed, as long as you don't use Forgemods which require it. So you can use SpongeForge just like SpongeVanilla plus you can install Forge mods if you want to. ;)

[2015-10-12 16:38] Gamefreak0 commented on #183
Thanks for the info.

[2015-10-18 21:37] Aaron1011 commented on #185
This has been fixed. If the problem re-occurs, please re-open this, or create a new issue.

[2015-10-18 21:37] #185 closed

[2015-11-21 08:07] #183 closed

[2015-12-05 04:09] zombiezen opened #189 "VanillaServerMain assumes working directory is the same as JAR directory"
Steps to reproduce:
  1. `wget -O /opt/sponge/spongevanilla.jar $SPONGEVANILLA_URL`
  1. `cd /srv/sponge`
  1. `java -jar /opt/sponge/spongevanilla.jar`

Expected behavior:
SpongeVanilla downloads JARs to `/opt/sponge/`, which fits with the Class-Path in the manifest.

Actual behavior:
SpongeVanilla downloads JARs to `/srv/sponge/` and then dies with an exception:

[code]

I'm currently working ar

[2015-12-07 17:31] Zidane commented on #150
@Minecrell

Is this still an issue with FG2?

[2015-12-07 17:32] Zidane commented on #172
Closing this as if we still wanna do it, we'll do it in SpongeCommon since Forge pulled our console in 1.8.8

[2015-12-07 17:32] #172 closed

[2015-12-15 15:37] #162 closed

[2015-12-16 20:10] sweetcode opened #192 "Sign Interacting Bug"
Reproduction:
1. Restart your Sponge Server
2. Join and just interact with a sign (right/left click)
2.1 Results in an error
3. Click again on a sign
3.1 Results in no error

[code]

[2015-12-17 19:19] #192 closed

[2015-12-18 01:22] chrismack opened #193 "Command blocks deleting command from themselves"
I am running 1.8-2.1-Dev-107 when I power a command block it deletes the command and doesn't run the command.

[2015-12-18 05:14] ryantheleach commented on #193
Isn't -Dev-107 incredibly old? Try updating first, and then seeing if the issue still persists. I'm unable to reproduce on 925 in single player. http://puu.sh/lZOWn/18fa0257c6.jpg

[2015-12-18 05:15] gabizou commented on #193
@ryantheleach Note that this is SpongeVanilla, not SpongeForge ;)

[2015-12-18 05:15] ryantheleach commented on #193
Good catch. Sorry.

[2015-12-18 12:36] Minecrell commented on #193
Same problem for dispensers.

[2015-12-18 13:19] #193 closed

[2015-12-18 13:57] chrismack commented on #193
Awesome thank you :)

[2015-12-18 14:35] #153 closed

[2015-12-22 08:28] Minecrell opened #196 "Server is not stopping properly if players are online"
The server seems to freeze completely if it is stopped while players are still online. Probably related to some kind of deadlock when stopping the server.

[code]

[2015-12-22 08:58] #196 closed

[2016-01-02 12:43] #189 closed

[2016-01-02 12:45] Minecrell commented on #189
SpongeVanilla should download the dependencies to the correct folder now.

For the options:
Please see https://github.com/SpongePowered/SpongeVanilla/commit/24943c7182b3fcbf6fdbbba838350119ff472356 for details how to disable the automatic downloading behaviour. Keep in mind these options are completely **unsupported** for now, use them at your own risk (you need to ensure all dependencies are prop

[2016-01-02 18:02] zombiezen commented on #189
Great, thanks!  This makes building a Docker image much easier.

[2016-01-04 16:30] seema84 opened #199 "help command underline"
Hello,

i think it would be better, if the commandlist after /help display without underlines. (Letters are cut)

https://picload.org/image/wrdrcrl/helpcommand.png

[2016-01-04 17:50] kenzierocks commented on #199
This is a [SpongeCommon](https://github.com/SpongePowered/SpongeCommon) issue, as the help text is generated there. If you wouldn't mind re-opening there, that would be great~

[2016-01-04 18:57] seema84 commented on #199
ok thanks

https://github.com/SpongePowered/SpongeCommon/issues/399

this issue can close now

[2016-01-04 18:57] #199 closed

[2016-01-06 19:48] Minecrell commented on #150
This should be probably be moved to SpongeCommon, as it's not a SpongeVanilla bug only, if it actually still exists..

[2016-01-06 19:48] #150 closed

[2016-01-06 20:19] Minecrell opened #201 "ERROR Attempted to append to non-started appender File"
This is happening sometimes when stopping the server... Doesn't cause any actual error but would be good to figure out why this is happening. (Just a reminder for me, ignore this.)

[2016-01-10 20:52] Minecrell opened #202 "Crash when generating a new world"
[code]

[2016-01-10 23:09] gabizou commented on #202
How can this be reproduced? Granted the error is valid, but it's not properly telling us what the actual error is (someone could be setting the `BlockState` as a stone variant or something).

[2016-01-10 23:50] seriosbrad commented on #202
@gabizou in my case, it had nothing to do with any interactions in-game.  Because the server would not finish booting because of this error.

Here's my forum thread:
https://forums.spongepowered.org/t/crash-when-generating-world-on-beta-160/10719

Sponge BETA-160
The server is on CentOS 6, with Java OpenJDK 1.8.0_65-b17 and 4GB ram.

[2016-01-11 03:38] gabizou commented on #202
Fixed in https://github.com/SpongePowered/SpongeVanilla/commit/9106d6b9e4276185fe20c7265d9b7dffad1b6e3b

[2016-01-11 03:38] #202 closed

[2016-01-12 19:15] Mahagon opened #206 "Multi-world info message has a typo"
https://gist.github.com/Mahagon/e064b6a323e9da27e491#file-gistfile1-txt-L20

i hope its worth being reported^^
Its just a small typo

:)

[2016-01-12 19:16] Zidane commented on #206
Whoops XD. Will cover it in next push.

[2016-01-12 19:18] Zidane commented on #206
@Minecrell

Are you getting the double printout for Preparing ... locally?

[2016-01-13 11:54] Minecrell opened #207 "java.lang.NullPointerException in TerminalConsoleAppender"
From: https://forums.spongepowered.org/t/server-error-no-console-output-in-eclipse/10763?u=minecrell

There seems to be a problem in Eclipse that causes the terminal console appender to format the logging lines properly:
[code]
Possibly related to https://github.com/SpongePowered/SpongeVanilla/commit/66604564dc41fdf6ff47e2a8c88d5e2791870af5

[2016-01-13 12:17] #207 closed

[2016-01-20 02:59] willis1030 opened #209 "Attribute modifiers are not reset on respawn"
Hi,I found a bug that when gamerule keepInventory=true and I wear an inventory which can increase my maxHealth like this:

/give @p minecraft:diamond_chestplate 1 0 {
display:{Name:"§cchestplate",Lore:["§cTest"]},
AttributeModifiers:[
 {Operation:0,UUIDLeast:3200,UUIDMost:3600,Amount:20,AttributeName:generic.maxHealth,Name:HealthAdd}],
Unbreakable:1,
HideFlags:13}

now when I died, My maxHealth In

[2016-01-20 03:45] Aaron1011 commented on #209
@willis1030: I've confirmed this. It also affects SpongeForge.

[2016-01-20 08:14] gabizou commented on #209
@Aaron1011 I'm pretty sure this is because we're not re-creating the attribute map on respawn (thus causing the additional health being re-added every time).

[2016-01-20 22:33] Aaron1011 commented on #209
@willis1030: I've determined the root cause of the issue, which is that the `ServersideAttributeMap` isn't being re-created when the player respawns. I'll be pushing a fix shortly.

[2016-01-21 01:57] willis1030 commented on #209
Thanks ,a fixed issue is needed.

[2016-01-22 19:31] Minecrell opened #211 "Crash when hitting ender crystals with an arrow/snowball"
From: https://forums.spongepowered.org/t/server-crashing-when-hit-a-entity/10933?u=minecrell
[code]

[2016-01-22 19:35] #211 closed

[2016-01-23 19:03] Minecrell opened #212 "ConcurrentModificationException on EntityAINearestAttackableTarget"
Possibly also a SpongeCommon issue, wasn't able to reproduce it on SF yet.
From: https://forums.spongepowered.org/t/spongevanilla-crashing-from-a-zombie/10905?u=minecrell

[code]

Cause of the exception:
[code]

[2016-01-23 19:22] #212 closed

[2016-01-23 22:59] #209 closed

[2016-01-24 18:41] Minecrell opened #213 "java.lang.NullPointerException when interacting with a block with empty hand"
[code]

[2016-01-24 18:46] #213 closed

[2016-01-25 01:56] willis1030 opened #214 "Armor is not auto-equiped in the correct slot."
hi, I found another bug that when I not wearing chestplate and a chestplate is on my hand, right-clicking mouse button will put it onto my legging place, so was Helmet and leggings put on wrong place, and boots will be disappeared.

version: 1.8.9-3.1.0-BETA-213

[2016-01-25 14:32] Minecrell commented on #214
This is broken as of https://github.com/SpongePowered/SpongeVanilla/commit/4a47bab86afa3d624a90fdbf9f8a358f7eba0d22

[2016-01-25 14:51] #214 closed

[2016-01-26 07:37] willis1030 opened #215 "Attributes Silent=1 has no effect for villager"
Hello, I've summon a villager like this:

/summon Villager ~ ~1 ~ {Profession:0,CustomName:Willis,Attributes:[{Name:generic.movementSpeed,Base:0.0}],PersistenceRequired:1,Invulnerable:1,Silent:1,Career:1,CareerLevel:26}

but Silent=1 don't make him shut up.

[2016-01-26 14:52] Minecrell commented on #215
SpongeCommon bug, also present in SpongeForge.

[2016-01-26 16:39] JBYoshi commented on #215
Probably a bug in [`org.spongepowered.common.mixin.core.entity.MixinEntity` line 1059](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/entity/MixinEntity.java#L1059):

[code]
@gabizou Is the `||` supposed to be `&&`?

[2016-01-26 16:48] gabizou commented on #215
@JBYoshi good catch, I can get around to it this evening when I get back, or someone else can fix it sooner.

[2016-01-26 17:14] Minecrell commented on #215
You could just make that an inject and cancel it if your condition is false, saves us one method to update if Mojang decides to change it for whatever reason.

[2016-01-28 05:38] gabizou commented on #215
Closing as it was fixed with the latest update for SpongeCommon.

[2016-01-28 05:38] #215 closed

[2016-01-30 00:25] chrismack opened #216 "ClickInventoryEvent cancel bug"
When i try to cancel a player interacting with item in the inventory using this code

@Listener
public void onItemMove(ClickInventoryEvent event)
{
event.setCancelled(true);
}
![image](https://cloud.githubusercontent.com/assets/1420361/12691843/f4a2c792-c6e7-11e5-9247-fed77654fd26.png)

A weird bug occurs where it will add that item into another slot in the inventory

I'm using Sponge vanilla (it

[2016-01-30 08:29] #216 closed

[2016-02-01 02:37] kibmcz opened #217 "Unable to use use transport methods"
On 1.8.9-3.1.0-BETA-227 I am unable to use saddles,boats, or minecarts. One entered i am kicked out once movement starts.

Tested it with (EssentialCmds-7.2g worldedit-spongevanilla-mc1.8.9-6.1.1-dist) & and without mods and it is same result.

[2016-02-01 03:06] collller opened #218 "client can not get player's max health after world change"
i set player's max heath when they join server
`p.offer(Keys.MAX_HEALTH, 160D); `
show 80 hearts in screen
but when they change world like goto nether,
client lost max health.only show 10 hearts in screen,
and
`Sponge.getServer().getBroadcastChannel().send(colored(p.getValue(Keys.MAX_HEALTH).get().get().toString()));`
still Broadcast "160.0"
and i think ChangeLevelEvent doesn't fire.so i can not s

[2016-02-01 11:44] collller opened #219 "can not ride any Vehicles [horse,saddle pig,minecart...]#227"
when Vehicles do any movement, Passenger will dismount automatically...

[2016-02-01 13:35] modwizcode commented on #219
Same issue as https://github.com/SpongePowered/SpongeCommon/issues/468

[2016-02-01 13:35] modwizcode commented on #217
Same issue as https://github.com/SpongePowered/SpongeCommon/issues/468

[2016-02-01 15:52] Mumfrey commented on #217
Closing because duplicate.

[2016-02-01 15:52] #217 closed

[2016-02-01 17:27] #219 closed

[2016-02-05 13:18] Minecrell commented on #218
@gabizou Could you take a look at this? Not sure what this could be caused by.

[2016-02-05 19:53] chrismack opened #220 "Inventory Set error"
When setting a slot that contains no item causes an error to be thrown:

org.spongepowered.common.item.inventory.util.NativeStackException: The supplied native item stack was not compatible with the target environment

[code]
This is probably a SpongeCommon but i thought i would put it here as I haven't tested on sponge forge

[2016-02-07 16:52] Minecrell opened #222 "Changing weather in one dimension causes "Phantom weather" for players in the other dimensions"
It seems like weather changes get currently sent to all players, even though the weather might have been only changed in a certain dimension. This causes the client to see (and hear) fake rain in the other dimension even though it is sunny there.

[2016-02-07 16:59] #222 closed

[2016-02-10 23:00] Mumfrey commented on #220
Closing as duplicate of SpongePowered/SpongeCommon#488

[2016-02-10 23:00] #220 closed

[2016-02-11 06:06] ewized opened #223 "A named cause already exists with the name: Attacker"
Once a mob is killed, this error crashes the server and prevents to from starting up event after world has been deleted.

[code]

[2016-02-11 06:17] kashike commented on #223
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/497

[2016-02-11 08:25] #223 closed

[2016-02-14 23:27] Flibio commented on #169
@Minecrell

Will this issue be moving forward soon?

[2016-02-14 23:34] Minecrell commented on #169
@Flibio It depends on SpongePowered/SpongeAPI#1070 and SpongePowered/SpongeAPI#624

[2016-02-23 13:38] Minecrell commented on #206
@Zidane Any news on these word changes you made? Did you already push them?

[2016-02-23 22:12] CrystalMageX opened #227 "Default run configuration has unrecognized "noCoreSearch" option"
When using `gradle genIntelliJRuns`, as described in the Readme file, it leaves an extra `--noCoreSearch` in the command line options. Either this argument needs to be *removed from the automatic configuration generator*, or it needs to be *recognized*.

[code]

[2016-02-23 22:38] Mumfrey commented on #227
It's an argument recognised by GradleStart. The only side-effect of the argument is to log a tiny error message, and only in development not in production (where GradleStart is obviously not used).

[2016-02-23 22:38] #227 closed

[2016-02-26 02:13] #206 closed

[2016-02-26 02:20] Aaron1011 commented on #218
Sorry for the delay in getting to this. This appears to be a larger issue, which is that `Keys.MAX_HEALTH` simply sets the base value of the `maxHealth` attribute. This is not guaranteed to persist, so the implementation of this data may need to be rethought.

[2016-02-28 13:57] Minecrell commented on #169
Fixed with https://github.com/SpongePowered/SpongeVanilla/pull/225

[2016-02-28 13:57] #169 closed

[2016-03-08 11:30] rexbut opened #231 "java.lang.NoClassDefFoundError: org/spongepowered/plugin/meta/PluginMetadata"
There is an error from version 4.0.0 on SpongeVanilla :

SpongeVanilla 1.8.9-4.1.0-BETA-253 : Error (http://pastebin.com/Kk5XdNsh)
SpongeForge 4.0.1-BETA-1184 : Ok

[2016-03-08 12:25] windy1 commented on #231
Fixed in https://github.com/SpongePowered/SpongeVanilla/commit/eac1a58f3c27d58fd8ebc4bb21a030a3d6b6a2f8: Pending merge

[2016-03-08 12:25] #231 closed

[2016-03-19 02:08] vorburger opened #233 "java.lang.NoSuchMethodError: org.objectweb.asm.Handle.isInterface()Z"
Starting up SpongeVanilla current master version b28f423 in Eclipse after set-up as explained on https://github.com/SpongePowered/SpongeVanilla/blob/master/README.md gives me a `java.lang.NoSuchMethodError: org.objectweb.asm.Handle.isInterface()Z at org.objectweb.asm.commons.Remapper.mapValue(Remapper.java:142) ~[asm-debug-all-5.1.jar:5.1]`.

This is because on the Eclipse .classpath created by `.

[2016-03-19 02:14] vorburger commented on #233
https://github.com/SpongePowered/SpongeAPI/pull/1150 fixes this!

[2016-03-19 02:17] vorburger opened #234 "@Intrinsic method must be prefixed interface method, no rename encountered on markDirty"
after fixing https://github.com/SpongePowered/SpongeVanilla/issues/233 through https://github.com/SpongePowered/SpongeAPI/pull/1150, I'm seeing the error below when starting up SpongeVanilla current master version b28f423 in Eclipse after set-up as explained on https://github.com/SpongePowered/SpongeVanilla/blob/master/README.md

Shouldn't there be some sort of automated test which detect this? Wo

[2016-03-19 02:27] gabizou commented on #234
It's a known thing that will be added to SpongePowered/Mixin eventually to throw a warning, if I recall correctly, this was already fixed in https://github.com/SpongePowered/SpongeCommon/commit/4adb60c0b4a10d97cce21436c8f6fdfa79d9a14f. Granted, this is an issue, it's not really relevant to SpongeVanilla itself aside from the general SpongeCommon bump.

[2016-03-19 08:06] Minecrell commented on #233
The usual problems with the Eclipse workspace. Hooray.

[2016-03-19 09:41] #234 closed

[2016-03-19 09:59] #233 closed

[2016-03-29 06:15] Zidane opened #235 "Mixin injector issues are being swallowed by the logger"
@Minecrell @Aaron1011

Hitting this classloader issue for the last three days that has prevented me from using the debugger and therefore stalling the release to dev builds. Let me stress that I have reproduced this on multiple machines so at this point the likely culprit is ForgeGradle latest revision triggering it. Let me also stress that I was running the 1.9 branch in the IDE fine a week or so

[2016-03-29 06:21] Zidane commented on #235
Here is the full dump of my log file:

[code]

[2016-03-29 06:34] Minecrell commented on #235
Is this only happening in your multiworld branch? Also, is this IDEA 15 or one of the 2016.1?

[2016-03-29 06:35] Zidane commented on #235
@Minecrell

As I said above, its happening in 1.9 and 1.9-multi-world. I am using IDEA 15.05. On another computer, I tried IDEA 15.04. Same results.

[2016-03-29 06:44] Zidane commented on #235
@Minecrell

I just tested 1.8.9 of SpongeVanilla and the issue doesn't happen. This means it is either...

* Some change in 1.9 branch (we can eliminate the multi-world branch as it happens in 1.9)
* Something changed in a ForgeGradle snapshot

[2016-03-29 07:45] Minecrell commented on #235
The issue seems to be a mixin, I'm not sure why it's not printing the exception properly. You can see this exception by adding `-Dlegacy.debugClassLoading=true` to the VM options.

[code]

[2016-03-29 07:59] Minecrell commented on #235
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/e37aed3c0fa67e0f6de00331117321ea140e05c4

[2016-03-29 13:53] Zidane commented on #235
@Minecrell

You are truly a lifesaver before I was driven to my wits end and decided to go on a war path against someone.

...now this error though is concerning...we aren't classloading NetHandlerPlayServer and others in the LaunchClassLoader are we?

[2016-03-29 13:57] Minecrell commented on #235
All Minecraft classes go through the `LaunchClassLoader`, because that's what is handling the whole de-obfuscation and Mixin transformation.

[2016-03-29 14:30] Mumfrey commented on #235
More curious is where the original mixin exceptions were being swallowed.

[2016-04-05 21:07] Zidane commented on #235
@Minecrell

@Aaron1011 just had this happen to him. SV is swallowing these entries somewhere and needs to get fixed.

[2016-04-06 00:34] Aaron1011 commented on #235
To be clear, I was able to resolve the issue by using the `-Dlegacy.debugClassLoading=true` VM argument. The issue is that the stack trace is somehow being suppressed.

[2016-04-06 13:42] Minecrell commented on #235
The problem is that the class is getting "loaded" twice; apparently by Guice first and then by the actual startup of the server. For some reason Guice is swallowing the exception, and after there was an exception when loading the class once, LaunchWrapper adds them to the `invalidClasses` set, which will then only throw a normal `ClassNotFoundException` on each subsequent attempt to load the class

[2016-04-06 13:56] Minecrell commented on #235
From what I can tell after debugging, I'd say Guice is running into that exception, and within their `cleanup` method they run within a `finally` statement they actually run into the second exception, so that the original exception will get swallowed.

[2016-04-06 19:17] Aaron1011 commented on #235
@Minecrell: I can confirm that it's Guice causing it to be swallowed. `NetHandlerPlayServer` is referenced in the signature of a method in `VanillaChannelRegistrar`. Since the latter class is initialized by Guice, Guice ends up hiding the exception that occurs when `NetHandlerPlayServer` is classloaded.

[2016-04-15 09:02] Advancid opened #236 "-"
Bug reported in the SpongeCommon issues

[2016-04-15 10:40] Aaron1011 commented on #236
@Advancid: Um, what?

[2016-04-15 10:47] Mumfrey commented on #236
Closing because duplicate of SpongePowered/SpongeCommon#651

[2016-04-15 10:47] #236 closed

[2016-04-26 18:00] #235 closed

[2016-04-29 22:27] simon816 commented on #218
@Aaron1011 The base value is persisted - you can see it in the NBT and is handled by `SharedMonsterAttributes`.
The attributes are probably being reset when teleporting

[2016-04-30 05:15] gabizou opened #237 "Add and implement Asynchronous Chunk Loading"
As much as we can rely on Forge to have their Async Chunk Loading system, SpongeVanilla would benefit greatly from having such a system on it's own.

[2016-05-02 04:47] gabizou opened #239 "Rewrite SpawnerAnimals spawning logic to be more precise"
It's very well possible to figure out whether a given location can properly spawn an entity such that the entity will actually "stay".

This is a continuation of SpongePowered/SpongeCommon#351

[2016-05-10 03:19] gabizou opened #240 "Enter URL in chat should be rendered clickable"
Forge re-adds URL click parsing, so Vanilla should add it as well.

[2016-05-10 04:54] Minecrell commented on #240
I always planned to implement this, could never decide which URL regex to use though :P

[2016-05-13 03:47] Zidane commented on #201
Closing this as I've not seen it in hundreds of times I've executed SV in the last 5 months.

[2016-05-13 03:47] #201 closed

[2016-05-15 23:30] hitech95 opened #241 "Usage is not properly shown in the children command."
Not sure if it's a bug, and if it is not know if it is also present on forge.
Entering a wrong subcommand arguments the getUsage seems not return the correct usage string (Text):
Code:
[code]
Screenshot:
![2016-05-16_01 12 27](https://cloud.githubusercontent.com/assets/1431337/15277424/bd721cda-1b03-11e6-820a-1e040c3525b5.png)
Adding attributes to a command of the first level of usage string is co

[2016-05-16 00:45] ryantheleach commented on #241
This is likely a SpongeCommon / API issue.

Introducing the following method to Dispatcher (or maybe CommandCallable/CommandDescription) would allow sub commands to provide usage, currently the usage command of the parent is used.

[code]

[2016-05-18 00:06] Favorlock opened #242 "SpongeVanilla unable to build/run after importing into IntelliJ 15.0.6"
When I try to build the project I get the following: http://pastebin.com/BL0YKb6P

If I try the run configuration created by genIntelliJRun task I get stuff as seen here: http://i.imgur.com/A6o75VS.png

I've spent hours and hours trying to figure out why it doesn't work once imported into IntelliJ. I can't even do it from command line after importing.

Please let me know if you need anything else.

[2016-05-18 01:24] Favorlock commented on #242
So I uninstalled 15.0.6 and installed 16.1.2 and that fixed the build issue. To fix the run issue I was told to disable Annotation Processing, which wasn't mentioned on the readme. It may be worth adding a note about the AP.

[2016-05-18 04:39] Minecrell commented on #242
Normally, annotation processing is disabled by default, that's why it isn't mentioned anywhere.

[2016-05-24 18:02] AKPWebDesign opened #244 "Issues if player logs out inside a minecart"
If a player logs out while inside of a minecart, then logs back in, the following error is encountered, and the player will fail to log in. The minecart is then removed from the world, and the next time the player logs in, they will be inside of the block that the minecart was sitting on top of. I tested this just now with the latest code on the master branch.

[code]

[2016-05-24 18:10] AKPWebDesign commented on #244
I want to clarify what I mean by "they will be inside of the block that the minecart was sitting on top of."

If the player is in the minecart pictured below when they log out, they will be standing on top of the glass block (and partially inside the brick block) when they log back in. If there is no block two blocks down from where the minecart was, the player will log in and fall down to the nex

[2016-05-25 00:55] phroa opened #245 "Some right-click interactions broken"
Can't place anything while sneaking: the block instantly disappears, count in hotbar decreases, but updates if the stack is moved around in the inventory.

Buckets fire twice, such that you can't place or remove water or lava unless there is a block **behind** the block in question that can be interacted with (crafting table, furnace, other water or lava source).

[code]

Vanilla client. Will post

[2016-05-25 01:20] phroa commented on #245
fifty seconds of compressed breakage: [2016-05-24 18-10-40.zip](https://github.com/SpongePowered/SpongeVanilla/files/280809/2016-05-24.18-10-40.zip)

[2016-05-25 02:41] gabizou commented on #245
This affects SpongeCommon more than anything, if you can: re-open the issue there with a tag for [1.9] please.

[2016-05-25 02:41] #245 closed

[2016-05-25 02:44] phroa commented on #245
SpongePowered/SpongeCommon#745

[2016-05-26 01:05] phroa opened #246 "[1.9.4] Datachannel casting exception"
WorldEdit 6.1.3 nightly, SpongeVanilla 1.9.4 hand-built from c9dbc55a.

WorldEdit threw the bug here. It's triggered by attempting to use WECUI.

https://gist.github.com/phroa/fdbf6b99a745ecd1a6b401f8286800fc

[2016-05-26 11:25] #246 closed

[2016-05-26 12:08] Mumfrey commented on #246
@Minecrell I was trying to fix the intrinsics and your push didn't merge nicely so can you check if it broke anything else you changed in your commuit.

[2016-05-27 02:59] cindylo opened #247 "Connection lost when picking up item."
Whenever a player picks an item up at all in creative or survival on SpongeVanilla bleeding build 30 or 31 it throws this error and kicks them out of the server. http://pastie.org/10854233

[2016-05-27 12:20] gabizou commented on #247
Reopen in SpongeCommon, and for now use an older build.

[2016-05-27 12:20] #247 closed

[2016-06-01 16:10] nukecrasher53 opened #248 "spongevanilla-1.8.9-4.1.0-BETA-322 refuses to start"
A **newly downloaded** spongevanilla-1.8.9-4.1.0-BETA-318 server refuses to start. Here's the log.

http://pastebin.com/nRk6Qpvs

[2016-06-01 16:12] Minecrell commented on #248
This was already fixed, however our build server is currently having trouble uploading the new builds. They will be available as soon we have fixed the problem.

[2016-06-01 16:12] #248 closed

[2016-06-01 21:10] #242 closed

[2016-06-04 12:39] Minecrell commented on #237
Implemented with #243

[2016-06-04 12:39] #237 closed

[2016-06-04 12:40] Minecrell commented on #241
There is no command specific code in SpongeVanilla, so please re-open this in SpongeCommon if it is still an issue.

[2016-06-04 12:40] #241 closed

[2016-06-04 12:43] Minecrell commented on #244
Since this is also an issue in SpongeForge, would you mind moving this issue to SpongeCommon so it can be fixed there?

[2016-06-04 12:43] #244 closed

[2016-06-04 12:44] Minecrell commented on #218
@Aaron1011 Any news for this issue?

[2016-06-04 19:20] AKPWebDesign commented on #244
@Minecrell Moved to https://github.com/SpongePowered/SpongeCommon/issues/769.

[2016-06-06 17:35] Zidane opened #249 "Add capability to load tweakers from plugin jars"
That title wasn't me stuttering.

I thought about this for a long time but big servers ultimately make sweeping changes to the server to fulfill their unique needs. Many of times these changes are basically their intellectual property; they'll keep it in house.

To attract these servers, I want to give them front and center first class support in their endeavors by enabling tweakers. For those who

[2016-06-06 17:36] Zidane commented on #249
@Mumfrey @gabizou

Tagging you two on this one.

[2016-06-06 17:39] gabizou commented on #249
We would need some form of annotation of sorts or addition to the mcmod.info file that SV can pre-scan and class load beforehand. My thoughts would be that it'd require a very specific "API" to use to just reside as a "core mod" of sorts as we do not want to instantiate the main plugin objects. Normal class loading issues that coremods tend to cause comes to mind, but that's besides the point ;)

[2016-06-06 17:49] Mumfrey commented on #249
You cannot "load a tweaker from a plugin", however you could package a tweaker *with a plugin*. This is basically already supported in FML so it's hardly controversial.

The contract for tweakers is already established. Tweakers are specified in the manifest using the `TweakClass` key. Having spongevanilla parse this key would be pretty trivial, however **I strongly suggest that if this is done, t

[2016-06-06 17:52] Zidane commented on #249
@Mumfrey

You're well aware what I meant. Plugin in this context is the artifact that SV would load.

Its controversial because SV is meant to be a very Vanilla server with plugins being contained to a point. Tweakers mean its anyone's game.

[2016-06-06 17:59] Mumfrey commented on #249
Updated title to reflect that.

Since it's using launchwrapper haven't they been able to do this all along (through a roundabout route) by just passing in a tweak class on the command line though? This seems to be just an enhancement in that it will parse the tweaker from the manifest.

As I said, I'm basically in favour of this because if you try to restrict people then they'll just find hacky wa

[2016-06-06 18:05] Mumfrey commented on #249
Oh yes, another good idea might be to use the same system I enforce with liteloader. Which is that since tweakers can't be explicitly versioned (the contract doesn't provide for it), insist that tweakers can *only* be loaded from the versioned subfolder under `mods`.

Basically LL will read mods from `mods` but LL's loading behaviour stipulates that versioning is specified in the metadata, what I

[2016-06-06 18:22] Minecrell commented on #249
@Mumfrey Looking at the Liteloader source code it seems like you also support a `MixinConfigs` manifest option. Is that something that would be also useful to implement for SpongeVanilla so plugins wouldn't even need to include a tweaker but rather just the entry in the manifest when using Mixin?

[2016-06-06 18:35] Mumfrey commented on #249
@Minecrell It would certainly be better from a "blast radius limitation" point of view to just support mixins in plugin jars rather than providing wholesale support for tweakers. LiteLoader doesn't really have a concept of "core mods" vs. "normal mods" per se, everything is basically just boiled down to enumerated containers which contain "stuff" are are handled appropriately based on their actual

[2016-06-06 18:46] Zidane commented on #249
@Mumfrey

Would it be better to just load Mixin configs? Its a lot easier to pin point issues from a Mixin vs. some plugin's arbitrary ASM code they are invoking via a tweaker.

[2016-06-06 19:48] Mumfrey commented on #249
Almost certainly yes! Not only that, tweakers get pretty much free reign in terms of their access to the game, not just transformers but other functionality too. They really are the top of the food chain when it comes to interacting with the game.

If the end goal is just to support mixins in plugin jars, then this is basically like using a hydraulic press to crack a cheeto. In all honesty the bes

[2016-06-07 03:09] me4502 commented on #249
I heavily support this change. As someone who's done a lot of in house development for large servers, it is often a massive pain to implement their features - specifically with pets etc, that require reimplementing an entire Entity subclass.

[2016-06-07 11:25] Minecrell commented on #249
@Mumfrey It is likely people would want the same functionality for mixins for both SpongeVanilla and SpongeForge. Is there any easy way we could also make it work for SpongeForge? Although in this case people would often also want a separation of common/Vanilla/Forge mixins, similar to the way we need them in SpongeVanilla and SpongeForge.

[2016-06-07 21:27] Mumfrey commented on #249
@Minecrell yes, you could achieve this by just supporting `TweakClass` but only actually doing anything if the mixin tweaker is specified.

[2016-06-07 21:42] Minecrell commented on #249
@Mumfrey I see! Though we would still need a way to only enable a specific Mixin config if we're either in Vanilla or Forge environment so plugins could easily support both platforms.

[2016-06-07 22:10] gabizou commented on #249
Could likely introduce a Sponge specific annotation for the tweaker class to signify what type of tweaker environment it is? Since the tweaker is already mixin dependent and (for some obvious reasons SpongeCommon at least) dependent, could very easily load the tweaker as appropriate.

[2016-06-07 22:55] Mumfrey commented on #249
That's up to the mixin to handle.

The tweaker would never actually be loaded.

[2016-06-08 04:52] Minecrell commented on #249
In what way can this be controlled by the mixin itself?

[2016-06-10 23:16] Mumfrey commented on #249
By using a config companion plugin

[2016-06-11 07:19] Minecrell commented on #249
@Mumfrey
You mean like we could for example add the config classes in SpongeCommon so plugins would only need to reference them?

[2016-06-11 12:27] Mumfrey commented on #249
No, I mean that any mixin set can supply a companion plugin. For example in sponge each of our mixin sets has a related plugin which determines whether all mixins in the set get applied by querying a configuration value.

If mixins require environment-specific application behaviour this is exactly what the plugin is for, the plugin determines which mixins can be applied. We could probably provide

[2016-06-11 13:33] Minecrell commented on #249
@Mumfrey
Yeah, I was referring to pre-defined config classes so there would be a simple way for Plugins to detect that, of course a static helper would also work.

[2016-06-17 17:20] Minecrell commented on #218
Since there is a new issue at SpongeCommon I'm going to close this issue for now since this can be tracked in the new issue there.

[2016-06-17 17:20] #218 closed

[2016-06-18 12:27] #240 closed

[2016-06-19 22:15] willis1030 opened #251 "Logout-Login problem"
I'm using FlexibleLogin(v0.8) mod with SpongeVanilla, when I stand on front of a iron_door, and I logout and then login, I am teleported into another place (possibly enter the room). But not using FlexibleLogin will be normal. I report this to FlexibleLogin here: https://github.com/games647/FlexibleLogin/issues/15 but they say "it's a sponge issue, because FastLogin tries to set safe-location usin

[2016-06-20 07:53] ryantheleach commented on #251
Yes this is a SpongeCommon issue, at current the Sponge logic for safe teleport is rather simplistic in what it is testing.

It needs to be rewritten to better check bounding boxes, and dangerous blockstates (with mod support? from configs? or is there a relevant method?) or just delegate to a vanilla minecraft method if one exists.

[2016-06-21 12:51] willis1030 opened #252 "light_weighted_pressure_plate don't restore."
Hi, My map has many light_weighted_pressure_plate with a villager stand on it. but from some times, I push away the villager, the light_weighted_pressure_plate will not restore into its source position.
it happened always in newer version like 1.8.9-4.2.0-BETA-343, but seldom happen in older version like 1.8.9-3.1.0-BETA-248. I don't know what situation will cause this happen? teleported to anothe

[2016-06-24 03:15] ryantheleach commented on #252
What plugins are you running if any?

[2016-06-26 01:50] willis1030 commented on #252
I'm running gamemode 2, not in protected area. the only plugin is FlexibleLogin, sometimes I use worldedit-spongevanilla-mc1.8.9-6.1.1-dist.jar, but it still happened with no-worldedit.

[2016-06-26 03:41] willis1030 commented on #252
I've tried with no plugins, It still happened. After many time of test, I found this:
1.summon a villager stand on a plate.(location example 3227 60 941)
2.teleport myself to other place.(location example 1315 77 42)
3.shutdown the server.
4.start the server.
5.teleport myself to nearby location of the villager.(location example 3179 127 783)
6.teleport myself to the villager.
7.push away the vill

[2016-07-09 16:59] Nonnisi opened #254 "ChangeBlockEvent Cancel causes client crash on button interact"
Canceling the ChangeBlockEvent for a player causes a client crash when interacting with a button (Possibly other intractable objects)
https://gyazo.com/16daa3d3447a321ff86048841554db2f

SpongeVanilla 1.10.2-5.0.0-BETA-91

[2016-07-09 18:18] gabizou commented on #254
Client log? Server log?

[2016-07-09 18:25] Nonnisi commented on #254
No errors on ether server or client logs, its listed as a disconnect.

[2016-07-12 21:55] kftzzu opened #255 "Item Doubling Glitch [1.10.2-5.0.0-BETA-91]"
If you place a block with the offhand, but the BlockChangeEvent gets canceled, you gain the item back without losing the one in the offhand. If you repeat this, you can get infinite Blocks.

[2016-07-12 22:17] gabizou commented on #255
1.8.9? 1.10.2? SpongeVanilla version info? Logs?

[2016-07-13 06:00] kftzzu commented on #255
I tried it in 1.10.2, don't know about the other versions. I just used a Server with a simple mod that cancels every BlockChangeEvent that is caused by a Player.

[2016-07-13 13:45] kftzzu opened #256 "[1.10.2-5.0.0-BETA-91] Switching Phase Incompatibility"
I'm using the CommandManager to process a command when stepping on a PressurePlate with a CommandBlock underneath. The player will execute the command that is saved in the CommandBlock. If you add [c] to the CommandBlock, the command will be executed by the console, @ p will get replaced by the players name.
Ingame I added "[c]minecraft:tp @ p 115 76 179" to a CommandBlock. Wenn I step on the Pres

[2016-07-13 23:11] ryantheleach commented on #255
Was the bug fixed? being a minor bug isn't reason to close..

[2016-07-13 23:24] kftzzu commented on #255
Sorry, I will reopen it.

[2016-08-02 00:08] Zidane commented on #256
Closing this as it should be fine in latest build

[2016-08-02 00:08] #256 closed

[2016-08-02 00:08] Zidane commented on #255
Please test with latest build

[2016-08-02 00:09] Zidane commented on #254
Test with latest build.

What plugins on server? Any mods on client?

[2016-08-02 00:10] Zidane commented on #252
Test with latest build, if still an issue reopen on SpongeCommon repo.

[2016-08-02 00:10] #252 closed

[2016-08-02 00:10] Zidane commented on #251
Closing this as it is a SpongeCommon issue. Report it there please.

[2016-08-02 00:10] #251 closed

[2016-08-02 00:11] Zidane commented on #249
@Minecrell

I have no desire in enabling tweakers. With Mixin, they are not necessary. Consider this closed.

[2016-08-02 00:11] #249 closed

[2016-08-02 01:37] gabizou commented on #249
@Zidane even with mixins, there are other things that you fundamentally cannot do with mixins, such as the superclass transformer et al.

[2016-08-02 02:22] Zidane commented on #249
@gabizou

Our goal is to support only Mixins. If a large server approaches us with a worthwhile use case, it'll be reconsidered. Not devoting time to a feature for the <1%

[2016-08-05 04:06] kosakriszi commented on #255
I cannot reproduce this in SpongeVanilla 1.10.2-5.0.0-BETA-99

[2016-08-05 04:12] kosakriszi commented on #254
I cannot reproduce this in SpongeVanilla 1.10.2-5.0.0-BETA-99 while running no mods on either side.

[2016-08-05 13:33] #254 closed

[2016-08-05 13:33] #255 closed

[2016-08-05 22:11] willis1030 commented on #252
I've test The last build "spongevanilla-1.8.9-4.2.0-BETA-348", but this problem is not solved.

[2016-08-10 12:43] willis1030 opened #257 "light_weighted_pressure_plate don't restore"
I've test The last build "spongevanilla-1.8.9-4.2.0-BETA-348", but this problem is not solved.

https://github.com/SpongePowered/SpongeVanilla/issues/252

[2016-08-13 19:12] 20zinnm opened #258 "Trying to Run via Gradle Fails"
When I try `gradle runServer --stacktrace` I get the following:

[code]

This is after a successful `:setupDecompWorkspace` and then trying `:setupDevWorkspace`. Nothing failed but `:runServer`.

I've tried Java versions 8_40 and 8_101, both fail. I'm on `Mac OSX El Capitan 10.11.6 (15G31)`.

This is happening on `master` and `bleeding` for me.

[2016-08-13 19:17] 20zinnm commented on #258
I've tried this with and without the Gradle Daemon.

[2016-08-13 19:28] Minecrell commented on #258
You won't have much luck with running SV and SF through Gradle (instead of through your IDE), because it is causing issues together with our SpongeCommon setup. Basically, when running through Gradle, it will attempt to run the server with an un-obfuscated version of SV/SF but an already re-obfuscated version of SpongeCommon.

The problem in your post is likely a bug in FG (it seems to add the run

[2016-08-13 19:28] #258 closed

[2016-08-13 19:31] Minecrell commented on #258
Is there a special reason why you are attempting to run the server through Gradle instead of through your IDE?

[2016-08-14 16:23] dualspiral opened #259 "[1.10] World type ids do not have minecraft: prefix"
I've been getting errors when starting my 1.10 test server. Upon starting the server, the following errors occur:

[code]

This is reflected in the `DimensionType`, and results in inconsistencies between command arguments between SF and SV. I wrote a small test plugin ([see this gist](https://gist.github.com/dualspiral/7f5e40b1c892ae9420058c7d7c6d6335)) that prints out the name of the dimension ty

[2016-08-14 18:44] #259 closed

[2016-08-15 17:18] Minecrell commented on #257
Can you also test this on SpongeForge for 1.8.9? (the 1.8.9 build of SpongeForge is more frequently updated than SpongeVanilla's currently)

[2016-08-15 19:09] Aaron1011 commented on #257
@willis1030: Can you re-test with the latest SpongeVanilla (buiild 349)? It turns out that SpongeVanilla's SpongeCommon ref hadn't been bumped in a very long time.

[2016-08-16 06:48] willis1030 commented on #257
I've tested with the latest forge-1.8.9-11.15.1.1902-1.8.9-universal.jar with spongeforge-1.8.9-1890-4.2.0-BETA-1653.jar, but the problem is not solved.

[2016-08-16 06:55] willis1030 commented on #257
Now I execute with this command: "%ProgramFiles%\Java\jre1.8.0_91\bin\java.exe" -Xmx1024M -Xms1024M -jar spongevanilla-1.8.9-4.2.0-BETA-349.jar, a lot of error massages happened, but spongevanilla-1.8.9-4.2.0-BETA-348.jar don't.
what's wrong with that? java version? or wrong command?

[2016-08-16 12:29] Aaron1011 commented on #257
@willis1030: Could you please pastebin your logs?

[2016-08-16 18:36] Kippers37 opened #260 "Odd hostile mob spawning behaviour"
Using a clean installation of SpongeVanilla 1.10.2-5.0.0-BETA-100 without any plugins.

No hostile mobs are spawning on the surface.

![](http://i.imgur.com/zRXee8q.png)

Mob spawners do not seem to be affected, they are working as expected.

Meanwhile, mobs are spawning fine underground (maybe a bit much / above normal even).

![](http://i.imgur.com/apsdwAF.png)

[2016-08-16 18:42] Kippers37 opened #261 "Daylight passes through blocks"
Using a clean installation of SpongeVanilla 1.10.2-5.0.0-BETA-100 without any plugins.

Underground blocks / caves light up with the ambient light levels as if the sun light passes straight through the ground. The screenshots below are in a fully closed cave.

![](http://i.imgur.com/2vvPIVj.png)

And at night, the same amount of light as if on the surface.

![](http://i.imgur.com/9jkLtZE.png)

Mob

[2016-08-16 18:45] Kippers37 opened #262 "Items held in the secondary hand vanish on death"
Using a clean installation of SpongeVanilla 1.10.2-5.0.0-BETA-100 without any plugins.

Any held item in the secondary hand vanishes on death. They are removed from the inventory, but do not show up on the ground.

Here I am holding a shield in my secondary hand.

![](http://i.imgur.com/twm2CWB.png)

On death the item does not show up on the ground, unlike the other items that were in the inventor

[2016-08-16 18:52] Kippers37 opened #263 "Using item drop shortcut key from inventory deletes item"
Using a clean installation of SpongeVanilla 1.10.2-5.0.0-BETA-100 without any plugins.

When hovering over an item in the inventory and using the item drop all shortcut key (default CTRL + Q) deletes the item.

In inventory hovering over the item.

![](http://i.imgur.com/QoWaIPu.png)

Pressing the item drop all shortcut key (CTRL + Q), the item is removed from inventory.

![](http://i.imgur.com/pq

[2016-08-16 22:01] ryantheleach commented on #263
It's just "Q" right?

[2016-08-16 22:17] kashike commented on #263
https://github.com/SpongePowered/SpongeCommon/issues/803

[2016-08-16 22:19] willis1030 commented on #257
It's too large (308k) only start onetime. I pasted part of it which is [STDERR] headed:

[06:15:45] [Server thread/ERROR] [STDERR]: 	at org.spongepowered.asm.mixin.transformer.MixinTransformer.transform(MixinTransformer.java:516)
[06:15:45] [Server thread/ERROR] [STDERR]: 	at org.spongepowered.asm.mixin.transformer.MixinTransformer$Proxy.transform(MixinTransformer.java:185)
[06:15:45] [Server thre

[2016-08-16 22:25] Kippers37 commented on #263
@ryantheleach Yep, updated

[2016-08-18 10:50] gravityfox opened #264 "[1.10.2] WorldUnloadEvent not being fired when stopping the server."
This issue has cropped up again, this time on SV 1.10.2.

See https://github.com/SpongePowered/SpongeCommon/issues/839

[2016-08-22 17:35] #264 closed

[2016-08-22 17:46] Minecrell commented on #263
Since this also seems to happen on SpongeForge so you should re-open this issue on SpongeCommon: https://github.com/SpongePowered/SpongeCommon/issues

[2016-08-22 17:46] #263 closed

[2016-08-22 17:58] Minecrell commented on #262
For me it actually just stays in the inventory for some reason but does not get dropped.

[2016-08-22 18:19] #262 closed

[2016-08-22 18:20] Minecrell commented on #262
Please test this with SV 106+ and re-open if it still happens (I can't reproduce that they disappear, but I've fixed that they were neither dropped nor did they disappear)

[2016-08-22 18:25] Minecrell commented on #261
_SpongeVanilla has a full bright mod inbuilt so you can always see where you are going when entering caves._

Confirmed. That is very weird!

[2016-08-22 19:21] #261 closed

[2016-08-22 19:22] Minecrell commented on #260
I could imagine this is caused by #261. Could you re-test with SV 107+?

[2016-08-22 20:17] Kippers37 commented on #263
Opened as SpongePowered/SpongeCommon#894

[2016-08-22 20:24] Kippers37 commented on #262
Tested on SV 107, confirmed fixed.

[2016-08-22 20:31] Kippers37 commented on #260
Tested on SV 107, confirmed fixed.

[2016-08-22 20:33] Kippers37 commented on #261
Tested on SV 107, confirmed fixed. Nice :+1:

This issue and #260 were still present on the map generated on SV 100. Both issues are fixed when the map is generated on SV 107. Do you have any suggestion on how to fix these issues for the previously generated map?

Either way, nice work!

[2016-08-22 20:33] #260 closed

[2016-09-02 04:24] acparas opened #265 "[1.10.2 - SV 112] Ridiculous amount of Monster Mobs"
Specs:
   -Latest Version: SV 112
   -DigitalOcean VPS
         -RAM: 2 GB
         -5 users simultaneously
    -Ubuntu 16.04
    -Ran with "java -Xmx1024M -Xms1024M -jar spongevanilla.jar"
    -Difficulty: Normal

<img width="1680" alt="screen shot 2016-09-01 at 9 14 45 pm" src="https://cloud.githubusercontent.com/assets/7927517/18192498/b4f4a3f8-7089-11e6-98ff-0a7c8a8656dc.png">

Just an obscene

[2016-09-03 04:07] linkred opened #266 "Receiving NoClassDefFoundError despite not having any plugins installed"
Build number: spongevanilla-1.8.9-4.2.0-BETA-349

Log files: http://pastebin.com/squhHP1G
Crash report: No crash report generated

Description:

Hello, recently, I have attempted to create a Sponge Vanilla (using spongevanilla-1.8.9-4.2.0-BETA-349.jar) server for personal use. Upon launching the launch script I was instructed to make, several files were generated, but the server would not launch.

[2016-09-04 08:18] Minecrell commented on #266
I can't reproduce your problem using that build. Can you try using the latest build again?

[2016-09-05 04:22] #266 closed

[2016-09-07 03:23] Aaron1011 opened #267 "Latest SpongeVanilla crashes with unusual Mixin re-entrance error"
Attempting to run the latest SpongeVanilla (only in production) gives the error `[mixin]: Re-entrance detected, this will cause serious problems.`

Full log: http://pastebin.com/raw/vDTVL5Ln

Oddly, running the server with `-Dmixin.debug.verbose=true`, or starting the server when a world exists, causes it to start completely normally.

When the issue does occur, it appears to be caused by [TileEnt

[2016-09-10 13:48] Minecrell commented on #265
Can you test this again on the latest SV?

[2016-09-10 19:27] acparas commented on #265
Ok, I will.

[2016-09-11 05:03] willis1030 commented on #257
Lot of error messages when starting spongevanilla-1.8.9-4.2.0-BETA-350.jar, same as 349.
(java 1.8.0_91)

[2016-09-11 14:06] Aaron1011 commented on #257
@willis1030: Try starting SpongeVanilla with `-Dmixin.debug.verbose=true` passed to `java` (before `jar`)

[2016-09-11 16:33] Minecrell opened #268 "Referencing sponge/spongeapi as dependencies crashes the server"
Using sponge/spongeapi as dependencies in a plugin causes a `ClassCastException` which will crash the server when loading.

(Just a reminder for me to fix it)

Example crash report:

[code]

[2016-09-12 13:33] willis1030 commented on #257
"%ProgramFiles%\Java\jre1.8.0_91\bin\java.exe" -Xmx1024M -Xms1024M -Dmixin.debug.verbose=true -jar spongevanilla-1.8.9-4.2.0-BETA-350.jar
yes, it works! thankyou.
but the login problem appeared again, like this:
https://github.com/SpongePowered/SpongeVanilla/issues/251
I know this has changed the way searching save-place beside the iron-door, but some situations enter the room again, something lik

[2016-09-12 13:48] willis1030 commented on #257
Iron-door problem happened when FlexibleLogin mod used. but its ok when no mod. some procedure called by the mod must be wrong.
pressure_plate problem don't happened spongevanilla-1.8.9-3.1.0-BETA-248.jar, why that?

[2016-09-12 21:36] Aaron1011 commented on #267
After some additional testing, I've determined that the presence of `whitelist.json` can prevent the erorr from happening (when sponge is started without `-Dmixin.debug.verbose=true`), even when completely empty. Deleting this file causes the error to occur again.

[2016-09-12 22:37] Aaron1011 commented on #267
I'm posting this psuedo-stacktrace here, for future reference:

[code]

The root of this issue is that SpongeVanilla's `TerminalConsoleAppender` is causing classloading to occur *when Mixin is trying to log a message.* This is caused by `ConsoleFormatter` (which is set by `MixinConsoleHandler` when the server console is initialized) triggering classloading of `LegacyTexts`.

I'll be fixing this by

[2016-09-12 22:49] #267 closed

[2016-09-15 11:46] #268 closed

[2016-10-01 19:28] theboomer opened #270 "[1.10.2] Redundant/(and-or Incorrect) extra Transaction in Piston Extensions"
Spongevanilla-131
The transaction list when pistons extend contain TWO piston-extension states at the end, a double-extension for dry, and a dry+sticky extension for a sticky-piston extending action.
It also seems odd having multiple AIR-extension transactions where they are, is this correct?

Here are the for-each transactions, presented as Original ==> Final  blockstates, for pistons pushing dir

[2016-10-01 20:04] gabizou opened #271 "Restrict the use of Plugin provided Mixins"
After much discussion, I've come to agree with several people that plugin provided mixins being enabled by default in SpongeVanilla is not a good idea and could be understood as a sign of advocating the use of plugin provided mixins.

What has been suggested so far:
1) Configure the option globally w/ plugin whitelist
- Plugins providing mixing should still be loadable with their mixing not applyi

[2016-10-01 20:07] jamierocks commented on #271
I suggest the following:

- Making sure that plugins requiring Mixin are labeled as such on Ore
- Allow server owners to disable Mixin requiring plugins
- Allow plugins to specify optional mixins, so they can still run without them

[2016-10-01 20:09] Deamon5550 commented on #271
Any solution where the only hurdle is offset to the end user rather than the developer is just a slap on the face for the end user that doesn't do anything to discourage their use.

[2016-10-01 20:26] Mumfrey commented on #271
Personally I would argue in favour of keeping the feature *extant* but disabling it by default, for the simple reason that people are always going to do stupid shit whether we like them to or not, but at least encouraging them to do stupid shit in a predictable way provides some limitation on the possible blast radius.

In terms of disabling it by default, I 100% agree and argued for this in the o

[2016-10-01 21:06] theboomer commented on #270
Maybe ignore this.
I forgot that for multi-block pushes, the event contains both a ChangeBlockEvent.Place and ChangeBlockEvent.Break event within it, and the event.getTransactions() is the combination of both of these subevent transactions, and fishing out just one of these at a time gives what is needed

[2016-10-01 21:06] #270 closed

[2016-10-01 21:09] #265 closed

[2016-10-01 21:44] gabizou commented on #271
@Minecrell, @Zidane and myself are in agreement with executing @Mumfrey's option of having the feature globally disabled by default, and when enabled, a whitelist configuration of which plugins can use mixins to be the per-plugin toggle. Ultimately, if a plugin is going to hack around the configuration file to enable it themselves, self-governance from the community will be welcomed and the plugin

[2016-10-01 22:02] me4502 commented on #271
Would there be a way of detecting that your plugins mixins are disabled? If not, that may be worth looking into, so that you'd be able to output in the console "To enable further functionality, please allow mixins for this plugin" whenever something that uses mixins is enabled.

[2016-10-01 22:12] ewized commented on #271
Perhaps also add support for per mixin per plugin in the whitelist. This way mixins could be called soft. This would allow for some tags like `@Shadow` and the creation of new method that are only read access. Does not change anything of existing methods.

[2016-10-01 23:08] Deamon5550 commented on #271
@ewized would be up to the plugin to provide multiple mixin plugins and configure them in much the same way of sponge provided mixin plugins I believe.

[2016-10-02 07:23] ST-DDT commented on #271
@gabizou Why do you want the jar to be signed? IMO that only makes things more complicated without providing more security. I had a lot of cases where I needed to fix or alter an existing plugin to ensure that it works in my environment. (Update to latest API, fix translations or alter messages or just fix a bug in a no longer/too slowly maintained plugin). This would break the signature and would

[2016-10-02 10:31] thatpixguy opened #272 "Should bleeding compile? I'm getting a "bad class file" error."
I've tried trashing my .gradle dirs and my build dir, but I keep getting this error:

[code]

[2016-10-02 11:52] thatpixguy commented on #272
[code]

[2016-10-02 17:07] kashike commented on #272
https://github.com/MinecraftForge/MinecraftForge/issues/3238
Clean out `~/.gradle/` and `.gradle/` and re-run `setupDecompWorkspace`.

[2016-10-02 18:02] gabizou commented on #271
I don't. It was already [decided which option we would pursue](https://github.com/SpongePowered/SpongeVanilla/issues/271#issuecomment-250939458).

[2016-10-03 01:47] thatpixguy commented on #272
Thanks. I'd come across that issue in my Googling, but I had missed the subtlety of using running `setupDecompWorkspace` before doing `build` after cleaning out my `.gradle` dirs.

[2016-10-03 01:47] #272 closed

[2016-10-03 06:06] theboomer opened #273 "[1.10.2] CustomData wont persist on TileEntities, does in SpongeForge"
SpongeVanilla (-136 latest tested) , offer a custom-data to tile entities like chests and furnaces, it works, and the nbt data in the map is present.  Offer the SAME custom data to an entity like an itemframe or a armor-stand, and it also works fine, the nbt data in the map is present.
Stop the server, check the map - map files still have the nbt data present for both groups.
Even after restarting

[2016-10-03 06:41] Minecrell commented on #273
Can you upload your test plugin somewhere so we can reproduce the problem using it?

[2016-10-03 11:07] Minecrell commented on #271
I personally believe that plugin mixins should behave equally on both platforms. If we implement a whitelist on SpongeVanilla, we should also try to implement the same mechanism on SpongeForge.

Without a whitelist on SpongeForge, the easiest solution would be often to replace SpongeVanilla with SpongeForge instead of taking a moment time to understand what changing the option in the configuration

[2016-10-03 13:56] willis1030 commented on #257
Still not solved. pressure_plate don't restore in spongevanilla-1.8.9-4.2.0-BETA-352.jar.

[2016-10-03 14:53] Zidane commented on #257
SpongeVanilla 1.8.9 is no longer supported. Please update to SpongeVanilla for 1.10.2.

[2016-10-03 14:53] #257 closed

[2016-10-03 15:42] theboomer commented on #273
I can indeed provide you with a plugin - I made a quick test-only plugin that houses the customdata and minimum code to auto-add it to placed tileentities and entities that meet specific criterion, and right-clicking them with a blazerod will show the data toString() , showing Optional.empty() or Optional[all-data-lumped-in-string-text].  Creative mode and specific info are displayed onlogin.
---

[2016-10-03 16:42] #273 closed

[2016-10-10 04:53] theboomer opened #274 "[1.10.2] Nicely formatted Sponge Error when player exits bed before sleeping"
My testers were able to reproduce the result - by pressing ESC to exit a bed, or the leave-bed button to leave bed, prior to actually sleeping, the following errors were generated.  It appears to be two back-to-back errors for each 'leave bed' action taken.

Replicated with spongevanilla-138 with 0 plugins, and player can be holding an item or empty slot, it still throws errors.

See pastebin link

[2016-10-10 08:37] Minecrell commented on #274
Confirmed, but I'm pretty sure this is also a SpongeForge issue, please re-open this on SpongeCommon.

[2016-10-10 08:37] #274 closed

[2016-10-19 03:25] Maxqia opened #275 "spawnParticles NPE"
When I try to spawn a particle, it throws a NPE. This doesn't happen with SpongeForge. This was introduced with SpongePowered/SpongeCommon#702.
Pastebin : http://pastebin.com/56b11Yad
Code Reference : [Here](https://github.com/SpongePowered/SpongeVanilla/blob/5d8489bd3520c3f7db55700c80d181fd32407d55/src/main/java/org/spongepowered/server/mixin/core/entity/MixinEntity.java#L51)

[2016-10-19 03:34] kashike commented on #275
Caused by [SpongeParticleHelper.java#L123](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/effect/particle/SpongeParticleHelper.java#L123) due to [MixinEntity.java#L49-L53](https://github.com/SpongePowered/SpongeVanilla/blob/bleeding/src/main/java/org/spongepowered/server/mixin/core/entity/MixinEntity.java#L49-L53)

[2016-10-19 03:37] kashike commented on #275
@Cybermaxke

[2016-10-28 19:18] Klemms opened #276 "[Crash] Exception ticking world : ConcurrentModificationException"
Sponge Vanilla : 1.10.2-6.0.0-BETA-149
No Plugins, No Mods

Crashed while riding a horse and exploring the world

[crash-2016-10-28_21.15.30-server.txt](https://github.com/SpongePowered/SpongeVanilla/files/559242/crash-2016-10-28_21.15.30-server.txt)

[2016-10-29 13:32] #276 closed, assigned to stephan-gh

[2016-10-29 13:38] stephan-gh commented on #276
In case the downloads page is not working properly, please use this build: https://repo.spongepowered.org/maven/org/spongepowered/spongevanilla/1.10.2-6.0.0-BETA-151/spongevanilla-1.10.2-6.0.0-BETA-151.jar

[2016-11-05 12:15] gravityfox opened #278 "Packets not being delivered to the player."
Server: SV stable-5

Client: SF stable-5

When trying to send packets from the server to a player, the player does not receive them. However, it works fine when using SF stable-5 for the server as well.

[2016-11-05 12:37] stephan-gh commented on #278
How do you send the "packets"? You couldn't even join the server if the client didn't receive any packets. ;)

[2016-11-06 09:09] gravityfox commented on #278
Listener here:
https://github.com/FoxDenStudio/FoxCore/blob/api5/src/main/java/net/foxdenstudio/sponge/foxcore/plugin/FoxCoreMain.java#L219-L227

Actual code here:
https://github.com/FoxDenStudio/FoxCore/blob/api5/src/main/java/net/foxdenstudio/sponge/foxcore/plugin/FCServerNetworkManager.java#L109-L130

[2016-11-12 13:10] Misseal opened #279 "Fireballs not damaging blocks"
Using 1.10.2-5.1.0-BETA-355 (this is visible in 6.0 builds as well), Fireballs only applies fire to blocks without destroying them.
For example, using `/summon Fireball ~ ~ ~ {ExplosionPower:10,direction:[0.0,0.0,0.0]}` then hitting the resulting entity towards the ground does not create a gigantic hole as expected. Using this command in singleplayer or the regular MinecraftServer jar does damage

[2016-11-15 03:17] simon816 commented on #278
I tried this using my network test plugin and could not reproduce. I connected A spongeforge client to both a spongeforge and spongevanilla server (with same client code) and it worked the same on both

[2016-11-15 03:18] gravityfox commented on #278
i haven't tested on bleeding, it might be completely fine on bleeding.

[2016-11-16 16:22] Limeth opened #280 "1.11 crash during start"
Hello, I've encountered this crash when I tried to use the 1.11 SV build. I hope it's somehow helpful.
I put the SV JAR in the directory that I previously ran SF from.

http://pastebin.com/VTUSRwQF

[2016-11-16 22:16] Aaron1011 commented on #280
@Limeth: We haven't yet updated some of our RCON-related mixins. As a temporary fix, you can disable RCon.

[2016-11-17 01:53] aylacullen opened #281 "Hard crash by SpongeVanilla 1.11; something to do with enhancements"
Pastebin of crash report: http://pastebin.com/qKPCXwRN

Summary:
================
[code]

Server info:
================
[code]

[2016-11-17 02:17] aylacullen commented on #281
Update: I disabled all mods, and reloaded the server.  Not long after loading it, it crashed again, similar error:

[code]

[2016-11-17 02:27] aylacullen commented on #281
May be related;  I wasn't able to apply the solution as suggested by the thread as this is SpongeVanilla, not SpongeForge:  https://forums.spongepowered.org/t/solved-server-crashing-when-one-of-my-players-tries-to-login/8745/7

Edit:  I installed a plugin to remove skeleton horses, and this eliminated the error.  Plugin is here:  https://ore-staging.spongepowered.org/ryantheleach/DisableSkeletonHo

[2016-11-17 03:34] aylacullen opened #282 "Items are lost immediately when an user is killed due to an error"
This is for SpongeVanilla 11.1.

Error log:

[code]

[2016-11-17 04:03] gabizou commented on #281
I'm fairly sure that once we finish the update to proper MCP mappings, we'll no longer have this sort of issue.

[2016-11-17 20:42] Aaron1011 commented on #280
This should be fixed in the latest SpongeVanilla (it might take a little bit for builds to appear).

[2016-11-17 20:42] #280 closed, assigned to nobody

[2016-11-17 20:47] Aaron1011 commented on #281
This has been fixed in the latest SpongeVanilla.

[2016-11-17 20:49] Aaron1011 commented on #282
I'm unable to reproduce this in the latest SpongeVanilla.

[2016-11-17 20:49] #282 closed, assigned to nobody

[2016-11-17 21:08] gravityfox commented on #278
Apparently fixed by 7ecc7f8cfd8ede58386f1fd7936c63031ff420f0

Thanks ^_^

[2016-11-17 21:08] #278 closed, assigned to nobody

[2016-11-20 19:53] aylacullen commented on #281
Not necessarily.  May want to reopen this issue.  Got another crash re: enhancements (this time I can't tell what exactly, villagers, maybe?), it mentions something about villagers.  So it appears to have not been fixed, unless you're referring to bleeding?

Minecraft is completely unplayable, as nobody can connect due to server crashing everytime someone connects, each time with the same error as

[2016-11-20 22:40] JBYoshi commented on #281
@doncullen It's not a problem with existing villagers, but new villagers. Here's a breakdown of the error trace:
- A player spawns. They need to know what the world around them is like.
- Minecraft loads several chunks near the player (chunks are 16x16 vertical sections of the world, used so that Minecraft doesn't have to create the whole world at one time).
- The chunk doesn't yet exist, so Minec

[2016-11-21 01:25] aylacullen opened #283 "Bug in how entities are handled causing nonstop server crash, 1.11 does not resolve issue"
See #281

No workaround is available, Sponge Vanilla is completely unusable in current state due to constant crash when an entity appears that it isn't able to handle.  The first time was Skeleton Horses, the second was something to do with villagers.  Players aren't able to connect as when they connect, the server starts processing those entities, which triggers the crash.

The original issue was

[2016-11-21 01:28] aylacullen commented on #281
Understood.  ATM, the issue is unresolved.  Is there any way I can disable "trade offers" so it doesn't trigger a crash?  That's fine for a temporary solution until the issue is fixed.

[2016-11-21 04:36] JBYoshi commented on #283
If you close the issue yourself, you and any Sponge developer can reopen the issue. Otherwise, only Sponge staff can reopen issues.

[2016-11-21 05:17] kashike commented on #283
I've reopened your other issue (#281).

[2016-11-21 05:17] #283 closed, assigned to nobody

[2016-11-22 09:04] aylacullen commented on #281
Found a temporary workaround to get Sponge to run without crashing, but it comes with a price.  Go in server.properties file, change spawn-npcs to false, then reload the server.  It'll disable villagers, but in doing so, will no longer trigger a crash due to this particular condition.   My server is now unfortunately missing skeleton horses and villagers, but at least it's stable for now.

[2016-11-22 19:37] aylacullen opened #284 "Internal server error caused by placing sticky piston while in creative mode boots player, does not crash server"
This is for v1.11, happens even with all mods disabled.

Steps to reproduce:

1.  Place redstone block on ground
2.  Place sticky piston on top of redstone block
3.  Buh bye

Note:  the error simply boots the player offline; it does not crash the server.  The player is able to rejoin, but if s/he tries again with the piston, s/he is booted again. The piston placed however stays placed; it appears

[2016-11-22 20:36] ghost opened #285 "Cannot send BookView to Player"
When sending a bookview to a player in 1.11 nothing appears.
Code I used to test:
[code]
**Info**
Build: `SpongePowered MIXIN Subsystem Version=0.5.17 Source=.../sponge.jar Env=UNKNOWN`
Plugins:
* LuckPerms
* WelcomeBook _(The plugin used to test)_
**log**
[code]

[2016-11-23 01:29] rexbut opened #286 "IntelliJ : InvalidPathException"
Since the last branch bleeding update, I have an error when running SpongeVanilla on IntelliJ IDEA.

Error : http://pastebin.com/GMhSBaZ1

[2016-11-23 18:36] Aaron1011 commented on #284
Can you retest with the latest SpongeVanilla?

[2016-11-23 18:37] Aaron1011 commented on #281
@doncullen: You appear to be on an outdated build of SpongeVanilla. Can you retest with the latest build?

[2016-11-23 20:18] doncullen commented on #284
Sure, if there's an updated JAR, I can pop it in.

[2016-11-23 20:31] doncullen commented on #284
The only thing listed here ( https://www.spongepowered.org/downloads/spongevanilla/ ) is for 1.10.  Your announcement has spongevanilla-1.11-6.0.0-BETA-0.jar -- is that the one you're referring to?

[2016-11-23 20:32] aylacullen commented on #281
The only thing listed here ( https://www.spongepowered.org/downloads/spongevanilla/ ) is for 1.10. Your announcement has spongevanilla-1.11-6.0.0-BETA-0.jar -- is that the one you're referring to?

[2016-11-23 20:44] Aaron1011 commented on #281
`1.10.2-5.1.0-BETA-359 ` on the downloads page is the correct build to use.

Edit: As @Deamon5550 pointed out, SpongeVanilla isn't currently being built atm. Untwil we get that sorted out, the  only way is unfortunately to run it from an IDE/build it manually.

[2016-11-23 20:56] aylacullen commented on #281
Okay.  I have OpenJDK v8 on my system, but am not familiar with using it.  I'm on Ubuntu.  Best way to go about building it?

[2016-11-23 20:58] Deamon5550 commented on #281
I've updated the build linked in the release thread [also found here](http://files.thevoxelbox.com/Sponge/spongevanilla-1.11-6.0.0-BETA-0.jar). So you use it to test.

[2016-11-23 21:05] aylacullen commented on #281
OK, I've updated it.

[code]

The plugin I used (DisableSkeletonHorses) removed all horses, and NPCs were disabled via server.properties so villagers were also removed; this was a workaround to stop the errors from crashing the server.  I've disabled the mod for the skeleton horse removal, and also enabled NPCs in server properties.  But the side effect is that the units causing the issue are gone

[2016-11-23 21:13] aylacullen commented on #284
OK, I've updated it.

[code]

Just tested again by placing redstone block in the ground and putting a piston (alternated with piston/sticky piston) on top.  Did it via both survival and creative modes.  No issues.   Can confirm this appears to be resolved.  Closing issue as resolved.

[2016-11-23 21:13] #284 closed, assigned to Aaron1011

[2016-11-26 00:56] aylacullen commented on #281
Guess there's some units that haven't been wholly addressed.  Just got a hard crash due to an armor item that was found inside a treasure chest (when chest was destroyed) when exploring a desert temple.  Restarting the server resolved the issue; but the chest had regenerated itself (I assume due to MC not having a chance to be able to save world when it crashed immediately on acquiring item.  When

[2016-11-26 01:08] kashike commented on #281
That looks like a plugin issue, @doncullen. Sounds like ViaVersion is using the wrong adapter, @MylesIsCool.

[2016-11-26 01:10] #281 closed, assigned to Aaron1011

[2016-11-26 01:14] aylacullen commented on #281
That's strange.  ViaVersion is not being used at all.  See:

[code]

[2016-11-26 05:17] kashike commented on #281
[code]

[2016-11-26 12:34] #286 closed, assigned to stephan-gh

[2016-11-26 13:11] #285 closed, assigned to stephan-gh

[2016-11-26 13:21] stephan-gh commented on #279
I can reproduce the same problem on SpongeForge. Please re-open this issue on the SpongeCommon issue tracker: https://github.com/SpongePowered/SpongeCommon/issues

[2016-11-26 18:01] gabizou commented on #281
@doncullen ViaVersion needs to update for API 5/6 to get the proper hand methods.

[2016-11-26 22:24] JBYoshi commented on #281
ViaVersion does have an update for API 5 (https://ci.viaversion.com/job/ViaVersion/lastCompletedBuild/). `sponge` is for API 5 (and may or may not work with API 6). `sponge-legacy` is for API 4.

[2016-11-26 23:46] aylacullen commented on #281
Why would it mention ViaVersion if I don't have it?  See above where I pasted result of the **/sponge plugins** command.  Unless it's been integrated in one of those plugins or in Sponge itself?

[2016-11-27 21:18] Misseal commented on #279
Ok, moving to https://github.com/SpongePowered/SpongeCommon/issues/1044

[2016-11-27 21:18] #279 closed, assigned to stephan-gh

[2016-11-30 05:32] aylacullen commented on #281
Bump.

[2016-11-30 06:39] Deamon5550 commented on #281
it wouldn't unless you have the plugin somewhere in your classpath or something else is including it. It is not included in sponge and it is definitely there in that issue.

[2016-12-03 18:50] Time6628 commented on #275
Any ETA on when this will be fixed? 🐱

[2016-12-04 11:02] #275 closed, assigned to stephan-gh

[2016-12-08 18:07] Rolphoe opened #288 "Shield doesn't protect"
Hello, I was playing on my server and I was using my shield trying to defend myself from skeletons and creepers, but even if the damage sound of player wouldn't play i still get the damage from the arrow/explosion or any other hit.

I use the latest version of spongeVanilla for 1.11 which is 6.0.0-BETA-182.

[2016-12-09 07:28] gabizou commented on #288
Re-open in SpongeCommon please, all of the damage handling code is in there.

[2016-12-09 07:28] #288 closed, assigned to nobody

[2016-12-14 01:11] TptMike opened #291 "Can only walk into end Portal"
If you try jumping into or from under, running into, or falling from from above into the end portal, you get teleported far out into the end. If a player walks into the portal without otherwise doing anything else, they are teleported to the correct location.

I'm using the 1.11-6.0.0-BETA-185 build. Apologies if I posted this in the wrong location, it's my first report. :)

EDIT: This issue doesn

[2017-01-10 10:33] leonbaronick opened #292 "[1.11.2] Dispenser Block not updating"
When you use a dispenser to place water from a bucket, the places water gets recognized by the server but is not recognized by the client. Mobs swim in the liquid (hover up and down client-side). The same happens when trees get fertilized with bonemeal from a dispenser. This can be reproduced easily.

[2017-01-19 16:57] stephan-gh commented on #292
I cannot reproduce this on the latest 1.11.2 build. Please test again with the latest build.

[2017-01-19 17:04] stephan-gh commented on #291
I cannot reproduce this. Can you test again with the latest build?

[2017-01-21 21:51] vorburger opened #293 "renameWorld() IllegalStateException: World is still loaded! even if unloaded"
I suspect there is a bug, in 1.10.2-5.1.0-BETA-365 at least, re. WorldManager.renameWorld() ... seen using @trentech's https://github.com/trentech/ProjectWorlds, by then also hit when playing with the underlying API myself in my own plugin, thus suspect it's a Sponge bug, and not an issue with that plugin:

Even if you Server.unloadWorld(), and get a success, then Server.renameWorld() still fails

[2017-01-21 22:37] stephan-gh commented on #293
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1055

[2017-01-21 22:40] #293 closed, assigned to nobody

[2017-01-24 10:59] seema84 opened #294 "error on server start"
**Build: 1.11.2-6.0.0-BETA-206**

[code]

[2017-01-26 18:05] kashike commented on #294
https://github.com/SpongePowered/SpongeCommon/commit/b76d8c2a3243c0b21774ea914d963983315ca1db

[2017-01-26 18:05] #294 closed, assigned to kashike

[2017-01-30 17:01] #292 closed, assigned to nobody

[2017-01-30 17:01] #291 closed, assigned to nobody

[2017-02-06 06:26] kherock opened #296 "End gateways nonfunctional in SpongeVanilla"
I've found that in the latest 1.11.2 builds, end gateway portals fail to create an exit portal and a safe teleport location. For example, the server will log

[code]

for seed -4451667846734335168.

This does not occur with SpongeForge builds.

[2017-02-06 06:56] kherock commented on #296
Whoops, I forgot to test the forge server with the mod installed. This is present in SpongeForge.

[2017-02-06 06:56] #296 closed, assigned to nobody

[2017-02-06 14:07] blubberdiblub opened #297 "Support changing plugin directory using `plugins-dir` configuration option"
Version: `spongevanilla-1.11.2-6.0.0-BETA-208.jar`

I like to have the **mods and plugins directories cleanly separated** and I like to switch forth-and-back between SpongeForge and SpongeVanilla.

There's a stanza *`plugins-dir`* in the `config/sponge/global.conf` file which I have configured like so:
[code]

The content of my mods directory is this:
[code]

Whereas the content of my plugins dire

[2017-02-11 03:46] kashike opened #298 "Runtime deobfuscation not remapping properly"
`org.spongepowered.server.launch.transformer.deobf.NotchDeobfuscationTransformer#mapFieldName` should be using `org.spongepowered.asm.bridge.RemapperAdapter` (or implement the same functionality) like is done with `org.spongepowered.asm.bridge.RemapperAdapterFML`, since `RemapperAdapter` looks for both the deobfuscated **and** obfsucated target:
[code]

I'm unsure if this also applies to methods.

[2017-02-11 10:44] #298 closed, assigned to stephan-gh

[2017-02-15 15:54] turtledude01 opened #300 "Breaking farm type plants withought hand only drops single item"
This originated in Spongevanilla 1.11.2 build 198/199.
When breaking plants like wheat, carrots, and potatos, if broken with your fist it drops like normal.  If you pour water on it or break it with a piston, it breaks the plant and only drops a single item.  I tested this in the latest build of both SpongeVanilla and SpongeForge and its only Vanilla that has it.

[2017-02-16 01:19] JBYoshi commented on #300
I can confirm this.

[2017-02-16 01:32] JBYoshi commented on #300
Edit: I can only confirm this with pistons. Water works normally.

[2017-02-16 02:00] JBYoshi commented on #300
I think I found a fix. I'm just waiting for the server to restart so I can test it.

[2017-02-17 03:04] dstengle opened #301 "Unable to place/break blocks near spawn."
With spongevanilla-1.10.2-5.1.0-BETA-371 I create a server with superflat world saved right after creation in single player (tried twice). No mods.

Blocks flash and won't place. Can't break blocks either. If I move a certain distance I can start placing blocks and break the ground. Around 2 chunks but isn't right on chunk boundaries.

Would love to be able to debug further but don't really know w

[2017-02-17 03:25] dstengle commented on #301
I just went back and checked with a fresh, regular world and the same issue happens there, so nothing to do with superflat. Is this a documentation issue? Is there some sort of spawn area protection within ~2 chunks of the spawn point? Again, no mods, fresh software install, too.

[2017-02-17 03:35] ewized commented on #301
In Minecraft you must be `op` to build near the spawn unless you set `spawn-protection=0` in `server.properties`

[2017-02-17 13:46] dstengle commented on #301
Yup. I woke up thinking it must be something like this. Definitely PEBKAC.

I'm so used to being op for our little family setup. When I did the first attempt, I was op in the underlying configs but put in LuckPerms, so it seemed inconsistent. When I tried to make a clean setup to test, stripping out all the mods stedily, I wasn't op, but I also didn't drop all the way down to plain minecraft to se

[2017-02-17 13:46] #301 closed, assigned to nobody

[2017-02-17 20:19] #300 closed, assigned to stephan-gh

[2017-02-17 21:50] TBlueF opened #302 "Cartographers are missing."
There are some issues with the cartographer:
1. There are no cartographer-villagers spawning naturally in any villages
2. You cannot spawn cartographers using `/summon Villager ~ ~ ~ {Profession:1, Career:2}`
(It spawns a Librarian *(Profession:1, Career:1)*)
3. On my main-server i got [this crash](https://craftednature.de/paste/crash-2017-02-17_22.01.08-server.txt), when a player tried to trade w

[2017-02-18 16:16] #302 closed, assigned to nobody

[2017-02-18 16:29] #297 closed, assigned to stephan-gh

[2017-02-26 21:52] vorburger opened #304 "IllegalArgumentException: Cannot set property PropertyBool{name=occupied, clazz=class java.lang.Boolean, values=[true, false]} as it does not exist in BlockStateContainer{block=minecraft:air, properties=[]}"
I'm locked out of a server after it originally stopping with this crash report:

[code]

restart and attempt to rejoin, with the same player, causes this very similar error, and it's impossible to rejoin:

[code]

It's player specific - with at least another account this doesn't happen. According to chat with @Aaron1011 on IRC it's got something to do with that player sleeping in a bed... He says

[2017-02-26 22:16] vorburger commented on #304
Just FTR, in case anyone else ever hits this problem: As advised by @Aaron1011 on IRC (TX!), I was able to work around this problem with an NBT Editor, such as e.g. @jaquadro 's [NBTExplorer](https://github.com/jaquadro/NBTExplorer) (tx!), by opening the affected player's (UUID) world/playerdata/*.dat and changing the value of `sleeping` from 1 to 0.

PS: Just in case this is of any value (?) in d

[2017-02-26 22:54] #304 closed, assigned to nobody

[2017-03-18 12:25] maarten-vos opened #305 "Ground state does not update after death"
Running SpongeVanilla version 1.10.2-5.2.0-BETA-383 or higher results in the player 'onGround' state not updating after death (always true). This has not been tested with lower versions. Relogging will fix this issue.

[2017-03-18 13:00] stephan-gh commented on #305
Have you tested if the same thing happens on SpongeForge?

[2017-03-18 13:02] maarten-vos commented on #305
I have not.

[2017-03-18 13:05] stephan-gh commented on #305
@inferiormartin Any chance you could try reproducing it on the latest SpongeForge? If not, I'd appreciate if you could share some instructions on how to reproduce the problem (e.g. the steps to reproduce it, an example plugin, ...).

[2017-03-18 13:08] maarten-vos commented on #305
Well, it's just checking the player#isOnGround state on the MoveEntityEvent. That's it.

[2017-03-18 13:28] stephan-gh commented on #305
I cannot reproduce this. I used the following code on the latest SpongeVanilla:

[code]

It will correctly log changes in `player.isOnGround()` even after death.

[2017-03-18 13:38] maarten-vos commented on #305
I've done another test, does the server create a new Player object after the player has died?

Well it seems like that is the case, then this was a mistake on my part. I'm sorry for wasting your time.

[2017-03-18 14:05] stephan-gh commented on #305
That's possible. You should never store references to the `Player` instance. Get the player instance using its UUID instead.

[2017-03-18 14:05] #305 closed, assigned to nobody

[2017-03-22 01:36] ewized opened #306 "Bug when loading worlds"
This plugin, loads a world y, sends all players from world x to world y, then deletes world x.

This error occurred when upgrading from build 217 to 234. I have a feeling its from the async chunk loading. @Minecrell

[code]

[2017-03-22 14:05] stephan-gh commented on #306
Do you have certain instructions or a test plugin that causes these problems?

[2017-03-26 01:47] ewized commented on #306
I have narrow it down to this build that started to cause it `1.11.2-6.0.0-BETA-223`. Working on getting some functional sample code. But here is a snip it of what it does. The bug does not occur when the server is initially starting up. But occurs when it wants to load the word right after its `createWorldProperties` .

[2017-03-27 12:06] stephan-gh commented on #306
Can you test with 1.11.2-6.0.0-BETA-239?

[2017-03-27 15:17] ewized commented on #306
It has fixed it.

[2017-03-27 15:17] #306 closed, assigned to nobody

[2017-03-30 04:58] TonyFoster opened #307 "Multiple entries with same key: DamageModifier"
version: spongevanilla-1.11.2-6.0.0-BETA-239
Error message:

[code]

When this happen, server will shutdown immediately. And this error can throw again right after the loading is done.

[2017-04-04 09:00] TonyFoster opened #308 "Exception with a creeper explosion."
[code]
Version: SpongeVanilla version 1.11.2-6.0.0-BETA-243

[2017-04-08 10:15] TonyFoster opened #309 "IgniteEntityEvent won't fire."
code:
[code]
When ignited a creeper by using a flint and steel on ground where creeper standing are, message is output on console below:
[code]
Seems `IgniteEntityEvent` won't fire.

Version: SpongeVanilla version 1.11.2-6.0.0-BETA-243
no any other listener are listening to.

[2017-04-08 10:22] TonyFoster commented on #309
Posted this on forum. Maybe reopen this issue after discussed on forum.

[2017-04-08 10:22] #309 closed, assigned to nobody

[2017-04-08 21:02] gabizou commented on #309
Refer to SpongePowered/SpongeCommon#41.

[2017-04-08 23:33] TonyFoster commented on #309
thanks!

[2017-04-12 19:43] stephan-gh commented on #308
I couldn't reproduce this with the latest SpongeVanilla so it is either fixed or only happens in some cases. In any case, you should re-open this issue on [SpongeCommon](https://github.com/SpongePowered/SpongeCommon), SpongeVanilla doesn't have any code related to explosions.

[2017-04-12 19:43] #308 closed, assigned to nobody

[2017-04-24 17:14] BrainStone opened #312 "player.get(Keys.TOTAL_EXPERIENCE) Always returns 0"
When trying to get the player's experience with `player.get(Keys.TOTAL_EXPERIENCE).get()` the value is always 0. Also `player.get(ExperienceHolderData.class).get().totalExperience().get()` is always 0.

**I am currently running...**
- SpongeVanilla version: 1.11.2-6.0.0-BETA-253, 1.11.2-6.0.0-BETA-252 and 1.11.2-6.0.0-BETA-243
- Java version: 1.8.0_121
- Operating System:
 - [x] Linux (Debian)
 -

[2017-04-25 12:06] stephan-gh commented on #312
I can't reproduce this. It works fine with `1.11.2-6.0.0-BETA-253`. One thing I did notice is that experience given with `/xp <levels>L [player]` (so giving levels directly, not absolute experience) does not seem to count into `TOTAL_EXPERIENCE` but that seems to be just how the server counts it. (It tracks levels and total experience separately.)

[2017-04-25 15:22] #312 closed, assigned to stephan-gh

[2017-04-26 14:10] TonyFoster opened #313 "Spawn protection effect on the end."
Spawn protection effect on the end.
This means, by default, area around exit portal are locked. The most impact things is that player can not get  dragon egg in any way after slain the dragon.

Version: spongevanilla-1.11.2-6.0.0-BETA-253

This issue can be reproduce by simply run a new sponge server.

[2017-04-28 21:34] slipcor opened #314 ""Switching Phase" spam when trying to break leaves [from leaf decay event]"
Hey there, I am trying to port a rather complicated plugin - TreeAssist - to Sponge.

One big issue seems to be caused by something about decaying leaves, and me trying to increase the leaf decay by breaking neighbor blocks.

So here is the spam https://pastebin.com/raw/Wk82fNcx

I am still in the process of figuring out core elements so I did not upload the source yet - I will pastebin the import

[2017-04-30 08:52] EvilCh33z opened #315 "Unexpected phase error?"
[Console Log](https://pastebin.com/qJ44LTnD)

[Crash Report](https://pastebin.com/vmBdXGJN)

It says to make an issue. Heres an issue, lol.

[2017-05-03 18:22] Heartfyre opened #316 "Ignore: Wrong Github"
Wrong GitHub

[2017-05-03 18:33] #316 closed, assigned to nobody

[2017-05-04 13:18] Alexdenseje7 opened #317 "Server crashes on player disconnect"
Crash report:
https://pastebin.com/dduE9dFc

The server crashes when the someone leaves the server.

Newest version of sponge vanilla.

[2017-05-05 09:23] TBlueF opened #318 "Unable to load additional worlds"
When you try to load a second world using
[code]
you get the following exception:
[code]

*Tested using SpongeVanilla version: **1.11.2-7.0.0-BETA-262***
*(The code works fine on SpongeForge)*

[2017-05-17 14:32] stephan-gh commented on #317
Is this still happening on the latest SpongeVanilla?

[2017-05-17 14:33] stephan-gh commented on #315
Is this still happening with the latest SpongeVanilla version?

[2017-05-17 14:52] stephan-gh commented on #313
According to a comment in the source code this is intended. (It applies to all worlds.) I don't think that makes much sense...

[2017-05-17 15:00] TonyFoster commented on #313
I forgot to add this: Both in original Minecraft server and single player world, this issue is not present.

[2017-05-17 15:01] stephan-gh commented on #313
Yes, this is a change we've made in Sponge.

[2017-05-17 23:29] Zidane commented on #313
@Minecrell

Where are you seeing that?

[2017-05-18 05:10] ryantheleach commented on #313
https://github.com/SpongePowered/SpongeCommon/pull/128

@Zidane mentioned here: https://github.com/SpongePowered/SpongeCommon/commit/6b2e66d5fcebae2cad7ab0e0d31c0c0b40b8ab3a

https://github.com/SpongePowered/SpongeForge/issues/605

I agree that as it stands, I'd consider this a bug. But considering it uses permissions now, what would be the best way to resolve this?

Some sort of per world config

[2017-05-18 05:51] stephan-gh commented on #313
@Zidane @ryantheleach linked it in the commit. I was about to restore the dimension check when I saw the `@Overwrite` comment. It specifically mentions applying it to all worlds.

[2017-05-18 10:35] lucko commented on #313
@ryantheleach
It's possible to set the override permission to true by default in specific worlds.

Simply:
When a world is loaded, if it is not the main overworld, set the override permission to true on the default subjects transient subject data, using the world context.

It's also possible to set a default in a specific dimension, since Sponge provides contexts for these via its context calculat

[2017-05-19 08:48] ryantheleach commented on #296
Old issue, but linking for organizations sake.

https://github.com/SpongePowered/SpongeCommon/issues/1189

[2017-05-25 17:25] #318 closed, assigned to stephan-gh

[2017-05-30 13:38] TonyFoster opened #320 "Try create a new world always got "Invalid dimension id 2""
Described in this post:
https://forums.spongepowered.org/t/get-error-invalid-dimension-id-2-when-create-new-world

[2017-05-30 15:02] stephan-gh commented on #320
It should work if you use the experimental build instead of the stable one.

[2017-05-30 15:11] TonyFoster commented on #320
Confirmed, this issue is not present in SpongeVanilla version 1.11.2-7.0.0-BETA-271

[2017-05-30 21:15] theboomer opened #321 "1.11.2 Bleeding Switching Phase error when eliminating a block"
Updating old plugins for API 7.0.0 newer bleeding Vanilla 1.11.2s, getting a reproducible Switching-phase error...

Pastebin to error+stacktrace
https://pastebin.com/Bzx9gWzM

Stacktrace shows failure is triggered at the following line of code.   This code is used if a gravel or sand block is broken under certain conditions, in which case I spawn a gold nugget and set the block type to air so as t

[2017-05-30 21:50] GoadingGoat opened #322 "Sponge console expects LF as terminating char, when it should expect CR"
The sponge vanilla console expects a LF char ("\n") for commands when it should be expecting CR ("\r"). Which makes sponge-vanilla inconsistent with vanilla minecraft, forge, and almost every other game...

Is there any reason that LF is used instead? and is it something that can be changed?

[2017-05-30 22:15] theboomer opened #323 "1.11.2 [1.12 also] Switching Phase error for explosions"
Second plugin now (and im sure additional ones will be that create explosions) which throws a Switching Phase error when updating to api7/Vanilla 7.0.0:

Pastebin of error-stacktrace:
https://pastebin.com/2mFU2mBK
Minecraft : 1.11.2
SpongeAPI : 7.0.0-SNAPSHOT-af4f1af
SpongeVanilla : 1.11.2-7.0.0-BETA-271

Stacktrace points to this code, the GasPocket line 72 is the one with the triggerExplosion.

[2017-05-30 22:16] Deamon5550 commented on #322
The console is managed by jline which I expect looks for the systems `line.separator`. I'm guessing that that panel is running on a system that does not use a single `\r` as the line separator seeing as only ancient macs do that. The panel should be using what the system expects as the line separator.

[2017-05-30 22:34] GoadingGoat commented on #322
Ahh, i see. The panel currently only supports Linux, so it would make sense that it's screwing up as jline is probably going to be expecting a single LF char, when only CR is given.

[2017-05-30 22:53] GoadingGoat commented on #322
Thanks, for you time. I'm going to close this, as it's not your problem to fix.
Feel free to re-open it if you wish to fix it anyway.

[2017-05-31 07:06] stephan-gh commented on #322
I kind of expected that to happen and was just waiting for someone with a specific example of it failing to take a closer look.

There was a change in the SV console handling code recently. Previously jline was only enabled in some cases, now it's enabled by default and _disabled_ in some cases. I might need to revert that to make the life easier for control panels.

[2017-05-31 14:50] aWitch-Doctor opened #324 "Portal agents"
I have tried search google and any wiki's, I have asked in sponge chat many times, I have created a forum thread in sponge support. No one can give me an answer. I'm calling it a bug now.

I am using SpongeVanilla api 5.2 build 385 and the latest nucleus and nucleus mixins.
I have a main world, we will call it world_a, and a second overworld, we will call it world_b.
I have a main nether, we will

[2017-06-02 06:25] EmanYm opened #325 "[solved]"Calling tweak class org.spongepowered.server.launch.VanillaServerTweaker"[derp sprinkles!]"
I'm trying to set up a SpongeVanilla (version 5.2.0-Beta385) on a hosted server.
I have Forge 12.18.3.2297 in the main folder and set as the active .jar
All I have in the "mods" folder is Spongevanilla

I get [this error](https://hastebin.com/loqonepeno.md) on my console (copied from "fml-server-latest.log") then the server goes into a reboot loop.

I can provide whatever-latest.log files or scree

[2017-06-02 06:28] ryantheleach commented on #325
You don't use SpongeVanilla and Forge together.

SpongeVanilla is the platform for running Sponge without Forge.

SpongeForge is a mod to run Sponge with Forge.

I recommend you read the docs.

https://docs.spongepowered.org/stable/en/server/getting-started/implementations/index.html#which-do-i-choose

[2017-06-02 06:35] EmanYm commented on #325
So Sponge Vanilla goes into the main folder in place of Forge?

I apologize for my derp sprinkles.  It's almost three in the morning, and I'm used to working with SpongeForge.

Edit:
What I am trying to accomplish is a "hub" server that vanilla and modded clients can connect to without issues, then vanilla will be informed which mods are required to connect to the play server.
However, I want othe

[2017-06-02 06:47] ryantheleach commented on #325
I don't know enough about running 'vanilla' hubs with mods to comment.

I suspect you don't want SpongeVanilla, otherwise how is the server supposed to detect what mods are installed without Forge?.  I mean, you could try coding something, but it would involve duplicating forges code.

But I'm not all that sure on how forge behaves when clients that have mods that require server side components co

[2017-06-02 07:00] EmanYm commented on #325
I fixed my mistake.
SpongeVanilla goes in place of Forge in the main folder.

Also...

Recommended for running plugins without Forge mods.

It looks like I might get away with a few Sponge plugins.  To be safe I will test one at a time

[2017-06-02 07:11] ryantheleach commented on #325
Instead of editing the title to solved, you can close the issue yourself.

[2017-06-02 07:13] #325 closed, assigned to nobody

[2017-06-02 07:14] EmanYm commented on #325
I was doing both.  I added [solved] for anyone else that has that issue, they know this has a viable solution.

[2017-06-04 15:45] codeHusky opened #326 "Worlds do not have persisting UUIDs."
Saving and loading a position from a config after a restart results in a deserialization error because...
[code]

They don't persist, it's rather frustrating. This only happens on SpongeVanilla as SpongeForge handles this quite well.

[2017-06-05 21:16] EmanYm opened #327 "Exception during phase body"
I don't even know what caused it.  I didn't have the console open at the time and didnt' see it for two hours.  The entire error spam is to much to put on pastebin...
[wtfSalty.txt](https://github.com/SpongePowered/SpongeVanilla/files/1053213/wtfSalty.txt)

[2017-06-06 15:15] EmanYm commented on #327
There is a chance it is because he tried to pick a mod item out of his creative menu when that mod was not installed on the SpongeVanilla server.
The same type of message appeared when I tried to pick some speed boosted boots.

[2017-06-09 06:27] EmanYm opened #328 "Encountered an unexpected exception"
I was just walking around when the server crashed.  Every time I try to get back on it crashes again.
Here is the [error](https://hastebin.com/jujizibuvi.vbs) I get in the console.
Here is the [crash report](https://hastebin.com/pevoqelapu.pl).

I'm wondering if it really was a mob spawner, because there should not be any.  It's a void world.

Nevermind.  Checking the world and location in MCEdit,

[2017-06-09 15:24] stephan-gh commented on #322
Fixed for Minecraft 1.12 in https://github.com/Minecrell/TerminalConsoleAppender/commit/f1632ac61c17730445cf6fbc2146a716763d54d4

On older versions you can add `-Djline.enable=false` to the VM options when running the server.

[2017-06-09 15:24] #322 closed, assigned to stephan-gh

[2017-06-09 16:41] JBYoshi commented on #328
Could you post the full log?

[2017-06-09 16:45] ryantheleach commented on #328
I, uh, don't understand this bit;
"The spawner cart is being used just to show what it looks like if someone is using a resource pack"

[2017-06-09 19:45] EmanYm commented on #328
Look up QMagnet's resource pack test world on planet minecraft
The mob spawner and spawner minecart were set to "lightningbolt".  Checking the entity ID on gamepedia, it's "lightning_bolt" now.  I just changed it accordingly and all is fine.

[2017-06-10 04:18] gabizou commented on #328
@EmanYm There, I've back ported the fix to both stable branches for 1.10.2 and 1.11.2 and to bleeding. Should apply for both SpongeForge and SpongeVanilla.

[2017-06-10 05:55] EmanYm commented on #328
I will grab the update in the morning.  it's coming up on 2:00 am on my piece of the planet.

[2017-06-11 03:53] dscalzi opened #329 "Method to update weather/time for specific players."
Hey,

Unless I've missed something, it seems Sponge does not support the changing of weather / time for specific users only. This is possible through other APIs (spigot). I'm unsure at the moment as to how the time is changed, although the weather is simply changed by sending a packet to the player.

The code looks something like this.

`if (rain) {
      playerConnection.sendPacket(new PacketPlay

[2017-06-11 03:58] parlough commented on #329
The stance so far on this is that we are waiting for the contextual data pull request: https://github.com/SpongePowered/SpongeAPI/pull/1046

Due to its lack of progression, maybe other solutions may suite these two use cases for now, but API wise it is definitely best to wait.

For now you can use a MCP workspace to handle this or similar.

[2017-06-11 12:20] #329 closed, assigned to nobody

[2017-06-11 15:25] EmanYm opened #330 "Invalid Dimension id"
I installed SpongeVanilla 5.2.0 beta 386.  I'm now getting this

[11:14:04 INFO] [foxguard]: Loading worldregions for world: "DIM1"
[11:14:04 INFO] [Sponge]: Loading world [DIM1] (The End)
[11:14:04 ERROR]: Encountered an unexpected exception
java.lang.IllegalArgumentException: Invalid dimension id 2
at net.minecraft.world.DimensionType.lambda$getById$0(SourceFile:636) ~[atm.class:?]
at net.minecr

[2017-06-11 15:25] EmanYm commented on #328
Update in #330

[2017-06-11 15:55] EmanYm commented on #330
Does not happen in Beta 385

Edit:
It is defiantly beta 386.  I switched back to it and got the same invalid dimension id error.

[2017-06-11 17:04] stephan-gh commented on #330
SV 1.10.2 doesn't get updates often anymore. I suggest you use either 1.11.2 (stable) or 1.12 (experimental). I'll look into the error soon.

[2017-06-11 17:14] EmanYm commented on #330
Some of the plugins/mods I want to use have either not updated to 1.11/API 6 or don't need to.
I will have to experiment to find out which ones work on API6, then request an update from the develoeprs to the ones that don't.

[2017-06-11 17:15] stephan-gh commented on #330
You can always try using a newer API version. We don't break everything with each API version, so there is always a good chance that they're still working.

[2017-06-11 17:18] EmanYm commented on #330
I spent about an hour last night checking on which of the things I use have updates.
Of the 57 plugins/mods (including bungee/sponge/forge server and client side) only 25 don't have a 1.11 version at this time.

[2017-06-11 17:19] stephan-gh commented on #330
Ah, so you're using a mixture of Vanilla and Forge servers?

[2017-06-11 17:20] EmanYm commented on #330
My hub is SpongeVanilla to allow anyone to join.  My production and build servers are SpongeForge.

[2017-06-11 17:24] stephan-gh commented on #330
That makes sense. Thanks for explaining, I'll push the fix in a few minutes. :)

[2017-06-11 17:30] stephan-gh commented on #320
Fixed in https://github.com/SpongePowered/SpongeVanilla/commit/e2a1fada9b7b73b8f80350a18d816cded19229e3

[2017-06-11 17:30] #320 closed, assigned to stephan-gh

[2017-06-11 17:31] stephan-gh commented on #317
Please re-open this if this is still happening on the latest SpongeVanilla.

[2017-06-11 17:31] #317 closed, assigned to nobody

[2017-06-11 18:09] #330 closed, assigned to stephan-gh

[2017-06-11 18:30] EmanYm commented on #330
SpongeVanilla 5.2.0 Beta 387 fixed the issue I had.  Thank you Minecrell.
🍪🥛

[2017-06-11 19:28] EmanYm opened #331 "Just something I have noticed for a while."
I have been seeing this for a few weeks now.

Doesn't break anything, it's just in the way of my brain saying the startup is perfect. 😛

[2017-06-11 20:20] JBYoshi commented on #328
@EmanYm Is this fixed now?

[2017-06-11 20:25] codeHusky opened #332 "JLine doesn't work in IntelliJ when running SpongeVanilla as JAR application"
Any current SV 1.12 build will no longer show colors in IntelliJ.

[2017-06-11 20:29] kashike commented on #332
@Minecrell

[2017-06-11 20:44] JBYoshi commented on #327
That probably isn't the cause. After running through the log, it appears to be related to a player named SaltyDingo swimming.

[2017-06-11 20:54] JBYoshi commented on #327
I can't reproduce this the only way I could guess it might have happened (placing some water on top of a cliff, picking up the source, and riding the remains down) on build 387. If someone can find a way to consistently reproduce this, it will be a lot easier to fix this.

[2017-06-11 21:29] EmanYm commented on #328
This issue is.  I forgot to click close earlier.

[2017-06-11 21:29] #328 closed, assigned to nobody

[2017-06-12 06:05] stephan-gh commented on #332
IntelliJ IDEA version and OS? Can't reproduce. Is this using a production build or in the development environment?

[2017-06-12 06:18] codeHusky commented on #332
Windows 10, 2017.1.3

[2017-06-12 06:23] stephan-gh commented on #332
Is this using a production build or in the development environment?

[2017-06-12 06:31] codeHusky commented on #332
This is using a production build.

[2017-06-12 06:32] stephan-gh commented on #332
How do you start the server? Do you add the SpongeVanilla JAR to your classpath in IntelliJ?

[2017-06-12 06:33] codeHusky commented on #332
![image](https://user-images.githubusercontent.com/6946558/27021587-11b5a204-4f0f-11e7-89ec-92d4f8185996.png)

[2017-06-12 06:38] stephan-gh commented on #332
Like in Forge and previous versions of SpongeVanilla, JLine is disabled by default again in newer versions (except when you start them from an interactive terminal). The reason for it is that it causes massive problems in web control panels (as well as Eclipse).

I use a rather ugly hack that checks the classpath to determine if you're running in IntelliJ to enable it there by default. This won't

[2017-06-12 06:39] codeHusky commented on #332
Well, I'm using SpongeVanilla 1.11.2 and I don't seem to have it "disabled by default" for whatever reason.
![image](https://user-images.githubusercontent.com/6946558/27021736-ee567f80-4f0f-11e7-80aa-652d040335b8.png)
This is 1.11.2 with the same settings.

[2017-06-12 06:40] stephan-gh commented on #332
Yes, 1.11.2 is the only version where it was enabled by default. I've reverted it again in 1.12 because it was causing problems such as https://github.com/PufferPanel/pufferd/issues/36

[2017-06-12 06:41] codeHusky commented on #332
Oh, alright. I'll add that parameter in.

[2017-06-12 10:51] stephan-gh commented on #326
I can't reproduce this problem on the latest SpongeVanilla. I used this test plugin:

[code]

No matter how many worlds I add, it always prints the same UUIDs after a restart.

[2017-06-24 00:05] codeHusky opened #333 "Enchantments persisting from swords to hands"
After tossing a sword around back and forth between two users and having them kill eachother (the sword is sharpness 255), after they both drop the sword if they have it, the effect sticks in the first slot. The death is instant with the first slot selected, while any other slot takes the same amount of damage that you would expect it to.

SpongeVanilla 1.12 288

Reproduction Steps:
- Give player

[2017-06-24 00:06] codeHusky commented on #333
It also appears this behavior stops after a relog of the client. The in-game death message doesn't show the oddly stored weapon stats on kill either.

[2017-07-03 00:43] pie-flavor opened #335 "Water/lava pickup/placement does not fire a block change event"
This does sort of inhibit proper protection plugins. The only event fired is the interaction event, and even that can't be used if the player only clicks on fluid and not a block.

[2017-07-05 01:58] darichey opened #336 "Arrow in ConstructEntityEvent.Post does not have shooter information"
I'm attempting to use `ConstructEntityEvent.Post` to get the Player who shot a bow. This is my listener:
[code]
The event is properly fired when the arrow is shot. However, the output of the log is
[code]
According to the docs, `UnknownProjectileSource` represents a projectile source that is "not part of the API, such as a plugin or mod spawning a Projectile." This is not the case, as a player sho

[2017-07-05 15:07] ryantheleach commented on #336
I didn't get much done apart from redoing your test on SpongeForge 1.12

https://gist.github.com/ryantheleach/2152cebe0e3c90874c39e69566df4b66

Resulted in no logging.

[2017-07-11 13:40] #331 closed, assigned to JBYoshi

[2017-07-16 07:25] codeHusky commented on #326
This is during the instance where the world uuid is stored. As you can see, the UUID is the same as before.
![image](https://user-images.githubusercontent.com/6946558/28245486-c0517a26-69cd-11e7-8d98-d236d3abfee1.png)
We stop the server normally.
![image](https://user-images.githubusercontent.com/6946558/28245490-d953cb46-69cd-11e7-86ff-20973ec144a3.png)
As you can see, a non-existent UUID is used

[2017-07-17 09:17] theboomer commented on #323
This is still an issue that exists in SpongeVanilla as of 1.12 beta-300 version

[2017-07-18 19:25] demkom58 opened #338 "Mixin Fatal Error"
When I run the server an exception occurs.
Version: SpongeVanilla .10.2-5.2.0-BETA-391 (STABLE)
[latest.zip](https://github.com/SpongePowered/SpongeVanilla/files/1157051/latest.zip)

https://gist.github.com/demkom58/07517d900dcf39db921d0a8380c74e19

[2017-07-18 19:35] Deamon5550 commented on #338
Could you upload your log to a paste service such as https://gist.github.com it would make it much easier for viewers of this issue to view the log.

[2017-07-18 19:51] kashike commented on #338
https://github.com/SpongePowered/SpongeVanilla/blob/bleeding/src/main/java/org/spongepowered/server/mixin/core/world/MixinWorldServer.java#L49-L54 seems like the culprit.

[2017-07-18 20:18] Mumfrey commented on #338
Mixin 0.6.13 is bugged as described in SpongePowered/Mixin#193, you need to update Mixin to 0.6.15 in SpongeVanilla.

[2017-07-18 21:08] Zidane commented on #338
@gabizou

This shouldn't be closed. stable-5 of SV still uses 0.6.13.

[2017-07-26 08:33] napentathol opened #339 "Client crashes on crafting."
Minecraft Version: 1.12
SpongeVanilla Version: spongevanilla-1.12-7.0.0-BETA-303.jar

Clients were apparently randomly crashing whenever they would craft anything on my server. I dug into it a little bit, and it appears that this happens when "isGuiOpen" is set to 1.

Here are the yaml representations of these player files. To replicate this, download the yaml file, convert it to nbt, and replace

[2017-07-30 11:26] #338 closed, assigned to stephan-gh

[2017-08-05 04:24] Icohedron opened #340 "ExperienceHolderData not Accurate"
I found that the ExperienceHolderData from a Player does not contain accurate data.
Perhaps it is better shown than explained.
I will use the vanilla minecraft command '/xp' and the plugin below to demonstrate:
[code]
The full source code can be found [here](https://github.com/Icohedron/SpongeTest/tree/experience)

Each scenario starts with a player that has 0 experience, done by executing '/xp -1

[2017-08-05 12:30] JBYoshi commented on #340
Scenario 1 is a duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1322.

[2017-08-05 14:51] JBYoshi commented on #340
Current findings:

* For the total XP in scenario 2, Sponge is actually saying you have 3.9999998 XP, and then casting it to an `int`, which rounds down. However, there are some difficulties with simply rounding to the nearest whole number - see https://github.com/SpongePowered/SpongeCommon/pull/1358#discussion_r117647976.
* For the level bug in scenario 2, I found the bug - it was miscalculating

[2017-08-05 15:34] JBYoshi commented on #340
I'll push a fix for the level bug. I've also figured out a fix for the rounding that removes the decimals altogether, but since it depends on the total experience (which isn't always updated properly), I'll add it to https://github.com/SpongePowered/SpongeCommon/pull/1358.

[2017-08-05 15:36] Icohedron commented on #340
Is this related? It seems that the experience that Sponge calculates is off by a large margin

Steps:
1. /xp -100000L
2. /printxp

3. /xp 129
4. /printxp

![2017-08-05_09 31 14](https://user-images.githubusercontent.com/5418647/28996604-45e415ce-79c1-11e7-84bf-f9b1de48672d.png)

5. /updatexp

The difference in experience seems large, between what Sponge thinks it is, and what Minecraft thinks it i

[2017-08-05 15:38] JBYoshi commented on #340
Probably. The fix I'm about to push should reduce the error fairly significantly, though it won't be perfect (in my testing it's typically only off by one XP point). That last bit should come later.

[2017-08-05 15:43] Icohedron commented on #340
It also happens with even larger levels when the experience bar is almost full. Letting players gain a massive amount of experience with little effort.
![2017-08-05_09 40 13](https://user-images.githubusercontent.com/5418647/28996681-5dfe6e4c-79c2-11e7-9701-389ddf3a6072.png)
![2017-08-05_09 40 24](https://user-images.githubusercontent.com/5418647/28996682-5dffded0-79c2-11e7-8b84-be4247421dc1.png)

[2017-08-05 15:50] JBYoshi commented on #340
Just tested, and it should be fixed. (Although running `/updatexp` will take away one XP point; I'm working on fixing that now.)

[2017-08-14 17:08] #314 closed, assigned to nobody

[2017-08-15 22:12] TheRaspPie opened #341 "Control characters are shown in Git for Windows Console"
The commit that broke this is:
https://github.com/SpongePowered/SpongeVanilla/commit/b476a222426f71ba56c63d809a70738f9429014a

BUILD 246 (not working):

[code]

BUILD 245 (working):

[code]

The two "Skipping org.spongepowered..." lines should be the only ones that are colored.
In the broken build the control characters seem to continue even past these two lines.

![working](https://user-images.gi

[2017-08-18 03:01] ShirosWisdom opened #342 "Inventory can't query for CraftingInventory.class"
Build number: spongevanilla-1.12.1-7.0.0-BETA-314

Log files: https://pastebin.com/qMBrSqNZ

Description:

When inside the Click Inventory Event I am unable to use the Inventory Api to get a crafting inventory instance from neither the event's target inventory nor the root player's inventory. This occurs both when working with workbench inventories as well as the player inventory.

How to reproduc

[2017-08-20 09:37] stephan-gh commented on #339
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/88d4c5fbb8b66945f1a46a72e462940b77a5b427

[2017-08-20 09:37] #339 closed, assigned to stephan-gh

[2017-08-20 09:39] stephan-gh commented on #340
@JBYoshi Is this fixed now?

[2017-08-20 09:40] #315 closed, assigned to bloodmc

[2017-08-20 10:10] stephan-gh commented on #326
I still can't reproduce this, the world UUIDs are stored properly and stay the same all the time for me. I'm not sure if I can do anything to solve this unless you can provide exact steps to reproduce it (preferably with a simple test plugin).

[2017-08-20 10:55] #333 closed, assigned to stephan-gh

[2017-08-20 10:57] stephan-gh commented on #335
Does this only affect SpongeVanilla, or does the same apply to SpongeForge?

[2017-08-20 18:49] pie-flavor commented on #335
Specifically, it's SV only, but SF has a different bug which I believe I made another issue for.

[2017-08-21 00:40] JBYoshi commented on #313
See also https://github.com/SpongePowered/SpongeCommon/issues/1288 and https://github.com/SpongePowered/SpongeCommon/issues/1453.

[2017-08-21 01:17] ryantheleach commented on #333
Thanks Minecrell. I never realized that air/emptyitem could be enchanted.

[2017-08-21 07:47] stephan-gh commented on #333
@ryantheleach It seems like (for some reason) Minecraft keeps the same `ItemStack` instance when you drop items, it just decreases the stack size to 0 (and maybe sets it to `AIR` not sure). That's why the enchantments from the sword were still present.

[2017-08-21 08:11] stephan-gh commented on #335
I get a `ChangeBlockEvent.Place` when placing water and a `ChangeBlockEvent.Break` when picking it back up. I just made a simple test plugin that logs all `ChangeBlockEvent`s and it shows them.

[2017-08-21 10:25] lesbleu commented on #335
I report this [bug](https://github.com/SpongePowered/SpongeCommon/issues/1252) and this is fixed by this [Commit](https://github.com/SpongePowered/SpongeCommon/commit/e4438fd5ebc340a371c8b00f6c6a516584dcda38)

[2017-08-21 10:30] stephan-gh commented on #335
@pie-flavor Could you test if it's still happening for you in the latest SV version?

[2017-08-21 17:01] stephan-gh commented on #321
Please report cause tracking issues on the [SpongeCommon issue tracker](https://github.com/SpongePowered/SpongeCommon/issues). There is no cause tracking code in SpongeVanilla directly so it's an issue in SpongeCommon.

[2017-08-21 17:01] #321 closed, assigned to nobody

[2017-08-21 17:02] stephan-gh commented on #323
Please report cause tracking issues on the [SpongeCommon issue tracker](https://github.com/SpongePowered/SpongeCommon/issues). There is no cause tracking code in SpongeVanilla so it's an issue in SpongeCommon.

[2017-08-21 17:02] #323 closed, assigned to nobody

[2017-08-21 17:03] stephan-gh commented on #327
I'm going to close this until we have a way to reproduce this. If you find one, please re-open this issue on the [SpongeCommon issue tracker](https://github.com/SpongePowered/SpongeCommon/issues).

[2017-08-21 17:03] #327 closed, assigned to nobody

[2017-08-21 17:15] stephan-gh commented on #336
`ConstructEntityEvent.Post` is called at the end of the `Entity` constructor. At that point, the shooter isn't initialized yet. It is set shortly after (but before the arrow is spawned into the world).

The shooter is available if you listen to `SpawnEntityEvent` instead.

[2017-08-21 17:15] #336 closed, assigned to nobody

[2017-08-21 17:22] stephan-gh commented on #313
I'm going to close this issue in favor of https://github.com/SpongePowered/SpongeCommon/issues/1453  (it's extremely confusing to have 3 separate issues for the same problem).

[2017-08-21 17:22] #313 closed, assigned to nobody

[2017-08-22 15:09] codeHusky commented on #333
That's just lovely.

[2017-08-22 15:12] codeHusky commented on #326
Make sure to use a release copy of Sponge Vanilla, not a custom built one.
Don't change any properties, accept the server eula and let the game load.
Use that test plugin you already made and restart the server.
Observe the world UUID, then fully restart again.
It should change. If it doesn't, I don't know what I'm doing wrong or what is up with your computer.

[2017-08-22 15:36] stephan-gh commented on #326
@codeHusky Still no luck, everything working fine with `1.12.1-7.0.0-BETA-318`. So let's search for other differences in our environment. Looking at the horrible font rendering in your screenshots above you're using Windows. I use Linux so that might be a possible difference.

[2017-08-22 15:41] stephan-gh commented on #326
Working fine on Windows, just tested.

[2017-08-22 16:09] lesbleu commented on #326
Hi,
In this class [DBReader](https://github.com/codeHusky/HuskyCrates-Sponge/blob/master/src/main/java/com/codehusky/huskycrates/crate/db/DBReader.java#L60), The UUID is fully saved on the database ?
Because with the attributes "CHARACTER", you can save 1 letter.

Edit :
I checked and with H2 database, the plugin working correctly and I have no problems with world UUID.
With MySQL database, the pl

[2017-08-22 16:27] ryantheleach commented on #326
How do you stop the server? Mayhaps the uuid isn't written under some circumstances?

[2017-08-23 12:33] JBYoshi commented on #340
I think so, but I'm not sure. I'll check later today.

[2017-08-25 17:16] codeHusky commented on #326
I generally hit stop in IntelliJ, but I’ve experienced the same issue through typing stop

[2017-08-27 01:50] JBYoshi commented on #340
Tested all the scenarios here. This issue is now fixed.

[2017-08-27 01:52] #340 closed, assigned to JBYoshi

[2017-09-03 22:06] theboomer commented on #326
Is there a correlation between the actual UUIDs and the UUID-string that your plugin is trying unsuccessfully to lookup?  Byte-order switching, or string truncation of the last character or few, or the-same-but-different?   How does the UUID-from-string result compare to the actual map uuids, and to the input UUID string?
Are you using custom data to store UUIDs?  A long time ago, the mechanism fo

[2017-09-04 19:07] codeHusky commented on #326
@theboomer It's literally the UUID entirely changing between restarts. I did printouts and everything, it does actually change.

[2017-09-05 14:33] Zidane commented on #326
@codeHusky

I've tested this as well, using Minecrell's test plugin above. Remove your code entirely, run Minecrell's test plugin, try again.

It works fine for me too.

[2017-09-05 14:34] Zidane commented on #326
Also did you see @lesbleu 's comment above? Seems like your plugin is having issues.

[2017-09-05 15:08] theboomer commented on #326
1.11.2-6.0.0-BETA-207]   << The version in the error in the original question.

Testing "the latest version" is quite some distance away from there.
-
You also say "Saving and loading a position from a config after a restart" ... They don't persist,
Do you really mean to say that if you keep starting the server over and over, you will see the uuids change from run to run for the worlds?  Or do you

[2017-09-06 00:26] codeHusky commented on #326
The thing is, the code I have _works on forge perfectly fine_. It should work on SV no problem, but for some reason it doesn't. I'll run minecrell's test code, but I have little doubt that i wont be able to replicate the issue.

[2017-09-06 04:42] theboomer commented on #326
Thats why  I asked if there was any correlation between the uuids that you were expecting the values to represent, and the uuids that your code was retrieving (from configs) -- in case there is a push that never made it into SV, or a mixin based issue -- and the deserialization is mixing up the byte order.
If the map uuids are aaaaaaaaaaa-bbbbbbbbbb and your read-back is bbbbbbbbbb-aaaaaaaaaa afte

[2017-09-06 16:56] theboomer opened #344 "Mobs despawn when player leaves area (tp/respawn)-- Mojang server same tests does not."
Spongevanilla 1.12.1 Beta-322 but this has been behavior I've noticed for a long time but never thought about:
Not influenced by any plugins --server with ZERO plugins, using console or command-blocks to teleport a player from spawn to a test location over 400 blocks from spawn.

If there are mobs swarming in a region of the map around the player that is far away from spawn, and the player is kill

[2017-09-07 22:56] codeHusky commented on #326
I'm aware, I'm going to be looking at my code tonight and testing with minecrell's test code.

[2017-09-09 09:38] theboomer commented on #344
blood says to keep this issue opened for him

[2017-09-09 09:44] theboomer opened #345 "1.12.1 Programmatic Explosions do not update on client until relogin"
When an explosion is generated via plugin that will damage blocks and/or spread fire, the explosion occurs without any block updates seen on the client, but the aftermath is visible after logging out/logging in.

Spongevanilla 1.12.1 beta-323 but also happens in earlier versions.
![explosionsv](https://user-images.githubusercontent.com/3393225/30239037-aa7dd080-9521-11e7-8d3b-a3ef68a17157.gif)

Te

[2017-09-09 15:47] stephan-gh commented on #345
Have you tested if this happens on SpongeForge as well?

[2017-09-09 16:48] theboomer commented on #345
Had not.  Now have:
[code]
The behavior is the same with spongeforge.

[2017-09-09 16:49] stephan-gh commented on #345
In that case, please re-open this issue on the SpongeCommon issue tracker: https://github.com/SpongePowered/SpongeCommon/issues

[2017-09-09 16:49] #345 closed, assigned to nobody

[2017-09-12 22:33] theboomer opened #346 "1.12.1: Tracking phase /phasecontext errors powering pistons/fail to extend in some cases."
Attempting to power a piston directly from an adjacent lever or button causes phase-tracking error spam, and the piston doesn't trigger at all, either empty or with a block to push.

Buttons and levers can be on the block on the ground around the piston, placed on a block around the piston, or even can be used with redstone wire(s) between it and the piston to trigger the error.
Buttons and levers

[2017-09-13 01:53] kringeth000 opened #347 "Issues working with chests"
When opening a chest on the latest build, the chest open sound plays and the inventory window pops up, however the chest does not actually open, and anything that you put into the chest does not stay. When you open the chest again after closing it, items that you put in it just seconds ago are not there, and if you logout/login they reappear untouched in your inventory. Throws a lengthy console me

[2017-09-13 01:57] bloodmc commented on #347
Retest with build 327

[2017-09-13 02:02] kringeth000 commented on #347
Works like a charm!

Cheers!

[2017-09-13 02:08] #347 closed, assigned to nobody

[2017-09-13 02:15] theboomer commented on #346
Fixed in 327

[2017-09-13 02:15] #346 closed, assigned to nobody

[2017-09-13 21:04] theboomer opened #348 "1.12.1 Explosions result in hovering water layers, no water updates"
Explosions that occur near water and destroy blocks underwater or on the edge of water will not cause the water to flow into the spaces freed up after the explosion, and its not a client-side logout/login issue.
This quirky behavior is NOT observed in the corresponding Spongeforge versions.

Water updating issues from explosions has been observed in one form or another in SV for a long time but no

[2017-09-14 00:11] Cupmouse opened #349 "Server crashes when DetonateExplosiveEvent is canceled"
Server encounters 'java.lang.IllegalStateException: not primed' and dies when DetonateExplosiveEvent is canceled.

Build number: 1.12.1-7.0.0-BETA-327
Server log: https://pastebin.com/peWkgXsQ

I am installing my plugin, but no other plugins.
This is the code that I guess causing this error:
[code]

[2017-09-14 00:14] ryantheleach commented on #326
Duplicates:
https://github.com/NucleusPowered/Nucleus/issues/834
https://github.com/SpongePowered/SpongeCommon/issues/1181
https://github.com/SpongePowered/SpongeCommon/issues/1403

Possibly related:
https://github.com/SpongePowered/SpongeCommon/issues/95
https://github.com/SpongePowered/SpongeCommon/issues/648

@codeHusky My suggestion would be to investigate what your level_sponge.dat looks like

[2017-09-14 00:40] theboomer commented on #348
It seems that the effect is also related to other physics block-updates, as a tall wall of gravel will blow out the bottom, and remain suspended in the air - not a client side issue, login/logout does nothing.
![image](https://user-images.githubusercontent.com/3393225/30407013-b2b224ae-98c3-11e7-863d-b1adb1fbe375.png)

[2017-09-16 23:04] MarkTwoFive commented on #297
@bloodmc Thanks 👍

[2017-09-17 01:50] MusicalCookie opened #351 "The End."
Hey :) I'm running sponge vanilla 1.12 on my survival server, someone just went to the end for the first time and killed the dragon. Only 1 end city portals appeared. They went through it looking for end citys and there were none, and  there was no portal to get back. I teleported them out and deleted the end and tried again and it diddnt work. Thanks for your time

[2017-09-17 01:54] MusicalCookie commented on #348
I would like to note, that this is happening to me too.

[2017-09-17 04:18] theboomer commented on #351
Give your version and map seed

[2017-09-17 04:29] MusicalCookie commented on #351
Seed: 98765

Version: Minecraft: 1.12.1
SpongeAPI: 7.0.0-SNAPSHOT-d0d1f631
SpongeVanilla: 1.12.1-7.0.0-BETA-314

[2017-09-27 19:45] VapidLinus opened #352 ""Completing incorrect phase" when falling into the void"
Falling into the void causes an _"Completing incorrect phase"_ error in the console.

**Here's the log:**
https://hastebin.com/rinoyogesa.md

[2017-09-28 09:43] theboomer commented on #352
This is VERY and EASILY reproducible:   **/kill**  command to take yourself out, or in creative mode, punch your way straight down **below the bedrock** to fall out of the world.

This issue occurs in     Spongeforge-1.12.2-2486-7.0.0-BETA-2661
It does _NOT OCCUR_ in Spongeforge-1.12.2-2486-7.0.0-BETA-2665

This issue  (and another one that spams phase errors pertaining to EntityRiding ) appears t

[2017-09-28 10:24] dualspiral commented on #352
I pushed an update for SV, once it builds, let me know/close this issue if it indeed solves the issue.

[2017-09-28 10:36] VapidLinus commented on #352
@dualspiral

Yepp, got fixed in `spongevanilla-1.12.2-7.0.0-BETA-337`!
/kill or jumping into void no longer causes the error.

Cheers!

[2017-09-28 10:36] #352 closed, assigned to nobody

[2017-09-29 16:00] VapidLinus opened #353 "ChangeBlockEvent.Place fires twice"
`ChangeBlockEvent.Place` fires twice any time a player places a block.

[code]

[2017-09-29 16:03] parlough commented on #353
I'm fairly sure this was fixed in one of the latest commits, update to build 340 and test again please.

[2017-09-29 17:31] bloodmc commented on #353
Already fixed as Meronat stated. Update to latest.

[2017-09-29 17:31] #353 closed, assigned to nobody

[2017-10-10 15:39] gabizou commented on #335
Closing for lack of input.

[2017-10-10 15:39] #335 closed, assigned to nobody

[2017-10-11 09:19] DoNotSpamPls opened #355 "Java 9 is not supported"
When trying to use Sponge with Java 9, it says that you have an outdated version (funnily enough)

![image](https://asa-got.banned.today/21c588.png)

[2017-10-11 10:45] Mumfrey commented on #355
Duplicate of SpongePowered/SpongeCommon#1553.

Java 9 represents a massive internal change to the way the JVM is structured and thus any projects which interact extensively with class loading are going to be immediately broken by it. As @gabizou mentioned in the other issue, quite a lot of the toolchain used by a significant chunk of the minecraft modding community is broken by the changes in Java

[2017-10-11 10:45] #355 closed, assigned to nobody

[2017-10-29 01:24] Selebrator opened #356 "Java 9 is out of date"
![sponge_java_9](https://user-images.githubusercontent.com/17477114/32139896-4ca66e40-bc4f-11e7-85dd-7129f5d2f4fd.png)
Since Java 9 is now released I think the error message should be updated.
I don't think this is a duplicate of [SpongeCommon/issues/1553](https://github.com/SpongePowered/SpongeCommon/issues/1553) or #355 because im only coplaining about the error message not about the fact that S

[2017-10-29 01:27] Selebrator commented on #356
You dont have to explain to me how I can run the server properly.
If anyone comes here looking for help, you can run the server if you have Java 8 installed by typing `"C:\Program Files\Java\jre1.8.0_141\bin\java.exe" -jar spongevanilla-1.12.2-7.0.0-BETA-348.jar` (or whatever your Java path and sponge server jar is) in the command prompt (cmd.exe)

[2017-10-29 01:38] liach commented on #356
Yes, Java 9 does not work with sponge or minecraft.

[2017-10-29 01:39] kashike commented on #356
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1553.

[2017-10-29 01:39] #356 closed, assigned to nobody

[2017-10-29 01:41] Selebrator commented on #356
ARE YOU KIDDING ME? I just said its about the message, not about the fact that Sponge doesnt support Java 9. As long as you dont update that tiny bit of flavor text you will have people reporting it because it just looks so stupid.

[2017-10-29 04:18] kashike commented on #356
Read https://github.com/SpongePowered/SpongeVanilla/issues/355#issuecomment-335770593.

[2017-11-01 22:07] ghost opened #357 "Server crashes when someone tp out of the world border"
I was planning to put a limit on my server, so I went to see the edge of the world, but when trying to teleport to 29,999,984 (world border) I put a 9 more and the server crashed. I could turn on the server again but if I tried to connect with the account that I teleported, server went down. It was necessary to recreate the world.
Usually a message appears in the chat saying that it is impossible

[2017-11-02 12:35] JBYoshi commented on #357
Could you post the crash report?

[2017-11-02 14:05] ryantheleach commented on #357
" It was necessary to recreate the world." For the record, resetting your position by deleting your player.dat would have been enough, or editing it to be at 0, 100, 0

[2017-11-02 14:38] ryantheleach commented on #357
Investigation on vanilla SP (and LAN) Minecraft will teleport the player on login if the player is outside  29,999,999 to 29,999,999 in the player.dat .

Sponge should either ease it to 29,999,999 when called via the API, or return a failed operation. I'd prefer the silent easing myself.

[2017-11-02 14:57] ryantheleach commented on #357
@JBYoshi Looks like vanilla corrects it in `NetHandlerPlayServer::processPlayer(C03PacketPlayer packetIn)` Where it calls `this.playerEntity.moveEntity(d11, d12, d13);`

Not sure if Sponge calls this (or if my stuff is up to date, this was from 1.8.9 (puke) need to work out how to search mc sources on newer versions or flush my gradle cache or something).

[2017-11-02 14:59] dualspiral commented on #357
I think that in the case of a plugin trying to set a location outside of the world limits via the API, Sponge should raise an exception. The _requested_ operation would not be a success and should not be noted as such. A plugin should not expect Sponge to correct an incorrect input, the plugin should be offered the chance to correct it itself, and thus still be in full control of the teleport proc

[2017-11-02 15:08] ryantheleach commented on #357
The move method in question does a ton of other stuff. I'd sooner have us call move, then have to recreate everything else it does and work out if it's necessary, as well as the additional maintenance.

[2017-11-02 18:14] ghost commented on #357
Here is the crash report: [Crash report SpongeVanilla](https://pastebin.com/ABKusmxp)
@ryantheleach  It's my first server, and I didn't know there was this method of editing player.dat, thanks ^^

[2017-11-06 09:21] ghost opened #358 "build 350 startup error"
<pre>
[10:13:07] [main/ERROR] [mixin]: Injection error: LVT in net/minecraft/block/BlockDropper::func_176439_d(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;)V has incompatible changes at opcode 141 in callback net/minecraft/bloc
Expected: [Lnet/minecraft/block/BlockSourceImpl;, Lnet/minecraft/tileentity/TileEntityDispenser;, I, Lnet/minecraft/item/ItemStack;, Lnet/minecraft/util/En

[2017-11-06 18:29] Faithcaio commented on #358
should be fixed in latest

[2017-11-06 18:29] #358 closed, assigned to Faithcaio

[2017-11-07 12:05] ghost opened #359 "memory leaking"
when run spongevanilla with minimum plugins, after some time leaks memory
<pre>
sponge plugins
[13:00:32 INFO]: Plugins (12): Minecraft, Mod Coder Pack, SpongeAPI, SpongeVanilla, BungeeTabListPlus-SpongeBridge, GriefPrevention, LuckPerms, Nucleus, Prism, Sponge Telnet, Total Economy, WorldEdit

[13:00:47 INFO]: SpongeVanilla
    Minecraft: 1.12.2
    SpongeAPI: 7.0.0-SNAPSHOT-14f459d8
    SpongeVa

[2017-11-07 12:17] Toshimichi0915 opened #360 "/say @e cause disconnection"
Just executing /say @e cause disconnection
`Internal Exception: io.netty.handler.codec.DecorderException: java.lang.IndexOutBoundsException: readerIndex(1) + length(1) exceeds writerIndex(1): PooledUnsafeDirectByteBuf(ridx: 1, widx: 1, cap: 1)`

[2017-11-07 12:18] phit commented on #360
please add which version you were using

[2017-11-07 12:21] Toshimichi0915 commented on #360
Oh, sorry.
Version: spongevanilla-1.12.2-7.0.0-BETA-351
This is the log
[code]

[2017-11-07 12:24] phit commented on #357
see also https://github.com/SpongePowered/SpongeCommon/issues/168

[2017-11-07 14:19] ghost commented on #359
tested with only nucleus plugin and got still memory leaking :(

[2017-11-07 17:46] ghost commented on #359
Problem caused by one hopper. :( Thx to minecrell for help.

[2017-11-07 18:58] stephan-gh commented on #359
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/309b4fac1bbe652b1d35028283383e7e526c33e6

[2017-11-07 18:58] #359 closed, assigned to Faithcaio

[2017-11-07 19:43] phit commented on #351
@MusicalCookie Seems to work fine with 1.12.2-7.0.0-BETA-351, killed dragon twice and 2 portals spawned, one each time as expected.

Can you retest this and confirm this is fixed with newer versions?

[2017-11-22 21:44] ImMorpheus commented on #360
This is not a Sponge issue.
You can also reproduce that with Spigot, just spawn lots of entities and execute /say @e.

The "problem" lies within minecraft (writeString(String string) method in the pucketbuffer class) and the 32767 byte limit is intended behaviour.

[2017-11-22 21:47] phit commented on #360
https://bugs.mojang.com/browse/MC-45838

[2017-11-22 21:47] #360 closed, assigned to nobody

[2017-11-22 22:23] ImMorpheus commented on #351
Not able to reproduce this either. (same seed, bleeding branch)

[2017-11-22 22:24] #351 closed, assigned to nobody

[2017-11-23 15:27] ImMorpheus commented on #357
Same thing happens with SF 1.12.2-2529-7.0.0-BETA-2742.

We should probably close this as it's a SpongeCommon issue. (see phit's comment above)

[2017-11-23 15:35] ImMorpheus commented on #349
Same with SF 1.12.2-2529-7.0.0-BETA-2742.

We should reopen this as a SpongeCommon issue.

[2017-11-23 18:30] phit commented on #349
moved to https://github.com/SpongePowered/SpongeCommon/issues/1613

[2017-11-23 18:30] #349 closed, assigned to nobody

[2017-11-24 00:06] ryantheleach commented on #357
Closing in favor of https://github.com/SpongePowered/SpongeCommon/issues/168

[2017-11-24 00:06] #357 closed, assigned to JBYoshi

[2017-11-24 03:42] ryantheleach commented on #324
@aWitch-Doctor If you could test this with the latest 1.10 SpongeVanilla before someone gets around to testing it that would be appreciated, there have been a few changes that potentially fix this issue in the meantime.

However, I'm somewhat curious as to why you are using 1.10 SV vs 1.11. I understand reluctance over 1.12 until API 7 is released, don't feel that this is pressure to upgrade howev

[2017-11-24 03:46] ryantheleach commented on #307
If there isn't a corresponding issue in SpongeCommon there needs to be one.

This is due to a Mojang ~feature~ bug that generates mobs wearing armor that can contain multiple copies of protection enchantments.

Moved to Sponge Common.

[2017-11-24 04:03] #307 closed, assigned to Aaron1011

[2017-11-24 16:20] ImMorpheus commented on #348
This is part of a larger issue with block updates.

Duplicate of SpongePowered/SpongeCommon#1314

[2017-11-26 20:59] #348 closed, assigned to nobody

[2017-12-13 20:43] Faithcaio commented on #342
fixed in latest

[2017-12-13 20:43] #342 closed, assigned to Faithcaio

[2017-12-18 16:57] gdepoire opened #362 "Exception about 3 seconds after connecting to a brand new server with 1.12.2-7.0.0-BETA-374"
https://pastebin.com/raw/e5rtrR9y

[2017-12-18 18:44] vectrixdevelops commented on #362
This should be fixed in a PR I've made to SpongeCommon. https://github.com/SpongePowered/SpongeCommon/pull/1641

[2018-01-04 07:21] SimonFlash opened #364 "WorldGenerationModifiers broken"
**I am currently running**
- SpongeVanilla version: 7.1.0-BETA-3

`WorldGenerationModifer` are not being applied to new worlds that are created with them. Both `sponge:void` and `sponge:skylands` result in a void world, and it does appear that the modifier is known in creation.

Upon testing with a plugin I'm working on, it appears that the `#modifyWorldGenerator` method is not being called at all

[2018-01-05 17:48] nihiluis opened #365 "Exception on exploding creeper"
this happened on creeper explode.

[code]

[2018-01-13 04:47] ryantheleach opened #366 "Teleporting kills you, tp's to 0,0,0"
Teleport is broken on Sponge Vanilla 1.12.2-7.1.0-Beta-9

![image](https://user-images.githubusercontent.com/141554/34902857-6db51422-f874-11e7-9efe-f02e19e5ffdc.png)

`/minecraft:tp simon_flash ~ ~ ~`

Simon died shortly after, and said he was teleported to 0, 0, 0

Unable to replicate at the moment, trying to track down why.

[2018-01-13 04:51] #366 closed, assigned to nobody

[2018-01-13 04:52] ryantheleach commented on #366
Instructions too vague, unable to replicate. Was able to do it a few times successfully, we figure/assume it's some obscure edge case with a plugin.

[code]

[2018-01-15 17:18] ImMorpheus commented on #362
PR merged, this can be closed.